<template>
    <!-- s: page-start -->
    <div id="contents">
        <div class="cart-list-wrap">
            <div class="tit">장바구니 상품 <span>({{cartItems.length}})</span></div>
            <table class="cart-list-table rspvn-table">
                <colgroup>
                    <!--<col width="74"/>-->
                    <col width=""/>
                    <col width="12%"/>
                    <col width="12%"/>
                    <col width="12%"/>
                    <col width="12%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>배송비</th>
                    <th>선택</th>
                </tr>
                </thead>
                <div v-if="cartItems.length === 0" id="noItems"><p>No Items</p></div>
                <tbody v-for="(item, index) in cartItems" :key="item.index">
                    <cartcontentitem :cart-product="item" :id="index" :is-cart="true" @deleteItem="deleteItem"
                                     @quantitychange="initQuantity" @reloadBasket="reloadBasket"
                                     ref="cartitems"></cartcontentitem>
                </tbody>
            </table>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="cart-buy-wrap">
            <ul>
                <li>
                    <span class="btxt">상품금액({{cartItems.length}} 개)</span>
                    <span class="stxt">{{decimalWithComma(parseInt(totalPriceWithoutDiscount))}} 원</span>
                </li>
                <li>
                    <span class="btxt">배송비</span>
                    <span class="stxt">3,000 원</span>
                </li>
                <li>
                    <span class="btxt">할인 금액</span>
                    <span class="stxt corange">-{{decimalWithComma(parseInt(totalPriceWithoutDiscount - totalPrice))}}원</span>
                </li>
                <li>
                    <span class="btxt b">결제할 금액</span>
                    <span class="stxt b corange">{{decimalWithComma(parseInt(totalPrice) + 3000)}}원</span>
                </li>
                <li>
                    <span class="btxt">적립 예정액</span>
                    <span class="stxt corange">1,000원 - 2,000원(약 7%)</span>
                    <span class="ctxt">(배송 완료 후 후기 작성시)</span>
                </li>
            </ul>
            <div class="sgap"></div>
            <div class="btn-wrap">
                <a href="#" class="sr-btn" @click="order_cart"><span>주문하기</span></a>
            </div>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="other-product">
            <h3>다른 고객이 함께 구입한 상품</h3>
            <ul>
                <li>
                    <a href="#">
                        <div class="img"><img src="../../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                        <div class="txt">
                            <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                            <span class="stxt">10,000원</span>
                            <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                        <div class="txt">
                            <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                            <span class="stxt">10,000원</span>
                            <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="img"><img src="../../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                        <div class="txt">
                            <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                            <span class="stxt">10,000원</span>
                            <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- e: page-end -->
</template>

<script>

    import cartcontentitem from './cartContent_Item.vue'

    export default {
        name: 'cartContent',
        components: {
            cartcontentitem: cartcontentitem
        },
        data: function () {
            return {
                totalPrice: 0,
                totalPriceWithoutDiscount: 0,
                quantity: 0,
                cartItems: [],
                basketInfo: {}
            }
        },
        methods: {
            // change quantity of target product of the basket, proped datas should be changed only in the parent component
            // natually, quantity value should be changed in the child component but it's not editable if that data is proped data
            // so, i should change quantity value by using a $emit to upload to parent and change it correctly.
            // if responsable data is changed, virtual DOM is reloaded automatically.
            initQuantity: function (num, target) {
                this.cartItems[target].quantity = num;
            },
            deleteItem: function (itemId) {
                var _this = this;

                $('.cart-list-table tbody>tr').eq(itemId).css('animation', 'fadeOutRight 3s');
                setTimeout(function () {
                    if (_this.cartItems.length === 1 || itemId === _this.cartItems.length - 1) {
                        _this.cartItems.pop();
                    } else {
                        var temp = _this.cartItems.slice(0, itemId);
                        var temp2 = _this.cartItems.slice((itemId + 1));
                        _this.cartItems = temp.concat(temp2);
                    }
                    window.eventBus.$emit('delItem', _this.cartItems);

                    $('.cart-list-table tbody>tr').css('animation', 'none');
                }, 2000)
            },
            // whole items order
            order_cart: function () {
                var _this = this;

                window.$http.get('/login_health_check/')
                        .then(function (result_login) {
                            if (result_login.status === 204) {
                                alert('결제를 하기 위해서는 로그인이 필요합니다. 로그인 페이지로 이동합니다.');
                                _this.$router.push('/login/');
                                return false;
                            } else if (result_login.status === 200) {
                                window.eventBus.restItems = [];
                                _this.$router.push({path: '/order/', query: _this.basketInfo});
                            }
                        })
            },
            // init cart items
            getCartItem: function (link) {
                var _this = this;

                window.$http.get(link)
                    .then(function (result) {

                        window.eventBus.cartItemNum = result.data.length;

                        for (var i in result.data) {
                            var quantity = result.data[i].quantity,
                                product = result.data[i].product,
                                lineDetail = result.data[i].url;

                            var resultSet = {
                                product: product,
                                quantity: quantity,
                                lineInfo: lineDetail
                            };

                            if (_this.cartItems.length !== 0) {
                                for (var i = 0; i < _this.cartItems.length; i++) {
                                    if (_this.cartItems[i].product === product) {
                                        _this.cartItems[i] = resultSet;
                                        _this.cartItems.sort();
                                        return;
                                    }
                                }
                            }
                            _this.cartItems.push(resultSet);
                        }

                    })
            },
            // when price is changed from children components, total_price should be re-calculated soon
            reloadBasket: function (basket) {
                this.basketInfo = basket; // to get total price
                this.totalPrice = parseInt(basket.total_incl_tax);
                this.totalPriceWithoutDiscount = parseInt(basket.total_incl_tax_excl_discounts);

                this.getCartItem(basket.lines); // to get a product information
            },
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        created: function () {
            var _this = this;

            // user cart 조회
            window.$http.get('/basket/').then(function (result) {
                var lineLink = result.data.lines;

                _this.basketInfo = result.data;
                _this.totalPrice = parseInt(result.data.total_incl_tax);
                _this.totalPriceWithoutDiscount = parseInt(result.data.total_incl_tax_excl_discounts);

                _this.getCartItem(lineLink);
            })
        }
    }
</script>

<style>
    #noItems {
        width: 85vw;
        height: 200px;
        text-align: center;
        position: relative;
        transform: translate(0, 50%);
        font-size: 50px;
        color: rgba(255, 153, 51, 0.5);
        text-shadow: 6px 6px 18px;
    }
</style>

