<template>
    <tr>
        <!--<td v-if="isCart"><p class="check-box"><input type="checkbox" :id="checkboxId" v-model="checkbox" checked/><label :for="checkboxId"><span class="blind">선택</span></label></p></td>-->
        <td>
            <div class="info">
                <img class="thumbnailImage" alt=""/>
                <div class="txt">
                    <p class="btxt" v-if="iteminfo.length !== 0">{{iteminfo.product.title}}</p>
                    <p class="stxt"></p>
                </div>
            </div>
        </td>
        <td>
            <p class="quantity_cart">
                <span class="left_icon" v-if="isChange" @click="decreaseNum"></span>
                <span class="num" :value="iteminfo.quantity">{{iteminfo.quantity}}개</span>
                <span class="right_icon" v-if="isChange" @click="increaseNum"></span>
            </p>
            <p class="break">
                <a class="cr-btn w70" @click="changeNum" v-if="!isChange"><span>변경</span></a>
                <a class="cr-btn w70" @click="modifyNum" v-if="isChange"><span>확인</span></a>
            </p>
        </td>
        <td>
            <p class="discount">{{decimalWithComma(parseInt(itemPrice.incl_tax))}} 원</p>
            <p class="won">{{decimalWithComma(parseInt(itemPrice.incl_tax))}} 원</p>
        </td>
        <td v-if="!isCart">{{getDeliveryTime}}</td>
        <td v-if="isCart"><p class="delivery">3000 원<span>(윙잇)</span></p></td>
        <td>
            <p class="mg5t" @click="transOrderPage" v-if="isCart"><a class="cr-btn w100"><span>주문하기</span></a></p>
            <p><a href="#n" class="cw-btn w100" @click="deleteItem"><span>삭제하기</span></a></p>
        </td>
    </tr>
</template>

<script>
    export default {
        name: 'cartcontentitem',
        props: ['cartProduct', 'id', 'isCart'],
        data: function () {
            return {
                iteminfo: [],
                itemPrice: [],
                isChange: false
            }
        },
        computed: {
            getDeliveryTime: function () {
                var date = new Date();
                var month = date.getMonth() + 1;
                var day = date.getDate() + 1;
                var yoil = date.getDay() + 1;
                var yoilString = '';
                switch (yoil) {
                    case 1 : yoilString = '월'; break;
                    case 2 : yoilString = '화'; break;
                    case 3 : yoilString = '수'; break;
                    case 4 : yoilString = '목'; break;
                    case 5 : yoilString = '금'; break;
                    case 6 : yoilString = '토'; break;
                    case 7 : yoilString = '일'; break;
                }
                return month + '/' + day + ' ' + yoilString
            }
        },
        methods: {
            deleteItem: function () {
                var _this = this;

                var result = window.confirm('정말 삭제 하시겠습니까?');

                if (result) {
                    _this.$emit('deleteItem', _this.id);

                    window.$http.delete(_this.cartProduct.lineInfo)
                            .then(function () {
                                window.$http.get('/basket/').then(function (basket) { _this.$emit('reloadBasket', basket.data)})
                            })
                }
            },
            // simple toggle of button
            changeNum: function () {
                $('.num').addClass('is-change')
                this.isChange = true
            },
            modifyNum: function () {
                var _this = this;

                window.$http.delete(_this.cartProduct.lineInfo).then(function () {
                    window.$http.post('/basket/add-product/', {url: _this.iteminfo.product.url, quantity: parseInt(_this.iteminfo.quantity)})
                            .then(function (result) {
                                _this.$emit('reloadBasket', result.data)
                            })
                            .catch(function (err) {
                                window.alert(err.message)
                            })
                });

                $('.num').removeClass('is-change');
                this.isChange = false;
            },
            decreaseNum: function () {
                var _this = this;

                if (_this.iteminfo.quantity > 1) {
                    _this.iteminfo.quantity--;
                    _this.$emit('quantitychange', _this.iteminfo.quantity, _this.id)
                }
            },
            increaseNum: function () {
                var _this = this

                _this.iteminfo.quantity++
                _this.$emit('quantitychange', _this.iteminfo.quantity, _this.id)
            },
            transOrderPage : function() {
                // 주문 아이템을 orderPage로 전달함 (array) 단일 상품 현재 vue의 iteminfo를 참조
                var _this = this;

                window.$http.get('/login_health_check/')
                        .then(function (result_login) {
                            if (result_login.status === 204) {

                                alert('결제를 하기 위해서는 로그인이 필요합니다. 로그인 페이지로 이동합니다.');
                                _this.$router.push('/login/');
                                return false;

                            } else if (result_login.status === 200) {

                                var quantity = _this.iteminfo.quantity;
                                var url = _this.iteminfo.product.url;

                                var basketInfo, restItems = []; // 기존 아이템 저장

                                window.$http.get('/basket/').then(function (result) {

                                    var lines = result.data.lines;
                                    var basketurl = result.data.url;

                                    window.$http.get(lines).then(function (result_lines) {

                                        if (result_lines.data.length === 0) {

                                            window.$http.post('/basket/add-product/', {url: url, quantity: quantity})
                                                    .then(function (result_add) {

                                                        basketInfo = result_add.data;
                                                        _this.$router.push({path: '/order/' ,query: basketInfo});

                                                    })
                                        } else {

                                            for (var i in result_lines.data) {

                                                if (result_lines.data[i].product !== url) {

                                                    var item = {

                                                        url: result_lines.data[i].product,
                                                        quantity: result_lines.data[i].quantity

                                                    };

                                                    restItems.push(item)
                                                }
                                            }
                                            window.$http.delete(basketurl)
                                                    .then(function (result_basket) {

                                                        window.$http.post('/basket/add-product/', {url: url, quantity: quantity})
                                                                .then(function (result_add) {

                                                                    basketInfo = result_add.data;
                                                                    _this.$router.push({path: '/order/' ,query: basketInfo});

                                                                    window.eventBus.restItems = restItems;

                                                                })
                                                    })
                                        }
                                    })
                                })
                            }
                        })

            },
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        created: function () {
            var _this = this;

            window.$http.get(_this.cartProduct.product)
                .then(function (result) {

                    _this.iteminfo = {
                        product: result.data,
                        quantity: _this.cartProduct.quantity
                    };

                    if (result.data.images.length !== 0) {
                        $('.thumbnailImage').eq(_this.id).attr('src', result.data.images[0].original)
                    } else {
                        $('.thumbnailImage').eq(_this.id).attr('src', require('../../assets/img/Content/replaceImage.png'))
                    }

                    window.$http.get(result.data.price)
                            .then(function (price) {
                                _this.itemPrice = price.data;
                                _this.itemPrice.itemSelected = true;
                                _this.itemPrice.id = result.data.id;
                            })
                })
        }
    }
</script>

<style>
    .quantity_cart {
        display: inline-flex;
        position: relative;
        margin-bottom: 14px;
    }
    .is-change {
        position: relative;
        display: inline-block;
        padding: 0;
    }
    .left_icon {
        content: "";
        background: url(../../assets/img/Sub/left.png) no-repeat center;
        width: 15px;
        height: 15px;
        display:inline-block;
        margin-right: 12px;
        background-size: contain;
        position: relative;
        cursor: pointer;
    }
    .left_icon:active {
        top: 1px;
    }
    .right_icon {
        content: "";
        background: url(../../assets/img/Sub/right.png) no-repeat center;
        width: 15px;
        height: 15px;
        display:inline-block;
        margin-left: 12px;
        background-size: contain;
        position: relative;
        cursor: pointer;
    }
    .right_icon:active {
        top: 1px;
    }
</style>