<template>
  <div id="contents">
    <div class="coupon-list-wrap">
      <ul>
        <li>
          <span class="btxt">쿠폰정보</span>
          <span class="stxt">전상품 배송비 3,000원 할인!</span>
        </li>
        <li>
          <span class="btxt">유효기간</span>
          <span class="stxt">2017 - 04 - 28  00 : 00 : 00 ~ 2017 - 04 - 28  23 : 59 : 59   </span>
        </li>
      </ul>
    </div>
    <div class="gap"></div>
    <div class="btn-wrap c">
      <a href="#n" class="bw-btn coupon-regist" @click="registerCoupon"><span>쿠폰 등록</span></a>
    </div>
    <div class="gap"></div>

  </div>
  <!-- e: page-end -->
</template>

<script>

  export default {
     name : 'coupon',
     data : function() {
         return {
             show : false,
         }
     },
     methods : {
       registerCoupon : function(ev) {
         window.eventBus.$emit('openModal', 'coupon')
       }
     }
  }
</script>

<style>
  @import "vodal/common.css";
  @import "vodal/rotate.css";
  @import "vodal/slide-up.css";
</style>
