<template>
  <tr>
    <td>
      <div class="info">
        <p class="name">{{deliveryInfo.first_name}}</p>
        <a class="cw-btn"><span>수정</span></a>
        <a class="cw-btn" @click="deliveryItemDel"><span>삭제</span></a>
        <a class="cr-btn" v-if="deliveryInfo.is_default_for_shipping"><span>기본 배송지</span></a>
      </div>
    </td>
    <td class="l">
      <p class="post">({{deliveryInfo.postcode}})</p>
      <p class="addr">{{deliveryInfo.line1 + " " + deliveryInfo.line2}}</p>
    </td>
    <td>{{deliveryInfo.phone_number.replace('+82', '0')}}</td>
  </tr>
</template>

<script>
  export default {
    name : 'deliveryAddr',
    props : ['deliveryInfo'],
    methods: {
      deliveryItemDel: function () {

        var _this = this;

        this.$emit('deleteThis', _this.deliveryInfo.id)

      }
    }
  }
</script>
