<template>
    <!-- s: page-start -->
    <div id="contents">
        <div class="modify-list-wrap">
            <ul>
                <li>
                    <span class="btxt">이름</span>
                    <input type="text" v-model="username" class="w100p" onfocus="clearText(this)" onblur="defaultText(this)"/>
                </li>
                <li>
                    <span class="btxt">휴대전화</span>
                    <input disabled type="text" value="010 5555 8963" class="w100p" onfocus="clearText(this)"
                           onblur="defaultText(this)" style="background-color: #c8c8c8; opacity: 0.7"/>
                </li>
                <li>
                    <span class="btxt">이메일</span>
                    <input disabled type="text" v-model="useremail" class="w100p" onfocus="clearText(this)"
                           onblur="defaultText(this)" style="background-color: #c8c8c8; opacity: 0.7"/>
                </li>
                <li>
                    <span class="btxt">마케팅 수신</span>

                    <p class="check-box"><input type="checkbox" id="sel-01"/><label for="sel-01">이메일</label></p>

                    <p class="check-box"><input type="checkbox" id="sel-02"/><label for="sel-02">SMS</label></p>
                </li>
                <template v-if="isChangePswd">
                    <div class="gap"></div>
                    <li>
                        <span class="btxt">현재 비밀번호</span>
                        <input type="password" class="w100p" id="old_pass"/>
                    </li>
                    <li>
                        <span class="btxt">새로운 비밀번호</span>
                        <input type="password" class="w100p" id="new_pass"/>
                    </li>
                    <li>
                        <span class="btxt">비밀번호 확인</span>
                        <input type="password" class="w100p" id="pass_compare"/>
                    </li>
                </template>
            </ul>
            <div class="gap"></div>
            <div class="btn-wrap">
                <a class="sr-btn" @click="editInfo"><span>수정</span></a>
                <a class="sw-btn" @click="changePswd"><span>비밀번호 변경</span></a>
                <a class="sw-btn" @click="delAccount"><span>탈퇴</span></a>
            </div>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="delivery-info-wrap">
            <h3>배송지 정보</h3>
            <table class="tbl-type01">
                <colgroup>
                    <col width="30%"/>
                    <col width="*"/>
                    <col width="30%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>배송지명 / 수령인</th>
                    <th>주소</th>
                    <th>연락처</th>
                </tr>
                </thead>
                <tbody>
                    <delivary-addr-item :delivery-info="item" @deleteThis="deleteItemFromList" v-for="item in deliveryInfo" :key="item.id" v-if="deliveryInfo.length !== 0"></delivary-addr-item>
                </tbody>
            </table>
            <template v-if="deliveryInfo.length === 0">
                <div class="noItems"><p>No Items</p></div>
            </template>
            <div class="gap"></div>
            <div class="btn-wrap c">
                <a class="sw-btn" @click="deliveryAddrRegister"><span>배송지 등록</span></a>
            </div>
        </div>

    </div>
    <!-- e: page-end -->
</template>

<script>
    import delivaryAddrItem from './deliveryAddrItem.vue'


    export default {
        name: 'editInfo',
        data: function () {
            return {
                deliveryInfo: [],
                username: '',
                useremail: '',
                isChangePswd: false
            }
        },
        components: {
            delivaryAddrItem
        },
        methods: {
            editInfo: function () {
                var _this = this;

                window.$http.patch('/profile/', {first_name: _this.username})
                        .catch(function (err) {
                            alert(err.message)
                        });

                if (_this.isChangePswd) {
                    var old_pass = $('#old_pass').val(), new_pass = $('#new_pass').val(), compare_pass = $('#pass_compare').val();
                    var passwordPatten = /((?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*_-]).{6,20})/;

                    if (new_pass !== compare_pass) {
                        alert('비밀번호가 틀립니다. 다시 확인 해 주세요.')
                    } else {
                        if (passwordPatten.test(new_pass)) {
                            window.$http.put('/password/change/', {old_password: old_pass, new_password: new_pass})
                                    .then(function (result) {
                                        alert('비밀번호가 성공적으로 변경 되었습니다.')
                                    })
                                    .catch(function (err) {
                                        if (err.response.status === 400) {
                                            alert('비밀번호가 틀립니다. 다시 확인 해 주세요.')
                                        }
                                    })
                        }
                    }

                    _this.isChangePswd = false
                }

            },
            changePswd: function () {
                var _this = this;

                _this.isChangePswd ? _this.isChangePswd = false : _this.isChangePswd = true;
            },
            delAccount: function () {

                // 회원 탈퇴 로직 작성

            },
            deliveryAddrRegister: function () {

                window.eventBus.$emit('openModal', 'delivery')

            },
            deleteItemFromList: function (targetId) {
                var _this = this;

                var result = window.confirm('정말 삭제 하시겠습니까?');
                if (result) {
                    $('.delivery-info-wrap tr').eq(targetId).addClass('deleteItemEffect');

                    setTimeout(function () {
                        for (var i = 0; i < _this.deliveryInfo.length; i++) {
                            if (_this.deliveryInfo[i].id === targetId) {
                                if (i === _this.deliveryInfo.length - 1 || _this.deliveryInfo.length === 1) {

                                    _this.deliveryInfo.pop()

                                } else {

                                    var temp = [];
                                    var temp2 = [];
                                    temp = _this.deliveryInfo.slice(0, i);
                                    temp2 = _this.deliveryInfo.slice(i + 1);
                                    _this.deliveryInfo = temp.concat(temp2);

                                }

                                window.$http.delete('/useraddresses/' + targetId + '/')
                            }
                        }
                    }, 2000)
                }

                $('.deleteItemEffect').removeClass('.deleteItemEffect')
            }
        },
        created: function () {
            var _this = this;
            window.$http.get('/login_health_check/').then(function (result) {
                if (result.status === 200) {

                    window.$http.get('/useraddresses/')
                            .then(function (result) {

                                _this.deliveryInfo = result.data.sort(function (a, b) {
                                    return a.id - b.id
                                })

                            });

                    window.$http.get('/profile/')
                            .then(function (result) {

                                _this.username = result.data.first_name;
                                _this.useremail = result.data.email

                            })

                } else {

                    alert('로그인이 필요한 서비스 입니다. 로그인 페이지로 이동합니다.');
                    _this.$router.push('/login/');
                    return false;

                }
            });

            window.eventBus.$on('updateDeliveryAddr', function (info) {

                _this.deliveryInfo.push(info)

            })

        },
        mounted: function () {

            var _this = this;

            _this.$nextTick(function () {
                _this.deliveryInfo.sort(function (a, b) {return a.id - b.id})
            })
        }
    }
</script>

<style>
    @import "vodal/common.css";
    @import "vodal/rotate.css";
    @import "vodal/slide-up.css";

    .noItems {
        width: 740px;
        height: 200px;
        text-align: center;
        position: relative;
        transform: translate(0, 50%);
        font-size: 50px;
        color: rgba(255, 153, 51, 0.5);
        text-shadow: 6px 6px 18px;
    }
    .deleteItemEffect {
        animation: fadeOutRight 3s;
    }
</style>


