<template>
    <!-- s: page-start -->
    <div id="contents">
        <div class="order-ov">
            <div class="fl">
                <h3 class="u-tit03">작성 가능 후기 <span>(주문 후 45일 이내)</span></h3>
                <dl id="orderItems">
                    <dt>{{orders.length}}개</dt>
                </dl>
            </div>
            <div class="fr">
                <h3 class="u-tit03">예상 적립금 <span>(후기 작성시)</span></h3>
                <dl>
                    <dt>0 - 0원</dt>
                    <dd>
                        <!-- <div class="info">
                                      <img src="../_Img/Content/cart-sm01.jpg" alt=""/>
                                      <div class="txt">
                                          <p class="btxt">[냉부해 - 이연복] 완선이는 이걸 먹고 웃지</p>
                                          <p class="stxt">19,400원   <span>2017 - 09 - 10 (화)</span></p>
                                          <p class="ctxt">결제완료   <span>출고완료(2)</span></p>
                                      </div>
                                  </div> -->
                    </dd>
                </dl>
            </div>
            <div class="gap"></div>
            <div class="order-item-lists">
                <order-items :order-item="item" v-for="item in currentPage" :key="item.number"></order-items>
            </div>
            <div class="gap"></div>
            <div class="paging-wrap">
                <div class="round">
                    <a class="prev ctrl" @click="ctrlPage('prev')"><span
                            class="blind">이전 페이지로</span></a>
                    <ul>
                        <template v-for="(item, index) in pagination">
                            <li><a @click="transPage">{{index + 1}}</a></li>
                        </template>
                        <li v-if="pagination.length > 5"><a href="#">...</a></li>
                    </ul>
                    <a class="next ctrl" @click="ctrlPage('next')"><span
                            class="blind">다음페이지로</span></a>
                </div>
            </div>
            <div class="gap"></div>
        </div>

    </div>
    <!-- e: page-end -->
</template>

<script>
    import orderItems from './orderHistory_item.vue'
    import Pagenation from '../../js/pagenation'

    export default {
        name: 'orderHistory',
        data: function () {
            return {
                orders: [],
                isExpanded: false,
                pagination: [],
                currentPage: []
            }
        },
        components: {
            orderItems
        },
        methods: {
            expandingItems: function () {
                $('#orderItems').css({'max-height': 'none', 'margin-bottom': 20})
                $('#orderItems').addClass('expand')
                this.isExpanded = true
            },
            contractItems: function () {
                $('#orderItems').css({'max-height': 480, 'margin-bottom': 20})
                $('#orderItems').removeClass('expand')
                this.isExpanded = false
            },
            ctrlPage: function (direction) {
                var currentPage = parseInt($('.active').text())
                $('.active').removeClass('active')
                if (direction === 'prev') {
                    if (currentPage !== 1 && currentPage > 0) {
                        this.currentPage = this.pagination[currentPage - 2]
                        $('.paging-wrap li').eq(currentPage - 2).addClass('active')
                    }
                } else if (direction === 'next') {
                    if (currentPage < this.pagination.length) {
                        this.currentPage = this.pagination[currentPage]
                        $('.paging-wrap li').eq(currentPage).addClass('active')
                    }
                }
            },
            transPage: function (ev) {
                var pageNum = parseInt($(ev.target).text())
                this.currentPage = this.pagination[pageNum - 1]
                $('.active').removeClass('active')
                $(ev.target).parent().addClass('active')
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                $('.paging-wrap li:first-child').addClass('active')
            })
        },
        created: function () {
            var _this = this

            // orders 정보를 가져옵니다
            window.$http.get('/orders/')
                    .then(function (result_orders) {
                        _this.orders = result_orders.data
                        _this.pagination = Pagenation.pagination(_this.orders, 5)
                        _this.currentPage = _this.pagination[0]
                    })
                    .catch(function (err) {
                        if (err.status === 403) {
                            alert('로그인 상태가 아닙니다.')
                            return false
                        }
                    })
        }
    }
</script>

<style>
    @keyframes expandVertical {
        from {
            max-height: 480px;
        }
        to {
            max-height: 1500px;
        }
    }
    #orderItems {
        max-height: 480px;
        overflow: hidden;
        transition: height 2s;
    }
    .expand {
        animation: expandVertical 2s;
    }
    #expanding, #contracting {
        width: 95%;
        background: transparent;
        position: relative;
        display: grid;
        height: 4vh;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        border: solid 1px #ababab;
        color: #ababab;
        margin: 20px;
    }
    #expanding:hover, #contracting:hover {
        background: #444;
        color: white;
        box-shadow: #282828 0px 3px 10px;
        position: relative;
        top: -3px;
    }
    #expanding span, #contracting span {
        top: 7px;
        position: relative;
    }
</style>

