<template>
    <div class="historyItem-wrap">
        <div class="info" @click="showDetail">
            <img :src="thumbnailImage" alt=""/>

            <div class="txt">
                <p class="btxt"></p>

                <p class="stxt">{{decimalWithComma(parseInt(orderItem.total_incl_tax))}}원 <span>{{orderDate}}</span></p>

                <p class="stxt">결제완료 <span>출고완료(2)</span></p>
            </div>
        </div>

        <div class="gap"></div>
        <div class="order-info-detail hidden">
            <h3 class="u-tit03">배송지 정보</h3>

            <div class="order-info-wrap">
                <ul>
                    <li>
                        <span class="btxt">주문번호</span><span class="stxt">{{orderItem.number}}</span>
                    </li>
                    <li>
                        <span class="btxt">주문일</span><span class="stxt">{{orderDate}}</span>
                    </li>
                </ul>
            </div>
            <div class="order-detail-layer">
                <div class="gap"></div>
                <div class="order-list-wrap">
                    <table class="order-list-table">
                        <colgroup>
                            <col width=""/>
                            <col width="8%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="8%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>상품명</th>
                            <th>수량</th>
                            <th>가격</th>
                            <th>수령예상일</th>
                            <th>배송비</th>
                            <th>배송상태</th>
                        </tr>
                        </thead>
                        <tbody>
                            <orderhistory-detail v-for="item in linesInfo" :key="item.id" :history-info="item" @thumbnailImage="getThubnailImage"></orderhistory-detail>
                        </tbody>
                    </table>
                </div>
                <div class="gap"></div>
                <div class="order-info">
                    <div class="order-info-panel-title"><span>결제 정보</span></div>
                    <div class="item-price">
                        <div class="item-label">상품 금액</div>
                        <div class="item-val">
                            {{decimalWithComma(parseInt(orderItem.total_incl_tax))}}원
                        </div>
                    </div>
                    <div class="item-delivery">
                        <div class="item-label">배송비</div>
                        <div class="item-val">
                            3,000원
                        </div>
                    </div>
                    <div class="item-order">
                        <div class="item-label">결제 금액</div>
                        <div class="item-val">
                            <p class="stxt">가상계좌 / {{decimalWithComma(parseInt(orderItem.total_incl_tax))}}원(결제완료) / <a href="#n" class="corange">영수증보기</a></p></td>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <h3 class="u-tit03">배송지 정보</h3>
                <table class="tbl-type02">
                    <colgroup>
                        <col width="17%"/>
                        <col width="*"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>이름</th>
                        <td class="l">{{orderItem.shipping_address.first_name}}</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td class="l">{{orderItem.shipping_address.postcode}} <br/>{{orderItem.shipping_address.line1 + ' ' + orderItem.shipping_address.line2}}</td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td class="l">{{orderItem.shipping_address.phone_number}}</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td class="l">minicode@naver.com</td>
                    </tr>

                    </tbody>
                </table>
                <div class="gap"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import orderhistory_detail from './orderHistory_item_detail.vue'

    export default {
        name: 'orderHistory_item',
        props: ['orderItem'],
        data: function () {
            return {
                linesInfo: [],
                thumbnailImage: '',
                toggleDetail: false
            }
        },
        components: {
            'orderhistory-detail': orderhistory_detail
        },
        computed: {
            orderDate: function () {
                var _this = this
                var UTCTime = this.orderItem.date_placed
                var d = new Date(UTCTime)

                var mm = d.getMonth() + 1, dd = d.getDate(), yoil = d.getDay(), hh = d.getHours(), min = d.getMinutes()
                var yoilString = ''
                switch (yoil) {
                    case 1 : yoilString = '월'; break;
                    case 2 : yoilString = '화'; break;
                    case 3 : yoilString = '수'; break;
                    case 4 : yoilString = '목'; break;
                    case 5 : yoilString = '금'; break;
                    case 6 : yoilString = '토'; break;
                    case 7 : yoilString = '일'; break;
                }

                return mm + '월 ' + dd + '일 ' + '(' + yoilString + ')' + ' / ' + hh + ' : ' + min
            }
        },
        methods: {
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            getThubnailImage: function (image) {
                this.thumbnailImage = image
            },
            showDetail: function () {
                if (this.toggleDetail) {
                    $(this.$el).css('max-height', '172px')
                    $(this.$el).find('.order-info-detail').addClass('hidden')
                    this.toggleDetail = false
                } else {
                    $(this.$el).css('max-height', '2000px')
                    $(this.$el).find('.order-info-detail').removeClass('hidden')
                    this.toggleDetail = true
                }

            }
        },
        created: function () {
            var _this = this
            var lines = this.orderItem.lines
            window.$http.get(lines)
                    .then(function (result_lines) {
                        _this.linesInfo = result_lines.data
                    })
        }
    }
</script>

<style>
    .historyItem-wrap {
        transition: max-height 1s ease-out;
        max-height: 172px;
    }
    .order-info {
        border: solid 1px #dcdcdc;
        margin: 0 20%;
        box-shadow: 0px 3px 20px #8c8c8c;
    }
    .order-info-panel-title {
        height: 45px;
        line-height: 45px;
        font-size: 1rem;
        background: #8c8c8c;
        font-weight: bold;
        color: white;
        padding-left: 10px;
    }
    .item-price, .item-delivery, .item-order {
        height: 52px;
        line-height: 52px;
        font-size: 1rem;
    }
    .item-label {
        font-weight: bold;
        display: inline-block;
        float: left;
        padding-left: 10px;
    }
    .item-val {
        display: inline-flex;
        float: right;
        padding-right: 10px;
    }
</style>