<template>
    <tr>
        <td>
            <div class="info">
                <img :src="productImage" alt=""/>

                <div class="txt">
                    <p class="btxt">{{productInfo.title}}</p>

                    <!--<p class="stxt">포장 : 소포장(16알) / 1개</p>-->
                </div>
            </div>
        </td>
        <td>
            <p class="num">{{quantity}}개</p>
        </td>
        <td>
            <p class="won">{{decimalWithComma(parseInt(priceInfo))}}원</p>
        </td>
        <td>없음</td>
        <td><p class="delivery">무료 <span>(윙잇)</span></p></td>
        <td>
            <p class="state">출고완료 <span>CJ대한통운 341028849743</span></p>
        </td>
    </tr>
</template>

<script>
    export default {
        name: 'orderhistory_detail',
        props: ['historyInfo'],
        data: function () {
            return {
                quantity: 0,
                productInfo: {},
                priceInfo: '',
                productImage: ''
            }
        },
        methods: {
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        created: function () {
            var _this = this
            this.quantity = this.historyInfo.quantity
            window.$http.get(this.historyInfo.product)
                    .then(function (result_product) {
                        _this.productInfo = result_product.data
                        _this.productImage = result_product.data.images[0].original
                        _this.$emit('thumbnailImage', _this.productImage)
                        window.$http.get(_this.productInfo.price).then(function (result_price) {
                            _this.priceInfo = result_price.data.incl_tax
                        })
                    })
        }
    }
</script>