<template>
  <!-- s: page-start -->
  <div id="contents">
    <div class="point-list-wrap">
      <p class="tit">확정되지 않은 포인트는 제품 발송 후 7일 후에 사용가능한 포인트로 전환됩니다.</p>
      <div class="gap"></div>
      <table class="tbl-type01">
        <colgroup>
          <col width="35%"/>
          <col width="*"/>
          <col width="27%"/>
        </colgroup>
        <thead>
        <tr>
          <th>적립 / 사용일</th>
          <th>사유</th>
          <th>포인트</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2017 - 04 - 25   <span class="time">09 : 17 : 13</span></td>
          <td>회원가입포인트</td>
          <td>500 포인트</td>
        </tr>
        </tbody>
      </table>
      <div class="gap"></div>
      <ul class="list">
        <li><span class="btxt">총 포인트</span><span class="stxt">500 포인트</span></li>
        <li><span class="btxt">총 가용포인트</span><span class="stxt">500 포인트</span></li>
        <li><span class="btxt">누적 적립 포인트</span><span class="stxt">500 포인트</span></li>
      </ul>
    </div>
  </div>
  <!-- e: page-end -->
</template>

<script>
  export default {
    name : 'point'
  }
</script>


