@charset "utf-8";


/* 포인트 */
.point-list-wrap{ padding:0px 0 40px 0;margin:0 auto; text-align:center; max-width:740px;}
.point-list-wrap .tit{ display:block; vertical-align:top; line-height:130%; color:#47120e; font-size:16px; font-weight:500;padding:17px 50px 17px 50px; text-align:center;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.point-list-wrap .list{font-size:0; margin:0 -1%;}
.point-list-wrap .list li{ width:31.333333%; line-height:42px; margin:0 1%;display:inline-block; vertical-align:top;background:#e0d7c5; font-size:15px; font-weight:600; color:#47120e; letter-spacing:-0.01em;}
.point-list-wrap .list .stxt{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.point-list-wrap .list .stxt:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

	@media only screen and (min-width:1201px) {

	}
	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.point-list-wrap .tit{font-size:16px; padding:17px 20px 17px 20px}
	}
	@media only screen and (max-width:900px) {
		.point-list-wrap .list{margin:0}
		.point-list-wrap .list li:first-child{margin:0;}
		.point-list-wrap .list li{width:100%; margin:15px 0 0 0 ;}
	}
	@media only screen and (max-width:680px) {
		.point-list-wrap .tit{padding:17px 25px 17px 25px}
		.point-list-wrap{ padding:20px 0 0px 0;}
		.point-list-wrap .list li{font-size:16px;}
	}
	@media only screen and (max-width:480px) {
		.point-list-wrap .tit{font-size:15px;}
	}


/* 쿠폰 */
.coupon-list-wrap{max-width:740px; margin:0 auto}
.coupon-list-wrap ul{border-top:1px solid #e0d7c5;border-bottom:1px solid #e0d7c5; overflow:hidden}
.coupon-list-wrap ul li{float:left; width:50%;}
.coupon-list-wrap .btxt{ font-weight:600; color:#47120e; display:block; font-size:16px; padding:13px 0; line-height:120%;}
.coupon-list-wrap .stxt{ font-weight:400; color:#47120e; display:block; font-size:14px; padding:13px 0; line-height:120%;border-top:1px solid #e0d7c5}


	@media only screen and (max-width:680px) {
		.coupon-list-wrap{margin:0 auto;max-width:900px;}
		.coupon-list-wrap .btxt{padding:13px 5px; font-size:18px;}
		.coupon-list-wrap .stxt{font-size:15px; padding:13px 5px;}

		.coupon-list-wrap ul li{float:none; width:auto;border-top:1px solid #e0d7c5;}
		.coupon-list-wrap ul li:first-child{border-top:0}
	}
	@media only screen and (max-width:480px) {

	}


/* 정보수정 */
.modify-list-wrap{ max-width:740px; margin:0 auto;}
.modify-list-wrap li{ padding:0 8px 0 136px; position:relative;  margin-top:18px;}
.modify-list-wrap li:first-child{margin-top:0;}
.modify-list-wrap li input[type="text"]{ height:40px;border:1px solid #e0d7c5; box-sizing:border-box;padding-left:20px; font-size:15px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.modify-list-wrap li:last-child{margin-top:35px;}
.modify-list-wrap li:last-child .btxt{ line-height:22px;}
.modify-list-wrap .btxt{font-size:16px; font-weight:600; color:#47120e;  line-height:48px; position:absolute; left:0; top:0; }
.modify-list-wrap .check-box{margin-right:20px;}
.modify-list-wrap .check-box input[type="checkbox"]{ display:none;}
.modify-list-wrap .check-box input + label{display:block; font-size:16px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.modify-list-wrap .check-box input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.modify-list-wrap .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}


.modify-list-wrap .btn-wrap{padding-left:136px;}
.modify-list-wrap .btn-wrap a{margin:0 10px; min-width:254px}
.modify-list-wrap .btn-wrap a:last-child{margin:0}

	@media only screen and (max-width:1000px) {
		.modify-list-wrap li{padding-left:100px;}
		.modify-list-wrap li input[type="text"]{height:50px; font-size:17px;}
		.modify-list-wrap .check-box input + label{font-size:16px;}
		.modify-list-wrap .btxt{font-size:17px; line-height:50px;}

		.modify-list-wrap .btn-wrap{padding-left:0; text-align:center;}
		.modify-list-wrap .btn-wrap a{min-width:160px; font-size:16px;}
	}

	@media only screen and (max-width:640px) {
		.modify-list-wrap .btn-wrap a{min-width:120px; font-size:15px;margin:0 10px !important;}
	}
	@media only screen and (max-width:480px) {
		.modify-list-wrap li{padding-left:80px; margin-top:10px}
		.modify-list-wrap li:last-child{margin-top:25px;}
		.modify-list-wrap li input[type="text"]{height:40px; font-size:14px;}
		.modify-list-wrap li:last-child .btxt{ line-height:18px;}
		.modify-list-wrap .btxt{font-size:15px; line-height:40px;}
		.modify-list-wrap .check-box input + label{font-size:14px;}
		.modify-list-wrap .btn-wrap a{min-width:90px; font-size:14px; margin:0 3px !important;}
		.modify-list-wrap .btn-wrap a span{line-height:40px}
	}




.delivery-info-wrap{ max-width:950px; margin:0 auto;}
.delivery-info-wrap h3{font-size:20px; font-weight:600; color:#47120e; line-height:150%; text-align:center; height:50px; }
.delivery-info-wrap .post{font-weight:300; display:block; line-height:150%;}
.delivery-info-wrap .addr{font-weight:500; font-size:16px}
.delivery-info-wrap .info{ max-width:154px; display:inline-block; vertical-align:middle}
.delivery-info-wrap .info p{ font-size:16px; line-height:130%;margin-bottom:10px; font-weight:600;}
.delivery-info-wrap .info .cw-btn{ min-width:70px;}
.delivery-info-wrap .info .cr-btn{ min-width:auto;display:block; margin-top:10px;}
.delivery-info-wrap .tbl-type01 .l{padding-left:40px}


	@media only screen and (max-width:1000px) {
		.delivery-info-wrap h3{font-size:18px; line-height:50px; height:50px; }
	}

	@media only screen and (max-width:640px) {
	    .delivery-info-wrap h3{font-size:18px; }
		.delivery-info-wrap .tbl-type01 .l{padding-left:10px ;line-height:130%;}
		.delivery-info-wrap .addr{font-size:15px;}
		.delivery-info-wrap .info p{font-size:16px;}

		.delivery-info-wrap .info{max-width:110px; display:block;}
		.delivery-info-wrap .info .cw-btn{display:block; margin-top:5px;}

		.delivery-info-wrap .btn-wrap a{min-width:120px; font-size:15px;margin:0 10px !important;}
	}
	@media only screen and (max-width:480px) {
		.delivery-info-wrap .btn-wrap a{min-width:160px !important; width:90px; font-size:14px; margin:0 3px !important;}
		.delivery-info-wrap .btn-wrap a span{line-height:40px}
	}

.delivery-addr-wrap{ max-width:950px; margin:0 auto;}
.delivery-addr-wrap h3{font-size:20px; font-weight:600; color:#47120e; background:#f8f2e6;line-height:54px; text-align:center; height:54px; }
.delivery-addr-wrap ul{ border-bottom:1px solid #e0d7c5 ; padding:30px 0;}
.delivery-addr-wrap li{ padding:0 8px 0 120px; position:relative;  margin-top:15px;}
.delivery-addr-wrap li:first-child{margin-top:0;}
.delivery-addr-wrap li input[type="text"]{ height:48px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.delivery-addr-wrap .btxt{font-size:17px; font-weight:600; color:#47120e;  line-height:48px; position:absolute; left:0; top:0; }
.delivery-addr-wrap .btxt.nec{background:url(../img/Sub/nec-ico.png) no-repeat right center ; padding-right:15px;}
.delivery-addr-wrap .check-box input[type="checkbox"]{ display:none;}
.delivery-addr-wrap .check-box input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.delivery-addr-wrap .check-box input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.delivery-addr-wrap .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}

.delivery-addr-wrap .cr-btn.post-btn{min-width:140px; height:48px; font-size:16px; margin-left:10px;}
.delivery-addr-wrap .cr-btn.post-btn span{line-height:48px;}
.delivery-addr-wrap .btn-wrap a{margin:0 10px;}



	@media only screen and (max-width:1000px) {
		.delivery-addr-wrap h3{font-size:18px; line-height:50px; height:50px; }
		.delivery-addr-wrap li{padding-left:100px;}
		.delivery-addr-wrap li input[type="text"]{height:50px; font-size:17px; min-width:100px;}
		.delivery-addr-wrap li input[type="text"].w500{width:100%}
		.delivery-addr-wrap .btxt{font-size:17px; line-height:50px;}
		.delivery-addr-wrap .check-box input + label{font-size:16px;}

		.delivery-addr-wrap .btn-wrap{padding-left:0; text-align:center;}
		.delivery-addr-wrap .btn-wrap a{min-width:160px !important; width:160px; font-size:16px;}
	}

	@media only screen and (max-width:640px) {
	    .delivery-addr-wrap h3{font-size:18px; }

		.delivery-addr-wrap li input[type="text"].post-input{width:55%}

		.delivery-addr-wrap .cr-btn.post-btn{width:30%;min-width:80px; font-size:15px}
		.delivery-addr-wrap .cr-btn.post-btn span i{display:none;}
		.delivery-addr-wrap .btn-wrap a{min-width:120px; font-size:15px;margin:0 10px !important;}
	}
	@media only screen and (max-width:480px) {
		.delivery-addr-wrap li{padding-left:80px; margin-top:10px}
		.delivery-addr-wrap li input[type="text"]{height:40px; font-size:14px;}
		.delivery-addr-wrap li:last-child .btxt{ line-height:18px;}

		.delivery-addr-wrap .btxt{font-size:15px; line-height:40px;}
		.delivery-addr-wrap .check-box input + label{font-size:14px;}

		.delivery-addr-wrap .cr-btn.post-btn{height:40px ;}
		.delivery-addr-wrap .cr-btn.post-btn span{line-height:40px; width:60px; overflow:hidden;}

		.delivery-addr-wrap .btn-wrap a{min-width:90px !important; width:90px; font-size:14px; margin:0 3px !important;}
		.delivery-addr-wrap .btn-wrap a span{line-height:40px}
	}









/* 장바구니 */
.cart-list-wrap:after{display:block; height:58px;background:#f8f2e6; position:relative; content:""}
.cart-list-wrap .tit{background:#f8f2e6; line-height:50px;  padding:0 20px; color:#47120e}
.cart-list-wrap .tit label{font-weight:600; font-size:16px; line-height:50px;}
.cart-list-wrap .tit label:after{top:50%;margin-top:-10px;}
.cart-list-wrap .tit label span{font-weight:400; font-size:16px}

.cart-list-table {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:1px solid #e0d7c5;}
.cart-list-table th, .cart-list-table td {text-align:center;font-size:16px;color:#47120e;border:1px solid #e0d7c5;border-right:none; line-height:120%; border-left:none;padding:19px 5px;word-wrap:break-word;}
.cart-list-table th:first-child, .cart-list-table td:first-child{border-left:none}
.cart-list-table th {color:#222;}

.cart-list-table th:first-child, .cart-list-table td:first-child {border-left:0;}
.cart-list-table thead th {padding:20px 5px; color:#47120e; font-size:16px; font-weight:400;}
.cart-list-table thead th.vline {border-bottom:1px solid #e0d7c5;} /* th가 2줄일 경우  */
.cart-list-table th.line, .cart-list-table td.line {border-right:1px solid #d5d5d5;} /* 셀병합시 우측 라인 안나올 경우 */
.cart-list-table th.l, .cart-list-table td.l, .cart-list-table td.left {padding-left:10px;}
.cart-list-table th.r, .cart-list-table td.r, .cart-list-table td.right {padding-right:10px;}
.cart-list-table tr.bg th, .cart-list-table tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */
.cart-list-table tbody tr:last-child td, .cart-list-table tbody  tr:last-child th{border-bottom:none;}


.cart-list-table .info{display:table}
.cart-list-table .info img{display:inline-block;  vertical-align:top; margin-right:20px; text-align:left; max-width:200px;}
.cart-list-table .info .txt{display:table-cell; vertical-align:middle}
.cart-list-table .info .btxt{display:block;text-align:left; color:#000 }
.cart-list-table .info .stxt{display:block;text-align:left; color:#6e6e6e}
.cart-list-table .num{display:block; padding:8px 0}
.cart-list-table .discount{display:inline-block; padding:2px 0; position:relative; color:#878787; font-size:15px; font-weight:600;}
.cart-list-table .discount:after{width:100%; height:1px; background:#878787; position:absolute; left:0; top:49.5%; display:block; content:""}
.cart-list-table .won{font-weight:600; font-size:18px; color:#ff5a00; display:block;}

.cart-list-table .delivery span{display:block; padding:2px 0}
.cart-list-table .cw-btn, .cart-list-table .cr-btn{margin:2px 0}

	@media only screen and (max-width:1000px) {

		.cart-list-table .info img{max-width:160px}
	}

	@media only screen and (max-width:780px) {
		.cart-list-table .time{display:block; margin-left:0;}
		.cart-list-table .time:after{display:none}

		.cart-list-wrap .tit{line-height:48px; padding:0 15px  }
		.cart-list-wrap .tit label{ font-size:16px; line-height:48px;}
	}


	@media only screen and  (max-width:780px) {
		.cart-list-wrap table.rspvn-table {border-top:none;table-layout:auto;}
		.cart-list-wrap table.rspvn-table colgroup{display:none}
		.cart-list-wrap table.rspvn-table thead {display:none;}
		.cart-list-wrap table.rspvn-table tbody {overflow:hidden;}
		.cart-list-wrap table.rspvn-table tbody [data-cell-header]:before {content:attr(data-cell-header);display:inline-block;text-align:left; position:absolute; left:0; top:50%; margin-top:-20px; height:40px;color:#47120e;font-size:16px; line-height:40px;}
		.cart-list-wrap table.rspvn-table tbody td:first-child[data-cell-header]:before{content:"";}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(2)[data-cell-header]:before	{display:none;}
		.cart-list-wrap table.rspvn-table tbody tr td:last-child[data-cell-header]:before{display:none;}
		.cart-list-wrap table.rspvn-table tbody td:first-child{height:0; padding:0;z-index:10}
		.cart-list-wrap table.rspvn-table tbody td:first-child .check-box{position:Absolute; left:15px; top:10px;}
		.cart-list-wrap table.rspvn-table tbody td {width:100% !important;float:left;border:0; position:relative;padding:5px 10px 5px 0;text-align:right;box-sizing:border-box;}
		.cart-list-wrap table.rspvn-table tbody td.l {padding-left:3%;}

		.cart-list-wrap table.rspvn-table tbody tr:first-child td{border-top:none;}
		.cart-list-wrap table.rspvn-table tbody tr td:first-child{border-top:1px solid #e0d7c5;}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(2){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(3){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(4){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(5){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.cart-list-wrap table.rspvn-table tbody tr td:last-child{text-align:center; padding:20px 0; border-bottom:none;}
		.cart-list-wrap table.rspvn-table tbody tr td:last-child p{display:inline-block; vertical-align:top}

		.cart-list-table .info{text-align:left; width:100%; box-sizing:border-box; }
		.cart-list-table .info .txt{width:100%;}
		.cart-list-table .num{display:inline-block; line-height:35px; padding:0 ; margin-right:20px;}
		.cart-list-table .delivery span{display:inline-block;}
	}
	@media only screen and (max-width:680px) {
		.cart-list-table thead th{font-size:16px; padding:16px 5px;}
		.cart-list-table th, .cart-list-table td{font-size:15px; padding:14px 5px}
	}
	@media only screen and  (max-width:480px) {
		.cart-list-wrap .tit{padding:0 10px  }
		.cart-list-wrap table.rspvn-table tbody td:first-child .check-box{left:10px}
		.cart-list-wrap table.rspvn-table tbody tr td:nth-child(2){padding:10px 10px 10px 45px;}

		.cart-list-table .info img{max-width:90px; margin-right:10px}
		.cart-list-table .info .txt{font-size:14px}
	}





.cart-buy-wrap{max-width:600px; margin:0 auto}
.cart-buy-wrap li{border-bottom:1px solid #e0d7c5;padding:22px 0;font-size:17px; color:#47120e; position:relative; text-align:right;}
.cart-buy-wrap li:first-child{border-top:1px solid #e0d7c5;}
.cart-buy-wrap li .btxt{ position:absolute ; left:0; top:50%; height:20px; line-height:20px; margin-top:-10px;}
.cart-buy-wrap li .stxt{display:block}
.cart-buy-wrap li .stxt.corange{ color:#ff5a00}
.cart-buy-wrap li .ctxt{color:#848484; display:block; font-size:18px; font-weight:400;line-height:150% ; margin-top:3px;}
.cart-buy-wrap li .btxt.b, .cart-buy-wrap li .stxt.b{font-size:20px;}
.cart-buy-wrap .btn-wrap a{width:100%; font-size:18px;}
	@media only screen and (max-width:600px) {
		.cart-buy-wrap li{font-size:16px;padding:15px 0}
		.cart-buy-wrap li .ctxt{font-size:16px;}
		.cart-buy-wrap li .btxt.b, .cart-buy-wrap li .stxt.b{font-size:18px;}
		.cart-buy-wrap .btn-wrap a{font-size:15px;}
	}


.other-product.detail ul{margin:0 -1.5%;}
.other-product h3{ font-size:24px;text-align:center; font-weight:600; letter-spacing:-0.03em; color:#47120e; height:70px; line-height:70px; border-bottom:1px solid #e0d7c5; margin-bottom:25px;}
.other-product ul{font-size:0; text-align:left;}
.other-product li{display:inline-block; vertical-align:top; width:30.3333333%; margin:0 1.5%}
.other-product li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.other-product li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.other-product .img{display:block;overflow:hidden}
.other-product .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.other-product a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}
.other-product .txt{display:block; background:#f8f2e6; padding:15px 20px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.other-product .btxt{display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.other-product .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.other-product .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.other-product .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.other-product .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}
.other-product .more{ width:300px; height:50px;background:#ff5a00; border-radius:50px; text-align:center; line-height:50px; color:#fff;font-weight:300; font-size:18px;display:inline-block; vertical-align:top;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}


.other-product a:hover .txt {background:#ff5a00}
.other-product a:hover .btxt{color:#fff;}
.other-product a:hover .stxt{color:#fff;}
.other-product a:hover .ctxt{color:#fff;opacity:0.7}
.other-product a:hover .ctxt i:after{background:#fff; opacity:0.7}

	@media only screen and (min-width:1201px) {

	}
	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.other-product .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.other-product li{width:31.33333%; margin:0 1% 20px 1%}

		.other-product .txt{padding:20px;}
		.other-product .btxt{font-size:16px}
		.other-product .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.other-product .ctxt{ font-size:14px;}


		.other-product h3{font-size:25px}

	}
	@media only screen and (max-width:780px) {
		.other-product li{width:48%; margin:0 1% 20px 1%}
		.other-product .btxt{font-size:16px}
		.other-product .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.other-product .ctxt{ font-size:14px;}

		.other-product h3{font-size:21px; line-height:60px; height:60px}
	}
	@media only screen and (max-width:580px) {
		.other-product li{width:98%;}
		.other-product .ctxt i{margin-left:26px}
		.other-product .ctxt i:after{left:-17px}
	}



/* 주문내역 */
.order-ov {overflow:hidden; cursor:pointer}
.order-ov .fl{ width:49%}
.order-ov .fr{ width:49%}

.order-ov dt{font-weight:600; font-size:18px; text-align:center; padding:17px 0; text-align:center; color:#ff5a00; border-bottom:1px solid #e0d7c5; ;border-top:1px solid #e0d7c5}
.order-ov .fl dd {padding-top:70px}
.order-ov .info{display:table}
.order-ov .info img{display:inline-block;max-width:180px; vertical-align:top; margin-right:20px; text-align:left;}
.order-ov .info .txt{display:table-cell; vertical-align:middle}
.order-ov .info .btxt{display:block;text-align:left; color:#ff5a00; font-weight:600; font-size:18px; margin-bottom:5px; letter-spacing:-0.03em; line-height:130%; }
.order-ov .info .stxt{display:block;text-align:left; font-size:16px; line-height:120%; color:#47120e;margin-bottom:5px;}
.order-ov .info .stxt span{display:inline-block; vertical-align:top; margin-left:20px; position:relative;}
.order-ov .info .stxt span:after{ width:1px; height:16px; background:#47120e; position:absolute; left:-12px; top:50%;margin-top:-8px; display:block; content:""}

.order-info-wrap{ text-align:left; color:#47120e; font-size:18px; border-bottom:1px solid #e0d7c5; ;border-top:1px solid #e0d7c5}
.order-info-wrap ul{}
.order-info-wrap li{display:inline-block; vertical-align:top; margin-right:40px; font-size:16px; padding:17px 0; }
.order-info-wrap .btxt{display:inline-block; vertical-align:top;text-align:left; color:#47120e; font-weight:300; font-size:16px; }
.order-info-wrap .stxt{display:inline-block; vertical-align:top;text-align:left;  font-size:16px;color:#47120e;}
.order-info-wrap .stxt{display:inline-block; vertical-align:top; margin-left:30px; position:relative;}
.order-info-wrap .stxt:after{ width:1px; height:14px; background:#47120e; position:absolute; left:-15px; top:50%;margin-top:-7px; display:block; content:""}


	@media only screen and (max-width:1000px) {
		.order-info-wrap li{font-size:17px;}
	}
	@media only screen and (max-width:980px) {
		.order-ov .fl{float:none; width:auto;}
		.order-ov .fr{float:none; width:auto; margin-top:40px;}
	}
	@media only screen and (max-width:780px) {
		.order-info-wrap ul{padding:15px 10px;;}
		.order-info-wrap li{display:block; margin-right:0; padding:6px 0}
		.order-info-wrap .btxt{font-size:16px}
		.order-info-wrap .stxt{font-size:16px}

		.order-ov dt{font-size:18px;}
		.order-ov .fl dd{padding-top:20px;}
		.order-ov .info img{width:140px;}
		.order-ov .info .btxt{font-size:17px}
		.order-ov .info .stxt{font-size:15px;}
	}
	@media only screen and (max-width:580px) {

		.order-ov .info img{width:90px; margin-right:15px;}
		.order-ov .info .btxt{font-size:16px; }
		.order-ov .info .stxt span{font-size:14px; margin-left:12px;}
		.order-ov .info .stxt span:after{left:-10px;}

		.order-info-wrap li{padding:3px 0}
		.order-info-wrap .btxt{font-size:15px}
		.order-info-wrap .stxt{font-size:15px}
	}








.order-list-wrap:after{display:block; height:58px;background:#f8f2e6; position:relative; content:""}
.order-list-wrap:before{display:block; height:58px;background:#f8f2e6; position:relative; content:""}

.order-list-table {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;}
.order-list-table th, .order-list-table td {text-align:center;font-size:16px;color:#47120e;border:1px solid #e0d7c5;border-right:none; border-top:none; line-height:120%; border-left:none;padding:19px 5px;word-wrap:break-word;}
.order-list-table th:first-child, .order-list-table td:first-child{border-left:none}
.order-list-table th {color:#222;}

.order-list-table th:first-child, .order-list-table td:first-child {border-left:0;}
.order-list-table thead th {padding:20px 5px; color:#47120e; font-size:16px; font-weight:400;}
.order-list-table thead th.vline {border-bottom:1px solid #e0d7c5;} /* th가 2줄일 경우  */
.order-list-table th.line, .order-list-table td.line {border-right:1px solid #d5d5d5;} /* 셀병합시 우측 라인 안나올 경우 */
.order-list-table th.l, .order-list-table td.l, .order-list-table td.left {padding-left:10px;}
.order-list-table th.r, .order-list-table td.r, .order-list-table td.right {padding-right:10px;}
.order-list-table tr.bg th, .order-list-table tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */



.order-list-table .info{display:table}
.order-list-table .info img{display:inline-block;  vertical-align:top; margin-right:20px; text-align:left; max-width:200px}
.order-list-table .info .txt{display:table-cell; vertical-align:middle}
.order-list-table .info .btxt{display:block;text-align:left; color:#000 }
.order-list-table .info .stxt{display:block;text-align:left; color:#6e6e6e}
.order-list-table .num{display:block; padding:8px 0}
.order-list-table .discount{display:inline-block; padding:2px 0; position:relative; color:#878787; font-size:15px; font-weight:600;}
.order-list-table .discount:after{width:100%; height:1px; background:#878787; position:absolute; left:0; top:49.5%; display:block; content:""}
.order-list-table .delivery span{display:block;}
.order-list-table .won{font-weight:600; font-size:18px; color:#ff5a00; display:block;}
.order-list-table .state span{display:block; color:#ff5a00; padding-top:3px;}

.order-list-table tfoot td{text-align:left; font-size:0; }
.order-list-table tfoot .btxt{display:inline-block; font-size:15px;text-align:left;padding:10px 0; color:#47120e; font-weight:400; vertical-align:top; width:30%;box-sizing:border-box;; padding-left:15%;}
.order-list-table tfoot .stxt{display:inline-block; font-size:18px; color:#ff5a00; padding:10px 0;font-weight:600;vertical-align:top;width:70%; text-align:center;box-sizing:border-box; padding-right:20%}

	@media only screen and  (max-width:1000px) {
		.order-list-table .info img{max-width:160px}
	}
	@media only screen and  (max-width:880px) {
		.order-list-wrap:after{height:44px;}
		.order-list-wrap:before{height:44px;}


		.order-list-table {border-top:none;table-layout:auto;}
		.order-list-table colgroup{display:none}
		.order-list-table thead {display:none;}
		.order-list-table tbody {overflow:hidden;}
		.order-list-table tbody [data-cell-header]:before {content:attr(data-cell-header);display:inline-block;text-align:left; position:absolute; left:10px; top:50%; margin-top:-20px; height:40px;color:#47120e;font-size:16px; line-height:40px;}
		.order-list-table tbody td:first-child[data-cell-header]:before{content:"";}


		.order-list-table tbody td:first-child .check-box{position:Absolute; left:15px; top:10px;}
		.order-list-table tbody td {width:100% !important;float:left;border:0; position:relative;padding:5px 10px 5px 0;text-align:right;box-sizing:border-box;}
		.order-list-table tbody td.l {padding-left:3%;}

		.order-list-table tbody tr:first-child td{border-top:none;padding:12px 10px 12px 10px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tbody tr td:first-child{border-top:1px solid #e0d7c5;}
		.order-list-table tbody tr td:nth-child(2){padding:12px 10px 12px 50px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tbody tr td:nth-child(3){padding:12px 10px 12px 50px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tbody tr td:nth-child(4){padding:12px 10px 12px 50px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tbody tr td:nth-child(5){padding:12px 10px 12px 50px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tbody tr td:nth-child(6){padding:12px 10px 12px 50px;border-bottom:1px solid #e0d7c5;}
		.order-list-table tfoot tr td{padding:10px 10px 10px 120px; font-size:16px;border-bottom:1px solid #e0d7c5;text-align:right; position:relative;}

		.order-list-table .info{text-align:left; width:100%; box-sizing:border-box; }
		.order-list-table .info .txt{width:100%;}
		.order-list-table .num{display:inline-block; line-height:130%; padding:0 0 ; }
		.order-list-table .delivery span{display:inline-block;}

		.order-list-table tfoot .btxt{ position:absolute; left:10px; top:50%; margin-top:-20px; height:40px;color:#47120e;font-size:16px; line-height:40px; padding:0;}
		.order-list-table tfoot .stxt{ width:auto; padding:0; font-size:16px; text-align:right}
	}
	@media only screen and (max-width:680px) {
		.cart-list-table thead th{font-size:16px; padding:16px 5px;}
		.cart-list-table th, .cart-list-table td{font-size:15px; padding:14px 5px}
	}
	@media only screen and  (max-width:480px) {
		.order-list-wrap .tit{padding:0 10px  }
		.order-list-table tbody td:first-child .check-box{left:10px}
		.order-list-table tbody tr td:nth-child(2){padding:10px 10px 10px 45px;}

		.order-list-table .info img{max-width:90px; }
		.order-list-table .info .txt{font-size:14px}
	}





/* 카테고리 */
.cate-list-wrap .list{font-size:0; text-align:left; margin:0 -1%}
.cate-list-wrap .list li{display:inline-block; vertical-align:top; width:30.3333333%; margin:0 1% 2% 1%}
.cate-list-wrap .list a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.cate-list-wrap .list a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.cate-list-wrap .list .img{display:block;overflow:hidden}
.cate-list-wrap .list .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.cate-list-wrap .list a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}
.cate-list-wrap .list .txt{display:block; background:#f8f2e6; padding:15px 20px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.cate-list-wrap .list .btxt{display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.cate-list-wrap .list .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.cate-list-wrap .list .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.cate-list-wrap .list .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.cate-list-wrap .list .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}


.cate-list-wrap .list a:hover .txt {background:#ff5a00}
.cate-list-wrap .list a:hover .btxt{color:#fff;}
.cate-list-wrap .list a:hover .stxt{color:#fff;}
.cate-list-wrap .list a:hover .ctxt{color:#fff;opacity:0.7}
.cate-list-wrap .list a:hover .ctxt i:after{background:#fff; opacity:0.7}


	@media only screen and (min-width:1201px) {

	}
	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.cate-list-wrap .list .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.cate-list-wrap .list li{width:31.33333%; margin:0 1% 20px 1%}

		.cate-list-wrap .list .txt{padding:15px 20px;}
		.cate-list-wrap .list .btxt{font-size:16px}
		.cate-list-wrap .list .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.cate-list-wrap .list .ctxt{ font-size:14px;}



	}
	@media only screen and (max-width:780px) {
		.cate-list-wrap .list li{width:48%; margin:0 1% 20px 1%}
		.cate-list-wrap .list .btxt{font-size:16px}
		.cate-list-wrap .list .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.cate-list-wrap .list .ctxt{ font-size:14px;}

	}
	@media only screen and (max-width:580px) {
		.cate-list-wrap .list li{width:98%;}
		.cate-list-wrap .list .ctxt i{margin-left:26px}
		.cate-list-wrap .list .ctxt i:after{left:-17px}
	}







/* product-list-wrap */
.product-list-wrap:before{display:block; height:58px;background:#f8f2e6; position:relative; content:""}
.product-list-wrap:after{display:block; height:58px;background:#f8f2e6; position:relative; content:""}
.product-list-wrap .tit{background:#f8f2e6; line-height:50px;  padding:0 20px; color:#47120e}
.product-list-wrap .tit label{font-weight:600; font-size:16px; line-height:50px;}
.product-list-wrap .tit label:after{top:50%;margin-top:-10px;}
.product-list-wrap .tit label span{font-weight:400; font-size:16px}

.product-list-table {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:1px solid #e0d7c5;}
.product-list-table th, .product-list-table td {text-align:center;font-size:16px;color:#47120e;border:1px solid #e0d7c5;border-right:none; line-height:120%; border-left:none;padding:19px 5px;word-wrap:break-word;}
.product-list-table th:first-child, .product-list-table td:first-child{border-left:none}
.product-list-table th {color:#222;}

.product-list-table th:first-child, .product-list-table td:first-child {border-left:0;}
.product-list-table thead th {padding:20px 5px; color:#47120e; font-size:16px; font-weight:400;}
.product-list-table thead th.vline {border-bottom:1px solid #e0d7c5;} /* th가 2줄일 경우  */
.product-list-table th.line, .product-list-table td.line {border-right:1px solid #d5d5d5;} /* 셀병합시 우측 라인 안나올 경우 */
.product-list-table th.l, .product-list-table td.l, .product-list-table td.left {padding-left:10px;}
.product-list-table th.r, .product-list-table td.r, .product-list-table td.right {padding-right:10px;}
.product-list-table tr.bg th, .product-list-table tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */
.product-list-table tbody tr:last-child td, .product-list-table tbody  tr:last-child th{border-bottom:none;}


.product-list-table .info{display:table}
.product-list-table .info img{display:inline-block;  vertical-align:top; margin-right:20px; text-align:left; max-width:180px;}
.product-list-table .info .txt{display:table-cell; vertical-align:middle}
.product-list-table .info .btxt{display:block;text-align:left; color:#000 }
.product-list-table .info .stxt{display:block;text-align:left; color:#6e6e6e}
.product-list-table .num{display:block; padding:8px 0}
.product-list-table .discount{display:inline-block; padding:2px 0; position:relative; color:#878787; font-size:15px; font-weight:600;}
.product-list-table .discount:after{width:100%; height:1px; background:#878787; position:absolute; left:0; top:49.5%; display:block; content:""}
.product-list-table .won{font-weight:600; font-size:18px; color:#ff5a00; display:block;}

.product-list-table .delivery span{display:block; padding:2px 0}
.product-list-table .cw-btn, .product-list-table .cr-btn{margin:2px 0}

	@media only screen and (max-width:1000px) {

		.product-list-table .info img{max-width:160px}
	}

	@media only screen and (max-width:780px) {
		.product-list-table .time{display:block; margin-left:0;}
		.product-list-table .time:after{display:none}

		.product-list-wrap .tit{line-height:48px; padding:0 15px  }
		.product-list-wrap .tit label{ font-size:16px; line-height:48px;}
	}


	@media only screen and  (max-width:780px) {
		.product-list-wrap table.rspvn-table {border-top:none;table-layout:auto;}
		.product-list-wrap table.rspvn-table colgroup{display:none}
		.product-list-wrap table.rspvn-table thead {display:none;}
		.product-list-wrap table.rspvn-table tbody {overflow:hidden;}
		.product-list-wrap table.rspvn-table tbody [data-cell-header]:before {content:attr(data-cell-header);display:inline-block;text-align:left; position:absolute; left:0; top:50%; margin-top:-20px; height:40px;color:#47120e;font-size:16px; line-height:40px;}
		.product-list-wrap table.rspvn-table tbody td:first-child[data-cell-header]:before{content:"";}


		.product-list-wrap table.rspvn-table tbody td:first-child{padding:10px 0;z-index:10;border-bottom:1px solid #e0d7c5}
		.product-list-wrap table.rspvn-table tbody td:first-child .check-box{position:Absolute; left:15px; top:10px;}
		.product-list-wrap table.rspvn-table tbody td {width:100% !important;float:left;border:0; position:relative;padding:5px 10px 5px 0;text-align:right;box-sizing:border-box;}
		.product-list-wrap table.rspvn-table tbody td.l {padding-left:3%;}

		.product-list-wrap table.rspvn-table tbody tr:first-child td{border-top:none;}
		.product-list-wrap table.rspvn-table tbody tr td:first-child{border-top:1px solid #e0d7c5;}
		.product-list-wrap table.rspvn-table tbody tr td:nth-child(2){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.product-list-wrap table.rspvn-table tbody tr td:nth-child(3){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.product-list-wrap table.rspvn-table tbody tr td:nth-child(4){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.product-list-wrap table.rspvn-table tbody tr td:nth-child(5){padding:10px 10px 10px 50px;border-bottom:1px solid #e0d7c5;}
		.product-list-wrap table.rspvn-table tbody tr td:last-child{text-align:right; padding:10px 0; border-bottom:none;}
		.product-list-wrap table.rspvn-table tbody tr td:last-child p{display:inline-block; vertical-align:top}

		.product-list-table .info{text-align:left; width:100%; box-sizing:border-box; }
		.product-list-table .info .txt{width:100%;}
		.product-list-table .num{display:inline-block; line-height:35px; padding:0 ; margin-right:20px;}
		.product-list-table .delivery span{display:inline-block;}
	}
	@media only screen and (max-width:680px) {
		.product-list-table thead th{font-size:16px; padding:16px 5px;}
		.product-list-table th, .product-list-table td{font-size:15px; padding:14px 5px}
	}
	@media only screen and  (max-width:480px) {
		.product-list-wrap:before{height:45px;}
		.product-list-wrap:after{height:45px;}

		.product-list-wrap .tit{padding:0 10px  }
		.product-list-wrap table.rspvn-table tbody td:first-child .check-box{left:10px}
		.product-list-wrap table.rspvn-table tbody tr td:nth-child(2){padding:10px 10px 10px 45px;}

		.product-list-table .info img{max-width:90px; margin-right:10px}
		.product-list-table .info .txt{font-size:14px}
	}



.buy-no-wrap{padding:20px 0; display:none;}
.buy-no-wrap h4{background:#f8f2e6;margin-bottom:25px; font-size:17px; font-weight:600; text-align:center; color:#47120e; padding:13px 0;}
.buy-no-wrap .tit{background:#f8f2e6;margin-bottom:25px; font-size:16px; font-weight:300; text-align:center; color:#47120e; padding:22px 0;}


/* product-ov */
.prodcut-ov{overflow:hidden;}
.prodcut-ov h3{font-size:20px; font-weight:600; margin-bottom:20px;color:#47120e; line-height:150%; text-align:center; height:50px; border-bottom:1px solid #e0d7c5 }
.prodcut-ov .fl{width:52%}
.prodcut-ov .fr{width:45%;box-sizing:border-box;padding:0 5px}


.prodcut-ov .fr .btn-wrap{}
.prodcut-ov .fr .btn-wrap li{margin:10px 0}
.prodcut-ov .fr .btn-wrap a{display:block; min-width:100%;}
.prodcut-ov .fr .btn-wrap .sw-btn:hover{ color:#fff;}
.prodcut-ov .fr .ex{background:#e0d7c5; line-height:54px; font-size:17px;display:block; font-weight:600; text-align:center; color:#47120e}
.prodcut-ov .fr .u-line{background:#e0d7c5; height:1px; margin:25px 0}

.prodcut-ov .deliy-btn.mr2p{margin-right:2%}
.prodcut-ov .deliy-btn{display:inline-block; vertical-align:top; width:49%;height:48px;text-align:Center; box-sizing:border-box; border:none; padding-left:0; font-size:16px; font-weight:400; color:rgb(224, 215, 197);box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.prodcut-ov .deliy-btn span{line-height:48px;}
.prodcut-ov .deliy-btn:hover{color:#fff; background:#ff5a00;}

.prodcut-ov .info-list{ max-width:950px; margin:0 auto;border-bottom:1px solid #e0d7c5 ; padding:0 0 20px 0;}
.prodcut-ov .info-list li{ font-size:0;padding:0 8px 0 120px; position:relative;  margin-top:15px;}
.prodcut-ov .info-list li:first-child{margin-top:0;}

.prodcut-ov .info-list li input[type="text"]{ height:48px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.prodcut-ov .info-list li input[type="text"].w49p.c{padding-left:0; text-align:center;}
.prodcut-ov .info-list li input[type="text"].addr{border:1px solid #e0d7c5;box-shadow: 0 0 8px rgba(0, 0, 0, 0)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0)}

.prodcut-ov .info-list .btxt{font-size:17px; font-weight:600; color:#47120e;  line-height:48px; position:absolute; left:0; top:0; }
.prodcut-ov .info-list .btxt.nec{background:url(../img/Sub/nec-ico.png) no-repeat right center ; padding-right:15px;}
.prodcut-ov .info-list .stxt{font-size:17px; font-weight:600; color:#47120e;  line-height:48px;}

.prodcut-ov .fr .info-list .btxt{font-size:17px;line-height:30px;}
.prodcut-ov .fr .info-list .sel .btxt {line-height:48px;}
.prodcut-ov .fr .info-list .stxt{font-size:17px;line-height:30px;}
.prodcut-ov .fr .info-list .cr-btn{ min-width:130px}
.prodcut-ov .fr .info-list .cb-btn{min-width:110px}
.prodcut-ov .fr .info-list .point{height:48px; line-height:48px; color:#e0d7c5; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}

.prodcut-ov .info-list .break{display:inline-block; vertical-align:top;}

.prodcut-ov .info-list .stxt.corange{color:#ff5a00}
.prodcut-ov .info-list .check-box{margin-right:15px;}
.prodcut-ov .info-list .check-box input[type="checkbox"]{ display:none;}
.prodcut-ov .info-list .check-box input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.prodcut-ov .info-list .check-box input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.prodcut-ov .info-list .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}

.prodcut-ov .info-list .cr-btn.post-btn{min-width:140px; height:48px; font-size:16px; margin-left:10px;}
.prodcut-ov .info-list .cr-btn.post-btn span{line-height:48px;}
.prodcut-ov .info-list .sr-btn.w30p{min-width:30%; height:48px; margin-left:1% }
.prodcut-ov .info-list .sr-btn.w30p span{line-height:48px;}

.prodcut-ov .info-list .post-btn2{display:block;min-width:140px; height:48px;text-align:center; margin:15px 0;  font-size:16px;background:#f8f2e6; width:100%; color:#47120e; font-weight:600; font-size:16px;}
.prodcut-ov .info-list .post-btn2 span{line-height:48px;}

.prodcut-ov .info-list .btn-wrap a{margin:0 10px;}

.prodcut-ov .info-list textarea{ height:48px; box-sizing:border-box; border:none; min-height:150px; width:100%; padding:15px;font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}

.prodcut-ov .info-list .tip h4{line-height:120%;font-size:16px;line-height:150%; font-weight:600; color:#47120e; display:block; }
.prodcut-ov .info-list .tip .tip-btxt{font-size:16px;line-height:150%; font-weight:400; color:#47120e; display:block;}
.prodcut-ov .info-list .tip .tip-stxt{font-size:15px;line-height:110%; font-weight:600; color:#ff5a00; display:block;}

.prodcut-ov .info-buy{ background:#ff5a00; text-align:center; line-height:48px; margin:20px 0}
.prodcut-ov .info-buy .btxt{font-size:16px; color:#fff; margin-right:10px; display:inline-block; vertical-align:top;}
.prodcut-ov .info-buy .stxt{ font-size:20px; font-weight:600; color:#fff; display:inline-block; vertical-align:top;}

.prodcut-ov .info-due{ background:#e0d7c5; text-align:center;padding:15px 0}
.prodcut-ov .info-due div{display:inline-block; vertical-align:top; padding-left:100px; position:relative;text-align:left}
.prodcut-ov .info-due .btxt{font-size:16px; letter-spacing:-0.03em;color:#511f1a;position:Absolute; left:0; top:0; display:inline-block; vertical-align:top; line-height:48px;}
.prodcut-ov .info-due .stxt{ font-size:18px;letter-spacing:-0.03em; font-weight:600; color:#511f1a; display:block; vertical-align:top;  line-height:24px;}
.prodcut-ov .info-due .ctxt{ font-size:16px; letter-spacing:-0.03em;font-weight:400; color:#807f7e; display:block; vertical-align:top;  line-height:24px;}


	@media only screen and (max-width:1000px) {
		.prodcut-ov .info-list h3{font-size:18px; line-height:50px; height:50px; }
		.prodcut-ov .info-list li{padding-left:100px;}
		.prodcut-ov .info-list li input[type="text"]{height:50px; font-size:17px; min-width:100px;}
		.prodcut-ov .info-list li input[type="text"].w500{width:100%}
		.prodcut-ov .info-list .btxt{font-size:17px; line-height:50px;}
		.prodcut-ov .info-list .check-box input + label{font-size:16px;}

		.prodcut-ov .info-list .btn-wrap{padding-left:0; text-align:center;}
		.prodcut-ov .info-list .btn-wrap a{min-width:160px !important; width:160px; font-size:16px;}

		.prodcut-ov .info-list .break{display:block; margin-top:10px; }
		.prodcut-ov .info-list .break .cr-btn{margin-left:0;margin-right:10px; min-width:50%}
		.prodcut-ov .info-list .break .cw-btn{margin-left:0;margin-right:10px; min-width:36%}
	}
	@media only screen and (max-width:880px) {
		.prodcut-ov{overflow:visible}
		.prodcut-ov .fl{float:none; width:auto;}
		.prodcut-ov .fr{float:none; width:auto;;box-sizing:border-box; margin-top:60px;}

		.prodcut-ov .info-list .post-btn2{height:42px; font-size:15px; margin:15px 0}
		.prodcut-ov .info-list .post-btn2 span{line-height:42px;}
	}

	@media only screen and (max-width:640px) {
	    .prodcut-ov .info-list h3{font-size:18px; }

		.prodcut-ov .info-list li input[type="text"].post-input{width:55%}

		.prodcut-ov .info-list .cr-btn.post-btn{width:30%;min-width:80px; font-size:15px}
		.prodcut-ov .info-list .cr-btn.post-btn span i{display:none;}
		.prodcut-ov .info-list .btn-wrap a{min-width:120px; font-size:15px;margin:0 10px !important;}

		.prodcut-ov .info-list .tip .tip-btxt{font-size:15px;}
		.prodcut-ov .info-list .tip .tip-stxt{font-size:14px}
	}
	@media only screen and (max-width:480px) {
		.prodcut-ov .info-list li{padding-left:80px; margin-top:10px}
		.prodcut-ov .info-list li input[type="text"]{height:40px; font-size:14px;}
		.prodcut-ov .info-list li:last-child .btxt{ line-height:18px;}

		.prodcut-ov .info-list .btxt{font-size:15px; line-height:40px;}
		.prodcut-ov .fr .info-list .btxt{font-size:15px;}
		.prodcut-ov .fr .info-list .stxt{font-size:15px;}
		.prodcut-ov .info-list .check-box input + label{font-size:14px;}

		.prodcut-ov .info-list .cr-btn.post-btn{height:40px ;}
		.prodcut-ov .info-list .cr-btn.post-btn span{line-height:40px; width:60px; overflow:hidden;}

		.prodcut-ov .info-list .btn-wrap a{min-width:90px !important; width:90px; font-size:14px; margin:0 3px !important;}
		.prodcut-ov .info-list  .btn-wrap a span{line-height:40px}

		.prodcut-ov .info-list .sr-btn.w30p{height:40px; margin-left:1%; font-size:15px;}
		.prodcut-ov .info-list .sr-btn.w30p span{line-height:40px;}

		.prodcut-ov .info-list textarea{font-size:15px;}

		.prodcut-ov .info-due div{padding-left:90px;}
		.prodcut-ov .info-due .stxt{font-size:16px}
		.prodcut-ov .info-due .ctxt{font-size:14px;}

	}







/* login-wrap */
.login-wrap{max-width:600px; margin:0 auto; color:#47120e;}
.login-wrap li:first-child{margin-top:0}
.login-wrap li{margin-top:25px;}
.login-wrap .btxt{ font-size:16px; font-weight:600; display:block; margin-bottom:15px;}
.login-wrap input[type="text"]{ height:54px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}

.login-wrap .login-save{margin-top:20px}
.login-wrap .login-save input[type="checkbox"]{ display:none;}
.login-wrap .login-save input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.login-wrap .login-save input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.login-wrap .login-save input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}

.login-wrap .login-btn{font-size:17px; display:block;text-align:center; padding:18px 0; font-weight:400; color:#fff; background:#ff5a00;}
.login-wrap .join-btn{font-size:17px; display:block;text-align:center; padding:18px 0; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.login-wrap .join-btn:hover{color:#fff; background:#ff5a00;}


.sns-wrap{max-width:600px; margin:35px auto 0 auto;border-top:1px solid #e0d7c5;  padding-top:35px;}
.sns-wrap li:first-child{margin-top:0}
.sns-wrap li{margin-top:10px;}
.sns-wrap  a{font-size:17px; display:block;text-align:center; padding:16px 0; font-weight:400; color:#fff;}
.sns-wrap .c-01{background:#48659f;}
.sns-wrap .c-02{background:#38d839;}
.sns-wrap .c-03{background:#fae102; color:#020202}

.login-other{max-width:600px; margin:15px auto 0 auto;}
.login-other li:first-child{margin-left:0;}
.login-other li:first-child:after{display:none;}
.login-other li{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.login-other li a{ color:#47120e ; display:block; font-size:16px;}
.login-other li:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

	@media only screen and (max-width:480px) {
		.login-wrap input[type="text"]{height:52px; font-size:15px;}
	}




/* join-wrap*/
.join-wrap {overflow:hidden}
.join-wrap .fl{width:48% ;border-bottom:1px solid #e0d7c5; padding:0 5px 15px 5px;}
.join-wrap .fr{width:48%;box-sizing:border-box; padding:0 5px}
.join-wrap .fl li:first-child{margin-top:0}
.join-wrap .fl li{margin-top:25px;}
.join-wrap .fl .btxt{ font-size:16px; font-weight:600; display:block; margin-bottom:15px;}
.join-wrap .fl input[type="text"]{ height:54px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}


.join-wrap .join-agree{ display:block;margin-bottom:15px;}
.join-wrap .join-agree input[type="checkbox"]{ display:none;}
.join-wrap .join-agree input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.join-wrap .join-agree input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}
.join-wrap .join-agree input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}
.join-wrap .join-btn{font-size:17px; display:block;text-align:center; padding:18px 0; font-weight:400; color:#fff; background:#ff5a00;}

.join-wrap .fr li:first-child{margin-top:0}
.join-wrap .fr li{margin-top:25px;}
.join-wrap .fr li div{position:Relative;padding:15px; font-size:15px; line-height:130%; min-height:100px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.join-wrap .fr li div:after{width:1px ;background:#e1e1e1; position:absolute; right:30px; top:0; height:100%; display:block; content:""}
.join-wrap .fr li div .up{position:Absolute; right:0px; top:0; width:30px; height:65px; display:block; background:url(../img/Sub/scroll-up.png) no-repeat center center;}
.join-wrap .fr li div .down{position:Absolute; right:0px; bottom:0; width:30px; height:65px; display:block; background:url(../img/Sub/scroll-down.png) no-repeat center center;}
.join-wrap .fr li div .down:after{width:100%; top:0; height:1px; background:#e1e1e1; position:absolute;display:block; content:""; left:0;}
.join-wrap .fr .btxt{ font-size:17px; color:#47120e; font-weight:600; display:block; margin-bottom:10px;}
.join-wrap .fr .btxt i{ color:#ff5a00;}


	@media only screen and (max-width:880px) {
		.join-wrap .fl{float:none; width:auto;}
		.join-wrap .fr{float:none; width:auto; margin-top:60px;}

		.join-wrap .fr li div .up{background-size:14px auto}
		.join-wrap .fr li div .down{background-size:14px auto}
	}










/* detail-table */
.detail-reply .img{}
.detail-reply .img img{width:100%}
.detail-reply .is-top{padding:0 20px; position:relative;}
.detail-reply .is-top .reply-btn{background:#ff5a00; position:absolute; right:20px; width:130px; height:42px; line-height:42px;   margin-top:-21px; top:50%; text-align:center; color:#fff; font-size:16px;}
.detail-reply .is-top .btit{font-weight:600; font-size:20px; display:block; color:#47120e;margin-bottom:10px;}
.detail-reply .star{ width:107px; height:15px; line-height:15px; color:#47120e; padding-left:117px; display:block;background:url(../img/Sub/star-sprite.png)no-repeat}
.detail-reply .star-0{background-position:0 0;}
.detail-reply .star-1{background-position:0 -23px;}
.detail-reply .star-2{background-position:0 -45px;}
.detail-reply .star-3{background-position:0 -68px;}
.detail-reply .star-4{background-position:0 -90px;}
.detail-reply .star-5{background-position:0 -113px;}

.detail-reply .list li{border:1px solid #e0d7c5; margin-top:20px; padding:25px; position:relative; overflow:hidden;}
.detail-reply .list li:after{ position:absolute; width:1px;height:80%; top:10%;left:40%; background:#e0d7c5; display:block; content:""}
.detail-reply .list li:first-child{margin-top:0px}
.detail-reply .list li .fl{ width:40%;box-sizing:border-box; position:relative;padding-right:60px;}
.detail-reply .list li .fr{ width:60% ;box-sizing:border-box; padding-left:60px;}
.detail-reply .list li .stxt{color:#47120e; font-size:15px; line-height:130%; margin:10px 0; padding-bottom:20px; min-height:20px;}
.detail-reply .list li .date{color:#47120e; font-size:15px; line-height:150%; display:block;}
.detail-reply .list li .name{font-weight:600; font-size:19px; display:block; color:#47120e;margin-bottom:5px;}
.detail-reply .list li .name span{display:inline-block; vertical-align:top; margin-left:28px; position:relative;}
.detail-reply .list li .name span:after{ width:1px; height:16px; background:#47120e; position:absolute; left:-16px; top:50%;margin-top:-7px; display:block; content:""}
.detail-reply .list li .email{font-weight:400; font-size:15px; display:block; color:#47120e;margin-bottom:10px;}
.detail-reply .list li .star{margin-top:15px}
.detail-reply .list li .fl img{ width:100%;}

.detail-tit{padding:12px 0 12px 25px;text-align:center; background:#e0d7c5; font-size:16px; font-weight:600; color:#47120e; margin-bottom:20px}
.detail-table thead th{padding:8px 0 8px 25px;text-align:left; background:#e0d7c5; font-size:15px; font-weight:400; color:#47120e;}
.detail-table tbody td{padding:8px 0 8px 25px; text-align:left; color:#47120e; font-size:14px;}
.detail-table tbody tr td:first-child{border-left:none;}
.detail-table td{border-left:1px solid #e0d7c5; border-bottom:1px solid #e0d7c5}
.detail-table tbody tr td:first-child{width:45%;}

	@media only screen and (max-width:880px) {
		.detail-reply .list li .fl{padding-right:40px}
		.detail-reply .list li .fr{padding-left:40px;}


		.detail-reply .list li{padding:15px}
		.detail-reply .list li .name{font-size:17px}
		.detail-reply .list li .email{font-size:14px;}
	}
	@media only screen and (max-width:640px) {
		.detail-reply .list li .fl{padding-right:0; float:none; width:auto;}
		.detail-reply .list li .fr{padding-left:0; margin-top:25px; float:none; width:auto}

		.detail-reply .list li:after{display:none;}

		.detail-reply .list li{padding:15px}
		.detail-reply .list li .name{font-size:17px}
		.detail-reply .list li .email{font-size:14px;}

		.detail-reply .is-top .reply-btn{display:block; position:relative; right:auto; top:auto; margin:20px 0 0 0; width:auto;}
		.detail-reply .is-top{padding:0 10px}

		.detail-table tbody td{padding-left:10px;}
		.detail-table tbody tr td:first-child{width:100px}
	}
	@media only screen and (max-width:480px) {
	.detail-reply .list li .stxt{font-size:14px;}
	}



.recipe-wrap{position:relative;padding:50px 0;}
.recipe-wrap:after{background:#f8f2e6; position:absolute; left:50%;margin-left:-1000px; width:2000px; height:100%; display:block;content:""; z-index:-1; top:0}

.recipe-wrap ul{margin:0 -1.5%;font-size:0}
.recipe-wrap li{display:inline-block; vertical-align:top; width:47%; margin:0 1.5% 3% 1.5%}
.recipe-wrap li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.recipe-wrap li a:hover .txt{background:#ff5a00}
.recipe-wrap li a:hover .btxt{ color:#fff}
.recipe-wrap li a:hover .stxt{ color:#fff}
.recipe-wrap li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.recipe-wrap .img{display:block;overflow:hidden}
.recipe-wrap .img img{width:100%;}
.recipe-wrap .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.recipe-wrap a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}

.recipe-wrap .ov{background:#fff; padding:20px 25px 20px 80px; min-height:130px; position:relative;}
.recipe-wrap .num{line-height:48px;  font-weight:600; font-size:36px; color:#ff5a00; position:Absolute; left:20px; top:10px}
.recipe-wrap .txt{display:block; background:#fff; padding:20px 30px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.recipe-wrap .btxt{display:block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  line-height:140%;  font-weight:600; font-size:18px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.recipe-wrap .stxt{display:block; padding:10px 0 5px 0; font-weight:400; line-height:140%; font-size:14px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.recipe-wrap li{width:48%; margin:0 1% 20px 1%}

		.recipe-wrap .ov{padding:15px 25px 15px 75px;min-height:160px}
		.recipe-wrap .btxt{font-size:16px}
		.recipe-wrap .stxt{ font-size:14px; padding:2px 0 5px 0;}

		.recipe-wrap ul{padding:0}

	}
	@media only screen and (max-width:890px) {
		.recipe-wrap ul{margin:0 0%;}
		.recipe-wrap li{width:48%; margin:0 1% 20px 1%}
		.recipe-wrap .ov{padding:15px 25px 15px 70px;}
		.recipe-wrap .num{font-size:30px; line-height:42px}

		.recipe-wrap .btxt{font-size:16px}
		.recipe-wrap .stxt{ font-size:14px;}

	}
	@media only screen and (max-width:840px) {
		.recipe-wrap li{width:100%;margin:0 0 20px 0;}
		.recipe-wrap .ov{ min-height:auto;}

	}



.material-wrap{position:relative;padding:50px 0;}
.material-wrap .is-con{ padding-left:55%; position:relative; min-height:440px;}
.material-wrap .is-con .img{width:51%; position:absolute; left:0; top:0;}
.material-wrap .is-con .img img {width:100%}
.material-wrap .is-con  ul{padding:10px 0 0 20px}
.material-wrap .check-box{ display:block;margin-bottom:15px;}
.material-wrap .check-box input[type="checkbox"]{ display:none;}
.material-wrap .check-box input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.material-wrap .check-box input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}
.material-wrap .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}

.material-wrap .check-box label span{display:inline-block; vertical-align:top; color:#47120e; font-size:16px;}
.material-wrap .check-box label span.btxt{font-weight:600;}
.material-wrap .check-box label span.stxt{font-weight:600;position:relative; margin-left:34px;}
.material-wrap .check-box label span.ctxt{font-weight:400;position:relative; margin-left:34px; display:none}

.material-wrap .check-box label span.stxt:after,
.material-wrap .check-box label span.ctxt:after{ width:1px; height:16px; background:#47120e; position:absolute; left:-20px; top:50%;margin-top:-7px; display:block; content:""}
	@media only screen and (max-width:880px) {
		.material-wrap .is-con{padding-left:300px;}
		.material-wrap .is-con .img{width:290px}
		.material-wrap .is-con  ul{padding-top:0;}
		.material-wrap .check-box label span{font-size:15px;}
	}
	@media only screen and (max-width:740px) {
		.material-wrap .is-con{padding-left:0;}
		.material-wrap .is-con .img{position:relative; left:auto; top:auto; width:auto;}
		.material-wrap .is-con  ul{padding:25px 15px}
		.material-wrap .check-box label span{font-size:15px;}

		.material-wrap .check-box label span.stxt, .material-wrap .check-box label span.ctxt{margin-left:24px}

		.material-wrap .check-box label span.stxt:after,
		.material-wrap .check-box label span.ctxt:after{left:-15px}
	}
	@media only screen and (max-width:400px) {
		.material-wrap{padding:40px 0;}
		.material-wrap .check-box label span{font-size:14px;}
		.material-wrap .check-box{margin-bottom:10px}
	}

.matters{margin-top:50px;border:1px solid #e0d7c5; font-size:0;}
.matters li{display:inline-block; vertical-align:top; min-height:140px; width:33.333333%;text-align:center; padding:30px 0; position:relative;}
.matters li:after{background:#e0d7c5; width:1px; height:80%; top:10%; display:block; content:""; position:absolute; left:-1px;}
.matters .btxt{font-size:20px; font-weight:600; color:#47120e; display:block; padding-bottom:30px;}
.matters .check-box{display:inline-block;margin-bottom:5px;}
.matters li ul{width:150px; margin:0 auto;}
.matters li ul li{display:block; min-height:auto; width:auto ;text-align:left; padding:0 0}
.matters li ul li:after{display:none;}

	@media all and (max-width:640px) {
		.matters{margin-top:30px}
		.matters .btxt{padding-bottom:15px;font-size:16px;}
		.matters li{display:block; width:auto; min-height:auto;padding:15px 20px; text-align:left;}
		.matters li ul{width:auto;padding-bottom:15px;border-bottom:1px solid #e0d7c5}
		.matters li:last-child ul{border-bottom:none;}
	}

.story-wrap{position:relative;padding:50px 0;}
.story-wrap:after{background:#f8f2e6; position:absolute; left:50%;margin-left:-1000px; width:2000px; height:100%; display:block;content:""; z-index:-1; top:0}
.story-wrap .is-con{ padding-left:50%; position:relative; min-height:500px;}
.story-wrap .is-con .img{width:50%; position:absolute; left:0; top:0;}
.story-wrap .is-con .img img {width:100%}
.story-wrap .is-con dl{padding:30px 0 0 40px}
.story-wrap .is-con dt{font-weight:600; font-size:20px; margin-bottom:20px; color:#47120e;}
.story-wrap .is-con dd{ margin-top:7px; font-size:15px;}
.story-wrap .is-con dd:nth-child(2){margin-top:0;}

	@media only screen and (max-width:880px) {
		.story-wrap .is-con{padding-left:300px;}
		.story-wrap .is-con .img{width:290px}
		.story-wrap .is-con  dl{padding-top:0;}
	}
	@media only screen and (max-width:740px) {
		.story-wrap .is-con{padding-left:0;}
		.story-wrap .is-con .img{position:relative; left:auto; top:auto; width:auto;}
		.story-wrap .is-con  dl{padding:25px 15px 0 15px;}
	}
	@media only screen and (max-width:400px) {
		.story-wrap{padding:40px 0}
		.story-wrap .is-con dt{font-size:18px}
		.story-wrap .is-con dd{ margin-top:5px; font-size:14px;}

	}


.detail-tab{border-bottom:1px solid #e0d7c5; margin-bottom:35px;}
.detail-tab ul{font-size:0;text-align:center; padding-bottom:7px;}
.detail-tab li{display:inline-block; vertical-align:top; padding:4px 0; margin-left:64px; position:relative;}
.detail-tab li:first-child{margin-left:0}
.detail-tab li:first-child:after{display:none;}
.detail-tab li:after{ width:1px; height:16px; background:#47120e; position:absolute; left:-32px; top:50%;margin-top:-7px; display:block; content:""}
.detail-tab li a{display:block; line-height:48px; color:#47120e; font-size:17px; font-weight:600;}
	@media only screen and (max-width:740px) {
		.detail-tab{margin-bottom:20px;}
	}
	@media only screen and (max-width:480px) {
		.detail-tab li{margin-left:40px}
		.detail-tab li:after{left:-20px}
		.detail-tab li a{font-size:16px}
	}


.detail-movie{position:relative;}
.detail-movie img{width:100%; position:relative;}
.detail-movie .play{z-index:3; width:68px; height:68px; margin-left:-34px;margin-top:-34px;top:50%; background:url(../img/Content/movie-ico.png) no-repeat center center ;background-size:100% auto;position:absolute; left:50%;}

	@media only screen and (max-width:640px) {
		.detail-movie .play{width:50px; height:50px; margin-left:-25px;margin-top:-25px;}
	}


.detail-sns{border:1px solid #e0d7c5 ; text-align:center; padding:40px 0}
.detail-sns dl{margin-bottom:15px; font-size:0;}
.detail-sns dt{font-weight:600; color:#47120e; font-size:20px; letter-spacing:-0.03em; margin-bottom:25px;}
.detail-sns dd{display:inline-block;vertical-align:top; margin:0 20px; vertical-align:top;  min-height:50px; position:relative;}
.detail-sns dd a{display:block;  color:#47120e; font-size:16px; text-align:left; }
.detail-sns dd a span{line-height:50px;display:inline-block;padding-left:60px; min-width:85px}

.detail-sns dd a.sns-01 span{background:url(../img/Content/sns-01.png) no-repeat left  center; background-size:40px auto}
.detail-sns dd a.sns-02 span{background:url(../img/Content/sns-02.png) no-repeat left  center; background-size:40px auto}
.detail-sns dd a.sns-03 span{background:url(../img/Content/sns-03.png) no-repeat left  center; background-size:40px auto}
.detail-sns dd a.sns-04 span{background:url(../img/Content/sns-04.png) no-repeat left  center; background-size:40px auto}

.detail-sns .sw-btn{border-radius:40px; font-weight:400; height:44px}
.detail-sns .sw-btn span{line-height:44px;}

	@media only screen and (max-width:700px) {
		.detail-sns dt{font-size:17px; padding:0 25px;}
		.detail-sns dd{width:auto; min-width:120px; margin:0 1% 1% 1% }
		.detail-sns dd:nth-child(3){min-width:100px;}
		.detail-sns dd:nth-child(4){min-width:100px;}

		.detail-sns dd:nth-child(3) a span{min-width:50px;}
		.detail-sns dd:nth-child(4) a span{min-width:50px;}
		.detail-sns dd a{font-size:15px;}
		.detail-sns dd a span{padding-left:45px;background-size:30px auto !important;}
	}

	@media only screen and (max-width:480px) {
		.detail-sns dd{ margin:0 2% 1% 2% ;}
		.detail-sns dd:nth-child(3) a span{min-width:80px;}
		.detail-sns dd:nth-child(4) a span{min-width:80px;}
	}




.detail-info{overflow:hidden; padding:40px 0 20px 0}
.detail-info .fl{width:49%}
.detail-info .fr{width:47%;box-sizing:border-box; padding: 0 5px}
.detail-info .detail-photo .item img{width:100%;}

.thumnail-ov{padding:0 10%;margin-top:10px;}
.detail-info .detail-thumnail{margin:0 -10px}
.detail-info .detail-thumnail .item{margin:0 10px;}
.detail-info .detail-thumnail .item.slick-current{position:relative;}
.detail-info .detail-thumnail .item.slick-current:after{border:2px solid #ff5a00;box-sizing:border-box;left:0; top:0; width:100%; height:100%;display:block; content:"";position:absolute;}
.detail-info .detail-thumnail .item img{ width:100%; cursor:pointer}
.detail-info .slick-dots{display:none !important}

	@media only screen and (max-width:1000px) {
		.detail-info .fl{width:40%}
		.detail-info .fr{width:56%}
	}
	@media only screen and (max-width:880px) {
		.detail-info .fl{width:auto; float:none;}
		.detail-info .fr{width:auto; float:none; margin-top:25px;}
	}

.detail-info .fr h4{color:#47120e; font-size:25px; font-weight:600; padding-bottom:20px; padding-left:19px; position:relative; border-bottom:1px solid #e0d7c5}
.detail-info .fr h4:after{background:#47120e; border-radius:4px; position:absolute; left:0; top:7px; display:block; content:""; width:8px; height:8px;}
.detail-info .fr p{line-height:38px; display:inline-block; vertical-align:top; color:#47120e}
	@media only screen and (max-width:1000px) {
		.detail-info .fr h4{font-size:20px; padding-bottom:15px;}
		.detail-info .fr h4:after{top:7px;}
	}

.detail-info .fr .rtxt{ padding:0 15px;}
.detail-info .fr .btxt{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:50px; }
.detail-info .fr .img{width:40px; height:35px;background:#ebebeb; position:absolute; left:0; top:5px;display:block;}
.detail-info .fr .check-box{display:inline-block; vertical-align:top; display:block; padding-right:200px;}
.detail-info .fr .check-box input[type="checkbox"]{ display:none;}
.detail-info .fr .check-box input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:30px; position:relative;  line-height:38px; }
.detail-info .fr .check-box input + label:after{width:20px; height:20px;background:#ebebeb; position:absolute; left:0; top:10px;display:block;content:"";box-shadow: 0 0 8px rgba(0, 0, 0, 0);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0)}
.detail-info .fr .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center #ebebeb;}
.detail-info .fr .num-ctrl{display:inline-block; position:absolute; right:116px; top:0; margin-top:4px; vertical-align:top; height:30px; border-radius:30px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}
.detail-info .fr .num-ctrl button{display:inline-block; vertical-align:top; width:30px; height:30px;border:none}
.detail-info .fr .num-ctrl .minus{background:url(../img/Sub/page-ctrl.png) no-repeat 5px center; background-size:70px auto;border-right:1px solid #e1e1e1}
.detail-info .fr .num-ctrl .plus{background:url(../img/Sub/page-ctrl.png) no-repeat -46px center;  background-size:70px auto;border-left:1px solid #e1e1e1}
/* .detail-info .fr .num-ctrl .minus:hover{background:url(../img/Sub/page-ctrl.png) no-repeat 5px center; background-size:70px auto;}
.detail-info .fr .num-ctrl .plus:hover{background:url(../img/Sub/page-ctrl.png) no-repeat -46px center; background-size:70px auto;} */
.detail-info .fr .num-ctrl .count{display:inline-block; font-size:15px; vertical-align:top; min-width:30px; max-width:40px; text-align:center;border:none; font-weight:600; color:#ff5a00; line-height:30px;}
.detail-info .fr .list{padding-bottom:30px;}
.detail-info .fr .list li{margin-top:20px;overflow:hidden; color:#47120e; position:relative; font-size:0}
.detail-info .fr .result{ position:absolute; right:0; top:0;font-size:17px; font-weight:400; }
.detail-info .fr .num-ctrl:after{position:Absolute; right:-35px; top:50%;margin-top:-10px; height:20px; display:block; content:"="; color:#47120e; font-size:15px; line-height:20px;}
.detail-info .fr .num-ctrl:before{position:Absolute; left:-35px; top:50%;margin-top:-10px; height:20px; display:block; content:"ⅹ"; color:#47120e; font-size:15px; line-height:16px;}
.recipe-btn{display:block; line-height:44px; height:44px; text-align:center; color:#47120e; font-size:15px; border-radius:44px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.recipe-btn:hover{background:#ff5a00; color:#fff}


	@media only screen and (max-width:640px) {
		.detail-info .fr .num-ctrl:after{display:none}
		.detail-info .fr .num-ctrl{right:0;}
		.detail-info .fr .check-box{padding-right:120px;}
		.detail-info .fr .result{position:relative; top:auto; right:auto; margin-top:15px; width:100%; text-align:right;line-height:120%;}
		.detail-info .fr .num-ctrl:before{left:-25px}
		.detail-info .fr .list li{border-bottom:1px dotted #e0d7c5;padding-bottom:15px}
	}



.select-person{ border-top:1px solid #e0d7c5; border-bottom:1px solid #e0d7c5;padding:18px 0 ;margin:25px 0;text-align:center;}
.select-person li{display:inline-block; vertical-align:top; margin:0 5px;}
.select-person li.active a, .select-person a:hover{background:#ff5a00; color:#fff; }
.select-person li.active a span{font-weight:600; color:#fff}
.select-person a{display:block ;border-radius:38px; padding:0 30px; line-height:38px; text-align:center; color:#47120e; font-size:15px; display:block;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}


.detail-info .fr .won{border:1px solid #e0d7c5; padding:15px 0; text-align:center;}
.detail-info .fr .won .btxt{ color:#47120e; font-size:15px; display:inline-block;vertical-align:top; margin-right:10px;}
.detail-info .fr .won .stxt{ color:#ff5a00; font-weight:600; font-size:30px; letter-spacing:-0.04em;display:inline-block;vertical-align:top; margin-right:3px; }

.detail-info .fr .btn-wrap{margin-top:10px;overflow:hidden}
.detail-info .fr .btn-wrap a{line-height:44px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.detail-info .fr .btn-wrap .cart-btn{float:left; width:49%;border:1px solid #e0d7c5; height:44px; text-align:center; color:#47120e; font-size:15px; }
.detail-info .fr .btn-wrap .cart-btn:hover{border:1px solid #ff5a00;background:#ff5a00;color:#fff;}
.detail-info .fr .btn-wrap .buy-btn{float:right; width:49%;border:1px solid #e0d7c5; height:44px; text-align:center; color:#47120e; font-size:15px; }
.detail-info .fr .btn-wrap .buy-btn:hover{border:1px solid #ff5a00;background:#ff5a00;color:#fff;}

	@media only screen and (max-width:640px) {
		.detail-info .fr .won .stxt{font-size:25px;}
		.select-person li{margin:0 3px;}
		.select-person a{padding:0 20px; line-height:32px; font-size:14px;}
	}




.order-detail-layer.hide{display:none}

.post-layer.hide{display:none;}
.post-layer{max-width:380px; padding-bottom:15px;}
.post-layer input[type="text"]{ height:48px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.post-layer input[type="text"].addr{border:1px solid #e0d7c5;box-shadow: 0 0 8px rgba(0, 0, 0, 0)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0)}



.post-layer .post-btn2{display:block;min-width:140px; height:48px;text-align:center; margin:15px 0;  font-size:16px;background:#f8f2e6; width:100%; color:#47120e; font-weight:600; font-size:16px;}
.post-layer .post-btn2 span{line-height:48px;}



.post-layer .tip h4{line-height:120%;font-size:16px;line-height:150%; font-weight:600; color:#47120e; display:block; }
.post-layer .tip .tip-btxt{font-size:16px;line-height:150%; font-weight:400; color:#47120e; display:block;}
.post-layer .tip .tip-stxt{font-size:15px;line-height:110%; font-weight:600; color:#ff5a00; display:block;}
