@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html,body {width:100%;height:100%; font-family: "Roboto","Noto Sans","Nanum Barun Gothic","Malgun Gothic"; }
body {overflow:auto;}

#doc {position: relative;overflow:hidden; min-width:320px;}
.div-cont{max-width:1000px; margin:0 auto;}
	@media only screen and  (max-width:1024px) {
		.div-cont{max-width:100%; margin:0;}
	}

.body-slide-wr {position:relative;width:100%;height:100%;transition:margin 0.3s ease;}
.body-slider-ovclick, .container-ovclick, .header-slider-ovclick{position:fixed;z-index:2006;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }
.search-slider-ovclick{position:fixed;z-index:2000;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }


/* z-index */
#header-wrap{z-index:2005;  position:relative;}
#container-wrap{z-index:10; position:relative;  }
#footer-wrap{z-index:1001; position:relative;}

/* 상단 */
#header-wrap:before {background:#fff; position:absolute; left:50% ;width:2000px; height:100%; display:block; content:""; margin-left:-1000px;z-index:-1;}
#header{position:relative; z-index:5600; height:286px;}

#header-wrap.fix{position:fixed; left:0 ;top:0 ;width:100%; max-width:100%; height:70px;}
#header-wrap.fix:before{background:#ff5a00;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) ;-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) ; -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05)  ;}
#header-wrap.fix #header{margin:0 auto; width:1000px; height:50px;}
#header-wrap.fix #logo{display:none;}
#header-wrap.fix .top-search{display:none;}
#header-wrap.fix #gnb-wrap{display:none;}
#header-wrap.fix .mn-bar{top:70px; background:rgba(255,255,255,0.95)}
#header-wrap.fix #mainNavi-wrap{top:0;}
#header-wrap.fix .topmenu .mn_a1{color:#fff}
#header-wrap.fix .topmenu .depth2 .mn_a2 span{color:#111}
#header-wrap.fix #mainNavi-wrap .ovbar{top:58px;}
#header-wrap.fix #mainNavi-wrap .ovbar:after{background:#fff}

#header-wrap .mn-bar {position:absolute;left:0;top:286px;width:2000px; left:50%;margin-left:-1000px;;display:block;z-index:2000;background:rgba(137,122,93,0.75);box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05) ;-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05) ; -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.05)  ;}

#logo {position:absolute;left:50%;margin-left:-200px;top:80px;z-index:2002;text-align:left; width:240px; margin-left:-120px; height:68px;}
#logo a{background:url(../img/logo.png) no-repeat center center; background-size:100% auto;display:block; height:68px;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

#gnb-wrap{ height:50px; position:relative;z-index:2005;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
#gnb-wrap:after{background:#f8f2e6; position:absolute; left:50%;margin-left:-1000px; width:2000px; height:100%; top:0; display:block; content:""; z-index:-1;}

.top-quick{position:absolute; right:220px;text-align:right; font-size:0; top:0;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.top-quick li{font-weight:400; text-transform:uppercase; display:inline-block; vertical-align:top; margin-left:48px;}
.top-quick li a{display:block; line-height:50px; font-size:14px; color:#3d3d3b; cursor: pointer}
.top-quick li:last-child a{background:url(../img/Layout/cart-ico.png) no-repeat left center ; padding-left:22px;}

.top-member{position:absolute;text-align:right; font-size:0; right:0; top:0;}
.top-member li:first-child:after{display:none;}
.top-member li:first-child{margin-left:0;}
.top-member li:after{background:rgba(0,0,0,0.6); width:1px; height:12px; position:absolute; left:-25px; top:50%;margin-top:-6px;display:block; content:""}
.top-member li{font-weight:400; position:relative; text-transform:uppercase; display:inline-block; vertical-align:top; margin-left:48px;}
.top-member li a{display:block; line-height:50px; font-size:14px; color:#3d3d3b; cursor: pointer}
.top-member li:first-child a{background:url(../img/Layout/login-ico.png) no-repeat left center ; padding-left:27px;}



	@media only screen and (max-width:1000px) {
		#logo{ width:200px; margin-left:-100px; top:70px; height:34px; z-index:2999}
		#logo a{height:34px;}

		#gnb-wrap{height:48px;}

		.top-member{display:none;}
		.top-quick{left:15px; right:auto; text-align:left;}
		.top-quick li {margin-left:0; margin-right:40px;}
		.top-quick li a{line-height:48px; font-size:14px;}

	}
	@media only screen and (max-width:680px) {
		#logo{ width:150px; margin-left:-75px; top:65px; height:34px}
		#logo a{height:34px;}

		.top-quick li {margin-left:0; margin-right:40px;}
		.top-quick li:last-child{margin-right:0}

	}
	@media only screen and (max-width:680px) {
		.top-quick li {margin-left:0; margin-right:30px;}
	}

.top-popup{height:100px; position:relative; max-width:1000px; margin:0 auto; overflow:visible !Important}
.top-popup .top-slide{ position:Absolute; left:50%;margin-left:-1000px; width:2000px; height:100px; left:50%;top:0; overflow:hidden}
.top-popup .item{text-align:center;}
.top-popup .close{position:Absolute;border-radius:100%; right:0; top:50%;margin-top:-20px; width:40px; height:40px; background:url(../img/Layout/top-close.png) no-repeat center center #fff; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}

.top-search{ position:absolute;overflow:hidden; left:50%;margin-left:-190px;; width:380px;border-radius:40px; height:40px; top:160px; font-size:0; z-index:2006; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;}
.top-search:after{position:Absolute;opacity:0; width:100%;border:2px solid #ff5a00; height:100%; z-index:-1; display:block;box-sizing:border-box; content:"";border-radius:40px; left:0; top:0;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.top-search:hover:after{opacity:1}
.top-search .is-search{ vertical-align:top;}
.top-search input[type="text"]{ width:100%; color:#5e6368; border:none; font-size:14px;background:none; letter-spacing:-0.07em; height:40px; line-height:40px; padding:0 60px 0 20px; margin:0; box-sizing:border-box;}
.top-search .search-btn{ position:Absolute; width:52px; right:0;top:0; height:42px;  background:url(../img/Layout/top-search.png) no-repeat center center; border:none;}
.top-search .search-open{ display:none;position:Absolute; width:42px; right:0;top:0; height:42px;  background:url(../img/Layout/top-search.png) no-repeat center center; border:none;}
.top-search .search-close{ display:none;position:Absolute; right:0; top:0; width:42px; right:10px;;top:15px; height:42px;  background:url(../img/Layout/search-close.png) no-repeat center center; border:none;}

	@media only screen and (min-width:1001px){
		.search-slider-ovclick{display:none !important}
		.top-search .is-search{display:block !Important}
	}
	@media only screen and (max-width:1000px) {
		#header{height:130px;background:#fff;}
		#header .bt-mnall {z-index:2999;position:absolute;display:block; width:30px; height:30px; background:url(../img/Layout/bt-mnall.png)no-repeat center center;background-size:28px auto; right:15px; top:75px;}

		.top-search{top:0; width:100%; height:0; margin:0; left:0; z-index:2999}
		.top-search:hover:after{display:none;}
		.top-search .is-search{ display:none;background:#f0f0f0; width:100%; box-sizing:border-box; padding:5px 55px 10px 15px; height:70px;position:absolute; left:0; top:120px;}
		.top-search input[type="text"]{ height:50px; border-bottom:1px solid #797979; width:100%; font-size:15px; padding-left:10px;}

		.top-search .search-btn{background:url(../img/Layout/msearch-ico.png) no-repeat center center;  right:46px; top:10px;}
		.top-search .search-close{display:block; top:10px; right:5px;}
		.top-search .search-open{display:block; left:5px; top:70px}

		.top-popup{height:70px;}
		.top-popup .close{right:10px; width:30px; height:30px; margin-top:-15px; background-size:10px auto}
	}
	@media only screen and (max-width:680px) {
		#header{height:120px;}
		#header .bt-mnall{top:69px; right:10px;background-size:22px auto}
		.top-search .search-open{ top:63px}
	}
	@media only screen and (min-width:1001px){
		/* 메뉴 */
		#mainNavi-wrap {height:50px;overflow:hidden;position:absolute;left:0;top:214px;width:100%;display:block;z-index:2007;}
		#mainNavi-wrap .tmn-tit {display:none;}

		#mainNav {position:relative;}

		.topmenu {display:block;position:relative;}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu .tgl-btn {display:none;}
		.topmenu .mn_a1 {line-height:1.35em;display:block;color:#111;font-family: 'NanumSquare'; font-weight:600; letter-spacing:-0.08em; position:relative; text-align:center;}

		.topmenu .mn_l1 {float:left; position:relative; width:16.666666%}
		.topmenu .mn_a1 {font-size:19px;padding:22px 18px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		.topmenu .mn_a1:hover, .topmenu .is-over .mn_a1{color:#ff5a00}

		.topmenu .depth2-wrap {position:absolute;top:80px;line-height:120%;display:none;visibility:hidden;padding:0; left:0; width:100%;}
		.topmenu .depth2 {position:relative;height:auto;padding:10px 20px 21px 0;overflow:hidden;}
		.topmenu .depth2 li {letter-spacing:-1px;line-height:1.3em; width:auto;}
		.topmenu .depth2 .mn_l2 {text-align:left;margin-bottom:1px; }
		.topmenu .depth2 .mn_a2 {cursor:pointer; line-height:130%;padding:4px 35px 4px 20px; display:block; position:relative;}
		.topmenu .depth2 .mn_a2 span {display:inline-block; padding:5px 0; position:relative;font-weight:600; font-size:15px;letter-spacing:-0.03em;color:#fff;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		.topmenu .depth2 .mn_a2:hover span {color:#ff5a00;text-decoration:none;}
		.topmenu .depth2 .mn_a2:hover{background:#fff;box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }
		.topmenu .depth2 .mn_a2:hover:after{background:#ff5a00; width:4px; height:100%; position:absolute; right:0; top:0; display:block; content:""}

		.topmenu #tm_0001 .depth2{padding-left:5px}
		.topmenu #tm_0002 .depth2{padding-left:20px; padding-right:20px;}
		.topmenu #tm_0003 .depth2{padding-left:17px; padding-right:10px;}
		.topmenu #tm_0004 .depth2{padding-left:20px; padding-right:20px;}
		.topmenu #tm_0005 .depth2{padding-left:40px; padding-right:10px;}
		.topmenu #tm06 .depth2{padding-left:25px; padding-right:10px;}


		#mainNavi-wrap .ovbar {position:absolute;height:14px;top:60px;display:block;overflow:hidden; height:12px; display:block;;}
		#mainNavi-wrap .ovbar:after {position:absolute;bottom:0;left:50%;margin-left:-45%;background:#ff5a00; height:3px;content:"";display:block;z-index:200; width:90%}


		.tmn-member{display:none;}
	}

	@media only screen and (max-width:1000px) {


		/* 메뉴 */
		#header-wrap .mn-bg {display:none;}
		#mainNavi-wrap{position:Relative; z-index:2997}
		#mainNavi {position:fixed;background:#fff;transition:right 0.3s ease;z-index:7000;right:-260px;overflow-y:scroll;overflow-x:hidden;top:0px;width:240px;height:100%;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}
		#mainNavi.mn-h-open {right:0;}

		.tmn-tit {display:block;padding:0; height:60px; position:relative;}
		.tmn-logo{background:url(../img/logo.png) no-repeat 20px center; background-size:110px auto; height:60px;}
		.tmn-member{ position:relative;overflow:hidden; background:#f8f2e6; font-size:0; text-align:center; padding:20px 0 13px 0}
		.tmn-member:after{background:rgba(0,0,0,0.1); width:100%; height:1px; position:absolute; lefT:0; bottom:0; display:block; content:""}
		.tmn-member:before{background:rgba(0,0,0,0.1); width:100%; height:1px; position:absolute; lefT:0; top:0; display:block; content:""}
		.tmn-member li:first-child:after{display:none;}
		.tmn-member li:after{background:rgba(0,0,0,0.3); width:1px; height:12px; position:absolute; left:0; top:50%;margin-top:-9px;display:block; content:"";}
		.tmn-member li{font-weight:400; position:relative; text-transform:uppercase; display:inline-block; vertical-align:top;  width:auto; padding:0 10px; cursor: pointer;}
		.tmn-member li a{display:inline-block; line-height:20px; font-size:14px; color:#3d3d3b; padding: 0 10px}
		.tmn-member li:first-child a{background:url(../img/Layout/login-ico.png) no-repeat left center ; padding-left:29px;}
		.bt-mnclose {position:absolute;right:0;top:0px;width:60px;height:60px; z-index:6999;border:0;background:rgba(0,0,0,0.70) url(../img/Layout/bt-mnall-close.png) no-repeat center center;}


		.mn-bar {display:none;}

		.topmenu {width:100%;display:block;position:relative;background:#f4f4f4;}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu li {line-height:1.3em;position:relative;}
		.topmenu a {position:relative;}
		.topmenu .mn-txt{display:none;}
		.topmenu .tgl-btn {display:none; border:none; text-indent:-9999px;}
		.topmenu .mn_a1 {position:relative;display:block;background-position:left top;background-repeat:repeat;border-bottom:1px solid #cecece;}
		.topmenu .mn_a1 span {display:block;padding:21px 23px 18px 23px;overflow:hidden;font-size:16px;font-weight:600;letter-spacing:-0.01em;white-space:normal;cursor:pointer;color:#222;}
		.topmenu .over .mn_a1 span, .topmenu  .mn_a1:hover span {color:#222;}
		.topmenu .is-open .mn_a1{background-color:#ff5a00;}
		.topmenu .is-open .mn_a1 span{color:#fff;}
		.topmenu .is-open.has-sub .tgl-btn:before, .topmenu .is-open.has-sub .tgl-btn:after{background:#fff;}
		/* .topmenu .has-sub .mn_a1 span {margin-right:30px;overflow:hidden;} */
		.topmenu .has-sub .tgl-btn {padding:0;display:block;width:20px;height:20px;position:absolute;right:15px;top:8px;border:0;z-index:100;text-indent:-9999em;background:transparent;}
		.topmenu .has-sub .tgl-btn:before {content:'';position:absolute;left:0;top:50%;width:60%;height:1px;background:#555;transform: rotate(45deg);}
		.topmenu .has-sub .tgl-btn:after {content:'';position:absolute;right:0;top:50%;width:60%;height:1px;background:#555;transform: rotate(-45deg);}
		.topmenu .mn_l1 > .tgl-btn {right:15px;top:20px;}
		.topmenu .mn_l1.is-open > .tgl-btn:before, .topmenu .mn_l1.over > .tgl-btn:before {left:2px;transform: rotate(0);}
		.topmenu .mn_l1.is-open > .tgl-btn:after, .topmenu .mn_l1.over > .tgl-btn:after {right:2px;transform: rotate(0);}
		.topmenu .mn_l2 > .tgl-btn {width:16px;height:16px;right:17px;top:16px;}
		.topmenu .mn_l2 > .tgl-btn:before, .topmenu .mn_l2 > .tgl-btn:after {height:1px;}
		.topmenu .mn_l2.is-open > .tgl-btn:before, .topmenu .mn_l2.over > .tgl-btn:before {transform: rotate(0);}
		.topmenu .mn_l2.is-open > .tgl-btn:after, .topmenu .mn_l2.over > .tgl-btn:after {transform: rotate(0);}

		.topmenu li > div {display:none;}
		.topmenu .depth2-wrap {position:relative;}
		.topmenu .depth2 {position:relative;width:100%;background:#f9f9f9; padding:15px 0; border-bottom:1px solid #cecece }
		.topmenu .depth2:after {clear:both;content:"";display:block}
		.topmenu .depth2 li {font-size:14px;line-height:1.3em;}
		.topmenu .depth2 a {display:block;}
		.topmenu .depth2 .mn_l2.first , .topmenu .depth2 .mn_l2:first-child {border-top:0px}
		.topmenu .depth2 .mn_a2 {display:block;padding:5px 45px 5px 32px; position:relative;}
		.topmenu .depth2 .mn_a2:after{width:4px; height:4px; background:#a9a9a9; border-radius:100%; position:absolute; left:22px; top:12px; display:block; content:""}
		.topmenu .depth2 .mn_a2 span {font-size:14px;font-weight:400;cursor:pointer;color:#677179;}
		.topmenu .depth2 .mn_a2:hover span, .topmenu .depth2 .over .mn_a2 span{color:#ff5a00;}
		.topmenu .depth2 .mn_a2:hover:after{background:#ff5a00;}


	}



/* 컨텐츠 */

#container-wrap.mcontainer { min-height:400px; }
#container:after{clear:both; content:"";display:block;}
	@media only screen and (min-width:1001px) and (max-width:1199px){

	}
	@media only screen and (max-width:1000px){

	}
	@media only screen and (max-width:680px){

	}



/* top-vis */
.top-vis{ height:200px; position:relative; }
.top-vis .vis-img{z-index:1;position:absolute; background-size:100% auto !important; left:50%;margin-left:-960px; width:1920px; text-align:center; top:50%;margin-top:-100px; height:200px;}
.top-vis .vis-img img{visibility:hidden}
.top-vis .vis-txt{z-index:5;position:absolute;text-transform:uppercase; left:50%;margin-left:-174px; top:50%; margin-top:-30px; width:348px; height:60px; text-align:center; font-size:36px; font-weight:600; color:#fff;}

.top-vis .vis-txt01{background:url(../img/Sub/svisual01-txt.png) no-repeat center center; background-size:140px}
.top-vis .vis-txt02{background:url(../img/Sub/svisual02-txt.png) no-repeat center center; background-size:140px}

.top-vis .vis-txt04{background:url(../img/Sub/svisual04-txt.png) no-repeat center center; background-size:240px}
.top-vis .vis-txt05{background:url(../img/Sub/svisual05-txt.png) no-repeat center center; background-size:110px}
.top-vis .vis-txt06{background:url(../img/Sub/svisual06-txt.png) no-repeat center center; background-size:160px}
.top-vis .vis-txt07{background:url(../img/Sub/svisual07-txt.png) no-repeat center center; background-size:110px}
.top-vis .vis-txt08{background:url(../img/Sub/svisual08-txt.png) no-repeat center center; background-size:220px}
.top-vis .vis-txt09{background:url(../img/Sub/svisual09-txt.png) no-repeat center center; background-size:160px}


.top-vis .vis-bg01{background:url(../img/Sub/svisual-01.jpg) no-repeat center center}
.top-vis .vis-bg02{background:url(../img/Sub/svisual-02.jpg) no-repeat center center}

.top-vis .vis-bg04{background:url(../img/Sub/svisual-04.jpg) no-repeat center center}
.top-vis .vis-bg05{background:url(../img/Sub/svisual-05.jpg) no-repeat center center}
.top-vis .vis-bg06{background:url(../img/Sub/svisual-06.jpg) no-repeat center center}
.top-vis .vis-bg07{background:url(../img/Sub/svisual-07.jpg) no-repeat center center}
.top-vis .vis-bg08{background:url(../img/Sub/svisual-08.jpg) no-repeat center center}
.top-vis .vis-bg09{background:url(../img/Sub/svisual-09.jpg) no-repeat center center}

.top-cate{ height:600px; position:relative;}
.top-cate .vis-img{z-index:1; overflow:hidden;position:absolute;background:url(../img/Sub/svisaul-cate.jpg) no-repeat center center; background-size:100% auto !important; left:50%;margin-left:-960px; width:1920px; text-align:center; top:50%;margin-top:-300px; height:600px;}
.top-cate .vis-img img{visibility:hidden}
.top-cate .vis-txt{z-index:5;position:absolute;display:table;text-transform:uppercase; left:50%;margin-left:-210px; top:50%; box-sizing:border-box;  margin-top:-150px; width:420px; height:300px; text-align:center; font-size:48px;letter-spacing:-0.03em; font-weight:600; color:#fff;}
.top-cate .vis-txt:after{position:Absolute; background:rgba(0,0,0,0.6); width:2000px; height:300px; left:50%;margin-left:-1000px; top:50%;margin-top:-150px; display:block; content:""; z-index:-1;  }
.top-cate .vis-txt span.ico{width:60px; height:60px;background: url(../img/Sub/food-white.png) no-repeat center center; left:50%;margin-left:-30px; top:20%; position:absolute;}
.top-cate .vis-txt span.txt{ position:relative;text-align:center;display:table-cell;display:inline-block; width:auto; height:100%; vertical-align:middle ; margin-top:170px;}
.top-cate .vis-txt span.txt:after{ width:24px; height:1px;background:#fff; position:Absolute; left:-40px; top:49.5%; display:block; content:""}
.top-cate .vis-txt span.txt:before{ width:24px; height:1px;background:#fff;position:Absolute; right:-40px; top:49.5%; display:block; content:""}

.scontainer #contents{min-height:200px;}


	/* @media only screen and (min-width:1301px){
		.scontainer #contents{padding:70px 0}
	} */
	@media only screen and (min-width:1001px){
		.scontainer #contents{padding:50px 0 70px 0px}
		.scontainer #contents.no-pad{padding:0 0 70px 0}

		.top-cate{height:240px;}
		.top-cate .vis-img{width:1920px; margin-left:-960px; height:240px; margin-top:-120px;}

		.top-cate .vis-txt{ height:160px; margin-top:-80px}
		.top-cate .vis-txt:after{height:160px; margin-top:-80px; top:50%;}
		.top-cate .vis-txt span.ico{background-size:40px auto;}
        .top-cate .vis-txt span.txt{font-size:22px; margin-top:100px;}
	}
	@media only screen and (max-width:1000px){
		.top-vis .vis-img{width:1280px; margin-left:-640px; margin-top:-100px ; height:200px;}
		.top-vis{height:200px; overflow:hidden}
		.top-vis .vis-txt01{background-size:100px;}
		.top-vis .vis-txt02{background-size:100px;}
		.top-vis .vis-txt04{background-size:280px;}
		.top-vis .vis-txt05{background-size:100px;}
		.top-vis .vis-txt06{background-size:180px;}
		.top-vis .vis-txt07{background-size:100px;}
		.top-vis .vis-txt08{background-size:190px;}
		.top-vis .vis-txt09{background-size:110px;}

		.scontainer #contents{padding:40px 15px}
		.scontainer #contents.no-pad{padding:0 15px 70px 15px}

		.top-cate { height:200px}
		.top-cate .vis-img{width:1280px; margin-left:-640px; margin-top:-100px ; height:200px;}
		.top-cate .vis-txt{ height:200px; margin-top:-100px}
		.top-cate .vis-txt:after{height:140px; margin-top:-70px;}
		.top-cate .vis-txt span.ico{background-size:30px auto;}
        .top-cate .vis-txt span.txt{font-size:20px; margin-top:110px}



	}
	@media only screen and (max-width:680px){
		.top-vis .vis-img{width:966px; margin-left:-483px;margin-top:-75px ; height:150px;}
		.top-vis{height:140px; overflow:hidden}
		.top-vis .vis-txt{font-size:24px;}
		.top-vis .vis-txt01{background-size:100px;}
		.top-vis .vis-txt02{background-size:100px;}

		.top-vis .vis-txt04{background-size:220px;}
		.top-vis .vis-txt05{background-size:100px;}
		.top-vis .vis-txt06{background-size:140px;}
		.top-vis .vis-txt07{background-size:100px;}
		.top-vis .vis-txt08{background-size:160px;}
		.top-vis .vis-txt09{background-size:100px;}


		.top-cate { height:140px}
		.top-cate .vis-img{width:1280px; margin-left:-640px; margin-top:-70px ; height:140px;}
		.top-cate .vis-txt:after{height:100%; margin-top:0; top:0; opacity:0.85}
		.top-cate .vis-txt{ height:140px; margin-top:-70px}
		.top-cate .vis-txt span.ico{background-size:26px auto;}
        .top-cate .vis-txt span.txt{font-size:18px;margin-top:80px}
		.top-cate .vis-txt span.txt:after{width:20px; left:-30px}
		.top-cate .vis-txt span.txt:before{width:20px; right:-30px}


		.scontainer #contents{padding:35px 10px}
		.scontainer #contents.no-pad{padding:0 10px 70px 10px}
	}
	@media only screen and (max-width:480px){
		.top-vis{height:120px;}
		.top-cate .vis-txt:after{height:100%; margin-top:0; top:0; opacity:0.85}
		.top-vis .vis-txt01{background-size:86px;}
		.top-vis .vis-txt02{background-size:86px;}

		.top-vis .vis-txt04{background-size:150px; }
		.top-vis .vis-txt05{background-size:86px; }
		.top-vis .vis-txt06{background-size:110px; }
		.top-vis .vis-txt07{background-size:86px; }
		.top-vis .vis-txt08{background-size:140px; }
		.top-vis .vis-txt09{background-size:86px; }

		.scontainer #contents{padding:30px 10px}
	}






/* subNavi */

	/* @media only screen and  (min-width:1301px) {

		#subNavi-wrap {display:block; ;position:relative; z-index:900; padding-top:34px;}
		#subNavi-wrap:after{background:#e0d7c5; width:2000px; height:1px ;position:absolute; left:50%;margin-left:-1000px; display:block; content:""; bottom:0;}

		#subNavi .leftmenu{display:block; position:relative;z-index:3 ; }
		#subNavi .leftmenu ul {position:relative;line-height:130%;text-align:center;}
		#subNavi .leftmenu ul:after {clear:both;content:"";display:block;}
		#subNavi .leftmenu ul .lm_l2 {position:relative;vertical-align:top; display:inline-block; vertical-align:top}
		#subNavi .leftmenu ul .lm_a2 { display:block;position:relative;z-index:1;font-weight:600;font-size:21px;letter-spacing:-0.05em; color:#47120e;padding:25px 45px 25px 45px;}
		#subNavi .leftmenu ul .is-open .lm_a2,#subNavi .leftmenu ul .over .lm_a2  {border-bottom:none;border-left:none; border-right:none;font-weight:600; color:#ff5a00;}


	        #subNavi .catemenu ul {position:relative;line-height:130%;text-align:left; padding-bottom:10px;font-size:0}
		#subNavi .catemenu ul:after {clear:both;content:"";display:block; }
		#subNavi .catemenu ul .lm_l2 {position:relative;vertical-align:top; width:16.666666%; display:inline-block; vertical-align:top}
		#subNavi .catemenu ul .lm_a2 {display:block;position:relative;z-index:1;text-align:center;font-weight:400;letter-spacing:-0.05em; color:#47120e; padding:10px;}
		#subNavi .catemenu ul .lm_a2 span{display:block;padding:15px 20px 15px 20px; line-height:110%;font-size:21px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		#subNavi .catemenu ul .is-open .lm_a2  span,#subNavi .catemenu ul .over .lm_a2 span {color:#ff5a00;box-shadow:0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ;}
	} */
	@media only screen and  (min-width:1001px){

		#subNavi-wrap {display:block; ;position:relative; z-index:900; padding-top:0;}
		#subNavi-wrap:after{background:#e0d7c5; width:2000px; height:1px ;position:absolute; left:50%;margin-left:-1000px; display:block; content:""; bottom:0;}

		#subNavi .leftmenu{display:block; position:relative;z-index:3 ; }
		#subNavi .leftmenu ul {position:relative;line-height:130%;text-align:center;}
		#subNavi .leftmenu ul:after {clear:both;content:"";display:block;}
		#subNavi .leftmenu ul .lm_l2 {position:relative;vertical-align:top; display:inline-block; vertical-align:top; cursor: pointer}
		#subNavi .leftmenu ul .lm_a2 { display:block;position:relative;z-index:1;font-weight:600;font-size:17px;letter-spacing:-0.05em; color:#47120e;padding:22px 45px 22px 45px;}
		#subNavi .leftmenu ul .is-open .lm_a2,#subNavi .leftmenu ul .over .lm_a2  {border-bottom:none;border-left:none; border-right:none;font-weight:600; color:#ff5a00;}


        #subNavi .catemenu ul {position:relative;line-height:130%;text-align:left; padding-top:10px; padding-bottom:10px;font-size:0}
		#subNavi .catemenu ul:after {clear:both;content:"";display:block; }
		#subNavi .catemenu ul .lm_l2 {position:relative;vertical-align:top; width:16.666666%; display:inline-block; vertical-align:top; cursor: pointer}
		#subNavi .catemenu ul .lm_a2 {display:block;position:relative;z-index:1;text-align:center;font-weight:400;letter-spacing:-0.05em; color:#47120e; padding:10px;}
		#subNavi .catemenu ul .lm_a2 span{display:block;padding:12px 16px 12px 16px; line-height:110%;font-size:16px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		#subNavi .catemenu ul .is-open .lm_a2  span,#subNavi .catemenu ul .over .lm_a2 span {color:#ff5a00;box-shadow:0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ;}
		#subNavi .catemenu ul .lm_a2:hover span{box-shadow:0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ;}
	}
	@media only screen and  (max-width:1000px) {
		#subNavi-wrap {display:block; ;position:relative; z-index:900; }
		#subNavi-wrap:after{background:#e0d7c5; width:2000px; height:1px ;position:absolute; left:50%;margin-left:-1000px; display:block; content:""; bottom:0;}

		#subNavi .leftmenu{display:block; position:relative;z-index:3}
		#subNavi .leftmenu ul {position:relative;line-height:130%;text-align:center;}
		#subNavi .leftmenu ul:after {clear:both;content:"";display:block;}
		#subNavi .leftmenu ul .lm_l2 {position:relative;vertical-align:top; display:inline-block; vertical-align:top; cursor: pointer}
		#subNavi .leftmenu ul .lm_a2 { display:block;position:relative;z-index:1;font-weight:600;font-size:16px;letter-spacing:-0.05em; color:#47120e;padding:25px 25px 25px 25px;}
		#subNavi .leftmenu ul .is-open .lm_a2,#subNavi .leftmenu ul .over .lm_a2  {border-bottom:none;border-left:none; border-right:none;font-weight:600; color:#ff5a00;}


	    #subNavi .catemenu ul {position:relative;line-height:130%;text-align:left; padding:15px 0 20px 0px;font-size:0}
		#subNavi .catemenu ul:after {clear:both;content:"";display:block; }
		#subNavi .catemenu ul .lm_l2 {position:relative;vertical-align:top; width:16.666666%; display:inline-block; vertical-align:top; cursor: pointer}
		#subNavi .catemenu ul .lm_a2 {display:block;position:relative;z-index:1;text-align:center;font-weight:400;letter-spacing:-0.05em; color:#47120e; padding:5px 10px;}
		#subNavi .catemenu ul .lm_a2 span{display:block;padding:10px 10px 10px 10px; line-height:110%;font-size:16px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		#subNavi .catemenu ul .is-open .lm_a2  span,#subNavi .catemenu ul .over .lm_a2 span {color:#ff5a00;box-shadow:0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ;}
		#subNavi .catemenu ul .lm_a2:hover span{box-shadow:0 0 8px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25) ;}

	}

	@media only screen and  (max-width:720px) {
		#subNavi-wrap{padding-top:0}
		#subNavi .catemenu ul .lm_l2{width:20%}
		#subNavi .catemenu ul .lm_a2{padding:5px}
		#subNavi .catemenu ul .lm_a2 span{display:block;padding:10px 5px 10px 5px;}

		#subNavi .leftmenu ul .lm_a2 {padding:20px 20px}

	}
	@media only screen and  (max-width:570px) {
		#subNavi .catemenu ul{padding-top:10px;}
		#subNavi .catemenu ul .lm_l2{width:25%}

		#subNavi .leftmenu ul .lm_a2 {padding:20px 10px}
	}
	@media only screen and  (max-width:480px) {
		#subNavi .catemenu ul .lm_l2{width:33.33333%}
		#subNavi .catemenu ul .lm_a2 span{font-size:15px;}

		#subNavi .leftmenu ul .lm_a2 {padding:20px 6px}
	}





/* /////////////////////////////// 하단 ///////////////////////////////////*/
#footer-wrap {display:block;}
#f-center{  position:relative; color:#fff;}
#f-center:after{background:#ff5a00; position:absolute; left:50%;margin-left:-1000px; top:0;width:2000px; height:100%; display:block; content:""; z-index:-1;}
#f-center .f-customer{color:#fff; display:inline-block;  vertical-align:top; padding-left:60px;background:url(../img/Layout/f-tel.png) no-repeat left center; background-size:40px auto}
#f-center .f-customer .btxt{ font-size:15px; font-weight:500;display:block;line-height:130%;}
#f-center .f-customer .stxt{font-size:34px; font-weight:600;display:block;line-height:32px;}
#f-center ul{padding:29px 0 0 20px; font-size:0; display:inline-block; vertical-align:top;}
#f-center ul li:first-child{ margin-right:40px;}
#f-center ul li:first-child:after{display:none;}
#f-center ul li{display:inline-block; vertical-align:top; font-size:16px; letter-spacing:-0.03em; position:relative; font-weight:600; color:#fff;}
#f-center ul li:after{width:1px; height:14px; background:rgba(255,255,255,0.8); display:block; content:""; position:absolute; left:-20px; top:50%;margin-top:-7px;}


	@media only screen and  (min-width:1001px){
		#f-center{padding:15px 10px}
	}
	@media only screen and  (max-width:1000px) {
		#f-center{ padding:20px 20px; height:auto;}

		#f-center .f-customer{background-size:40px auto; padding-left:60px}
		#f-center .f-customer .btxt{font-size:14px}
		#f-center .f-customer .stxt{ font-size:24px; line-height:30px}
		#f-center ul{padding:26px 0 0 25px;}
		#f-center ul li{font-size:14px}

	}
	@media only screen and  (max-width:600px) {
		#f-center{ padding:15px 15px;}
		#f-center{text-align:center}
		#f-center .f-customer{text-align:left;}
		#f-center ul{padding:5px 0 0 0; display:block;}
		#f-center ul li{font-size:14px;}
		#f-center ul li:first-child{margin-right:24px}
		#f-center ul li:after{left:-12px; margin-top:-7px;}

	}
	@media only screen and  (max-width:480px) {

	}

#footer { position:relative;}
#footer:after{ background:#f8f2e6; position:absolute; left:50%; top:0; width:2000px; margin-left:-1000px; display:block; content:""; height:100%; z-index:-1;}

#footer .f-logo{ position:absolute;}
#footer .f-logo img{max-width:300px;}

#footer .f-link ul{overflow:hidden; padding:30px 0;font-size:0;text-align:left;}
#footer .f-link li {float:left; }
#footer .f-link li a{color:#47120e;background:#fff;border-radius:38px; height:38px; font-size:15px; font-weight:600; letter-spacing:-0.03em; line-height:38px; display:block; text-align:center;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
#footer .f-link li a:hover{background:#f04d3f; color:#fff;}


#footer .f-info{font-size:14px; color:#484848;letter-spacing:-0.01em; margin-bottom:35px;}
#footer .f-info p{margin-top:5px; line-height:130%}
#footer .f-info .line{position:relative; display:inline-block;vertical-align:top; margin-left:30px; line-height:120%;}
#footer .f-info .line:after{background:#6b6a68; width:1px; height:12px; position:absolute; left:-16px; top:50%;margin-top:-6px; display:block; content:""}
#footer .f-info .company .line:after{margin-top:-6px}

#footer #f-respons{ position:relative; padding:20px 0; z-index:55; }
#footer #f-respons:after{background:#897a5d; z-index:-1; position:absolute; width:2000px; left:50%;margin-left:-1000px; display:block; top:0; height:100%; display:block; content:""}
#footer #f-respons p{ color:#323232; line-height:130%}


	@media only screen and  (min-width:1001px){
		#footer { padding:75px 0px 0px 0px;}
		#footer .f-logo{ left:0px; top:40px}
		#footer .f-logo img{ max-width:280px;width:200px;}
		#footer .f-link li a{font-size:15px;}

		#footer .f-link ul{ margin:0 -0.5%; }
		#footer .f-link li{width:13.2857%; margin:0 0.5%}
	}

	@media only screen and  (max-width:1000px) {
		#footer{padding:0 0 0px 0; text-align:center;}
		#footer .f-logo{margin:25px 0 15px 0;position:relative;display:inline-block; vertical-align:top;left:auto; top:auto;}
		#footer .f-logo img{max-width:220px;}

		#footer .f-link ul{margin:0;padding:0;background:#fff;}
		#footer .f-link li:first-child{display:none;}
		#footer .f-link li{position:relative;border-bottom:1px solid #d8d6d1; width:33.33333%; margin:0;}
		#footer .f-link li:after{background:#d8d6d1; position:absolute; left:0 ;top:0; width:1px; height:100%; display:block; content:""}
		#footer .f-link li a{background:none !important;font-size:15px;border-radius:0;box-shadow: 0 0 8px rgba(0, 0, 0, 0)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0);}
		#footer .f-link li a:hover{ color:#47120e}

		#footer .f-info{font-size:15px; padding:0 20px}
		#footer .f-info .line{margin-left:20px;}
		#footer .f-info .line:after{left:-12px; height:12px; margin-top:-6px;}
		#footer .f-info .company .line:after{margin-top:-6px;}

		#footer #f-respons{padding:20px 20px}
		#footer #f-respons p{padding:0 20px}
		#footer #f-respons p.copy{margin-bottom:5px;}
		#footer .f-info .respon .break{display:block;}

	}
	@media only screen and  (max-width:880px) {
		#footer .f-logo{}
		#footer .f-logo img{max-width:180px;}

		#footer{padding:0px 0 0px 0}

	}
	@media only screen and  (max-width:680px) {
		#footer{padding:0px 0 0 0}
		#footer .f-logo img{max-width:140px;}

		#footer .f-info{font-size:14px;}
		#footer .f-info p{line-height:140%;  margin-top:4px}
		#footer .f-info .line{display:block; margin-left:0; margin-top:4px}
		#footer .f-info .line:after{display:none}
		#footer .f-info .company .line{display:inline-block; margin-left:10px; margin-top:0}
		#footer .f-link li a{font-size:14px;line-height:38px; height:38px; }
		#footer .f-info .respon .break{display:inline}
		#footer .f-info .respon {margin-top:10px;padding:0 5%}

	}
	@media only screen and  (max-width:480px) {
		#footer{padding:0px 0 0 0}

		#footer .f-link li a{font-weight:400; font-size:13px;}

		#footer .f-info{font-size:13px; padding:0 15px}
		#footer .f-info .addr i,#footer .f-info .regist .rtxt{display:none;}
		#footer .f-info p{line-height:130%;}
		#footer .f-info .respon {padding:0 ; }


		#footer #f-respons p{padding:0 0px}

	}
