@charset "utf-8";
.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);}

.slick-slider{margin-bottom:0;}


/* msec-visual */
.msec-visual{ height:440px; overflow:hidden;position:relative; }
.msec-visual .mvisual-slide{ z-index:5;width:1920px;margin-left:-960px; height:440px ; left:50%; top:50%; margin-top:-220px; position:absolute;}
.msec-visual .item{height:900px;}
.msec-visual .item img{width:100%;/* visibility:hidden */}
/* .msec-visual .item.c-01{background:url(../img/Main/m-visual01.jpg) no-repeat center center ;}
.msec-visual .item.c-02{background:url(../img/Main/m-visual02.jpg) no-repeat center center ;} */
.msec-visual .prev, .msec-visual .next{width:54px; height:114px; position:Absolute; top:50%;margin-top:-57px; z-index:15}
.msec-visual .prev{background:url(../img/Main/visual-prev.png) no-repeat left center ; background-size:40px auto; left:0}
.msec-visual .next{background:url(../img/Main/visual-next.png) no-repeat right center ; background-size:40px auto;right:0;}
.msec-visual .prev:before, .msec-visual .next:before{display:none;}


	@media only screen and (max-width:1000px) {
		.msec-visual{height:440px;}
		.msec-visual .mvsiaul-wrap{width:1100px;margin-left:-550px; margin-top:-257px; height:514px; }
		.msec-visual .item{height:514px;}
		.msec-visual .mvisual-slide{}
	}
	@media only screen and (max-width:680px) {
		.msec-visual{height:280px;}
		.msec-visual .mvsiaul-wrap{width:774px;margin-left:-387px; height:360px; margin-top:-180px}
		.msec-visual .item{height:360px;}

		.msec-visual .mvisual-slide{}

		.msec-visual .prev{background-size:30px auto}
		.msec-visual .next{background-size:30px auto}

	}

/* msec-01 */
.msec-01{height:auto; position:relative;}
.msec-01 .msec-tit{ text-align:center; padding:40px 0}
.msec-01 .msec-tit h3{background:url(../img/Main/msec01-tit.png) no-repeat center top; background-size:270px auto;text-indent:-9999px; padding-bottom:70px;color:#47120e; font-weight:600; font-size:36px; height:27px; letter-spacing:-0.03em; line-height:150%;position:relative;}
.msec-01 .msec-tit h3:after{width:50px; height:48px; position:absolute; left:50%;margin-left:-25px; bottom:13px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}
.msec-01 .msec-tit p{color:#3d3d3b; font-weight:400; font-size:17px; letter-spacing:-0.03em; line-height:135%;}

.msec-01 .msec-con{height:300px; position:relative;}
.msec-01 .msec-con:after{background:url(../img/Main/msec01-img.jpg) no-repeat center center; position:absolute; width:2000px;left:50%; top:0; height:100%; margin-left:-1000px; display:block; content:""; z-index:-1}
.msec-01 a{display:block; position:relative; min-height:300px;}
.msec-01 a:hover .more{color:#fff;background:#ff5a00;}
.msec-01 .event{ position:absolute; right:0; top:0; width:50%; height:100%;text-align:center;padding-top:20px;box-sizing:border-box;}
.msec-01 .event .btxt{ background:url(../img/Main/msec01-text01.png) no-repeat center center; background-size:115px auto;text-indent:-9999px; font-weight:600; color:#fff;font-style:italic; font-size:48px; display:block; line-height:120%; padding-bottom:20px;}
.msec-01 .event .stxt{ display:block;color:#fff; font-weight:600; font-size:18px; letter-spacing:-0.03em; line-height:120%; height:40px}
.msec-01 .event .ctxt{ background:url(../img/Main/msec01-text02.png) no-repeat center 15px;background-size:134px auto;text-indent:-9999px;display:block; height:80px; font-size:72px; line-height:110%; color:#fff;font-style:italic; font-weight:bold}
.msec-01 .event .ctxt span{ font-size:30px; padding-left:5px;}
.msec-01 .event .more{ width:220px; height:40px;background:#fff; border-radius:40px; text-align:center; line-height:40px; color:#47120e;font-weight:300; font-size:16px;display:inline-block; vertical-align:top;box-shadow: 0 0 8px rgba(0, 0, 0, 0.65)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.65)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.65)  ;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}



	@media only screen and (max-width:1000px) {
		.msec-01{padding:0 10px 0px 10px; height:auto;}
		.msec-01 .msec-tit{padding:40px 0 40px 0; height:auto;}
		.msec-01 .msec-tit h3{background-size:300px auto; padding-bottom:60px;}
		.msec-01 .msec-tit h3:after{background-size:30px auto; bottom:10px}
		.msec-01 .msec-tit p{font-size:16px; padding:0 10%}

		.msec-01 .msec-con .more{width:240px; height:40px; line-height:40px; font-size:16px}

		.msec-01 .msec-con{height:320px;}
		.msec-01 .msec-con a{height:340px;}
		.msec-01 .msec-con:after{background-position:right top; width:1000px; left:50%; top:0; margin-left:-500px;}
		.msec-01 .event{padding-top:10px; position:relative; height:auto; width:auto; right:auto; top:auto;}

		.msec-01 .event .btxt{background-size:120px auto; padding-bottom:35px;}
		.msec-01 .event .stxt{height:50px; font-size:16px ; line-height:120%;}
		.msec-01 .event .ctxt{background-size:160px auto; height:90px}
		.msec-01 .event .more{width:180px}
	}
	@media only screen and (max-width:780px) {
		.msec-01 .msec-tit h3{background-size:220px auto;}
	}
	@media only screen and (max-width:580px) {
		.msec-01 .msec-con .more{font-size:15px;}

		.msec-01 .event .ctxt{background-size:140px auto; height:90px}
		.msec-01 .msec-tit p{font-size:14px; padding:0 7%}
	}






/* msec-02 */
.msec-02{position:relative; padding-bottom:40px}
.msec-02:after{background:#f8f2e6; position:absolute; left:50%;margin-left:-1000px; width:2000px; top:0; height:100%; z-index:-1; display:block; content:""}
.msec-02 .msec-tit{ height:92px; text-align:center; padding:80px 0 0 0}
.msec-02 .msec-tit h3{color:#47120e; font-weight:300; font-size:20px; letter-spacing:-0.03em; line-height:150%;position:relative; height:26px;}
.msec-02 .msec-tit h3:after{width:30px; height:30px; position:absolute; left:50%;margin-left:-15px; top:-39px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}
.msec-02 .msec-tit p{color:#47120e; font-weight:800; font-size:26px; letter-spacing:-0.03em; line-height:140%;}

.msec-02 .msec-con ul{font-size:0; padding:0 16%; overflow:hidden;}
.msec-02 .msec-con li{float:left; width:47%; margin:0 1.5% 1.5% 1.5%}
.msec-02 .msec-con li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-02 .msec-con li a:hover .txt{background:#ff5a00}
.msec-02 .msec-con li a:hover .btxt{ color:#fff}
.msec-02 .msec-con li a:hover .stxt{ color:#fff}
.msec-02 .msec-con li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.msec-02 .msec-con .img{display:block;overflow:hidden}
.msec-02 .msec-con .img img{width:100%;}
.msec-02 .msec-con .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.msec-02 .msec-con a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}

.msec-02 .msec-con .txt{display:block; background:#fff; padding:20px 30px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-02 .msec-con .btxt{display:block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-02 .msec-con .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-02 .msec-con .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.msec-02 .msec-con .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.msec-02 .msec-con .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.msec-02{padding:0 10px 50px 10px; height:auto;}
		.msec-02 .msec-con .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.msec-02 .msec-con li{width:48%; margin:0 1% 20px 1%}

		.msec-02 .msec-tit{padding:40px 0 40px 0; height:auto;}
		.msec-02 .msec-tit h3{margin-top:40px; font-size:18px; height:auto}
		.msec-02 .msec-tit h3:after{top:-40px; }
		.msec-02 .msec-tit p{font-size:24px; line-height:130%;}

		.msec-02 .msec-con .txt{padding:15px 15px;}
		.msec-02 .msec-con .btxt{font-size:16px}
		.msec-02 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-02 .msec-con .ctxt{ font-size:14px;}

		.msec-02 .msec-con ul{padding:0}

	}
	@media only screen and (max-width:780px) {
		.msec-02 .msec-con li{width:48%; margin:0 1% 20px 1%}
		.msec-02 .msec-con .btxt{font-size:16px}
		.msec-02 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-02 .msec-con .ctxt{ font-size:14px;}
		.msec-02 .c.mg40t{margin-top:20px;}
	}
	@media only screen and (max-width:580px) {
		.msec-02 .msec-con li{width:98%;}
		.msec-02 .msec-con .ctxt i{margin-left:26px}
		.msec-02 .msec-con .ctxt i:after{left:-17px}
	}









/* msec-03 */
.msec-03{ position:relative; padding-bottom:40px;}
.msec-03 .msec-tit{ height:92px; text-align:center; padding:80px 0 0 0}
.msec-03 .msec-tit h3{color:#47120e; font-weight:300; font-size:20px;letter-spacing:-0.03em; line-height:150%;position:relative; height:26px;}
.msec-03 .msec-tit h3:after{width:30px; height:26px; position:absolute; left:50%;margin-left:-15px; top:-39px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}
.msec-03 .msec-tit p{color:#47120e; font-weight:800; font-size:26px; letter-spacing:-0.03em; line-height:130%;}

.msec-03 .msec-con ul{font-size:0; text-align:left;overflow:hidden;}
.msec-03 .msec-con li{float:left; width:30.3333333%; margin:0 1.5% 1.5% 1.5%}
.msec-03 .msec-con li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-03 .msec-con li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.msec-03 .msec-con .img{display:block;overflow:hidden}
.msec-03 .msec-con .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.msec-03 .msec-con a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}
.msec-03 .msec-con .txt{display:block; background:#f8f2e6; padding:20px 20px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-03 .msec-con .btxt{display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-03 .msec-con .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-03 .msec-con .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.msec-03 .msec-con .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.msec-03 .msec-con .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}
.msec-03 .msec-con .more{ width:220px; height:44px;background:#ff5a00; border-radius:44px; text-align:center; line-height:44px; color:#fff;font-weight:300; font-size:17px;display:inline-block; vertical-align:top;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-03 .msec-con .more:hover{box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -moz-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ;  }

.msec-03 .msec-con a:hover .txt {background:#ff5a00}
.msec-03 .msec-con a:hover .btxt{color:#fff;}
.msec-03 .msec-con a:hover .stxt{color:#fff;}
.msec-03 .msec-con a:hover .ctxt{color:#fff;opacity:0.7}
.msec-03 .msec-con a:hover .ctxt i:after{background:#fff; opacity:0.7}

	@media only screen and (max-width:1000px) {
		.msec-03{padding:0 10px 50px 10px; height:auto;}
		.msec-03 .msec-con .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.msec-03 .msec-con li{width:31.33333%; margin:0 1% 20px 1%}

		.msec-03 .msec-tit{padding:40px 0 40px 0; height:auto;}
		.msec-03 .msec-tit h3{margin-top:40px; font-size:18px; height:auto}
		.msec-03 .msec-tit h3:after{top:-40px; }
		.msec-03 .msec-tit p{font-size:24px; line-height:130%;}

		.msec-03 .msec-con .txt{padding:20px;}
		.msec-03 .msec-con .btxt{font-size:16px}
		.msec-03 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-03 .msec-con .ctxt{ font-size:14px;}

		.msec-01 .event .more{width:180px}

	}
	@media only screen and (max-width:780px) {
		.msec-03 .msec-con li{width:48%; margin:0 1% 20px 1%}
		.msec-03 .msec-con .btxt{font-size:16px}
		.msec-03 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-03 .msec-con .ctxt{ font-size:14px;}
		.msec-03 .c.mg70t{margin-top:20px;}
	}
	@media only screen and (max-width:580px) {
		.msec-03 .msec-con li{width:98%;}
		.msec-03 .msec-con .ctxt i{margin-left:26px}
		.msec-03 .msec-con .ctxt i:after{left:-17px}
	}



/* msec-04 */
.msec-04{ position:relative; padding-bottom:40px;}
.msec-04 .hide{display:none}
.msec-04 .msec-tit{ height:150px; text-align:center; position:relative;}
.msec-04 .msec-tit:after{ position:absolute; left:50%;margin-left:-1000px; height:150px;top:50%;margin-top:-75px; width:2000px; background:url(../img/Main/msec04-img01.jpg)no-repeat center center ; z-index:-1; display:block; content:""}
.msec-04 .msec-tit h3{background:url(../img/Main/msec04-tit.png) no-repeat center center;color:#47120e;text-indent:-9999px; font-weight:600; font-size:24px; top:58px;  width:300px; height:38px; position:absolute; left:50%;margin-left:-150px;letter-spacing:-0.03em; line-height:150%;position:relative; height:38px; }

.msec-04 .msec-con ul.tab{position:relative; font-size:0; text-align:center; padding-top:70px; padding-bottom:10px;}
.msec-04 .msec-con ul.tab li{display:inline-block; vertical-align:top; margin:0 38px}
.msec-04 .msec-con ul.tab li a{color:#333; font-weight:600; font-size:19px; line-height:58px; letter-spacing:-0.03em;}
.msec-04 .msec-con ul.tab li.active a{color:#ff5a00}
.msec-04 .msec-con ul.tab:after{width:30px; height:30px; position:absolute; left:50%;margin-left:-15px;top:38px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}

.msec-04 .msec-con ul.list{font-size:0; text-align:left;overflow:hidden;}
.msec-04 .msec-con ul.list li{float:left; width:30.3333333%; margin:0 1.5% 1.5% 1.5%}
.msec-04 .msec-con ul.list li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-04 .msec-con ul.list li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.msec-04 .msec-con ul.list .img{display:block;overflow:hidden}
.msec-04 .msec-con ul.list .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.msec-04 .msec-con ul.list a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}
.msec-04 .msec-con ul.list .txt{display:block; background:#f8f2e6; padding:20px 20px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-04 .msec-con ul.list .btxt{display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-04 .msec-con ul.list .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-04 .msec-con ul.list .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.msec-04 .msec-con ul.list .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.msec-04 .msec-con ul.list .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}
.msec-04 .msec-con .more{ width:220px; height:44px;background:#ff5a00; border-radius:44px; text-align:center; line-height:44px; color:#fff;font-weight:300; font-size:17px;display:inline-block; vertical-align:top;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-04 .msec-con .more:hover{box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -moz-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ;  }	@media only screen and (min-width:1201px) {

	}
	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.msec-04{padding:0 10px 50px 10px; height:auto;}
		.msec-04 .msec-con .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.msec-04 .msec-con ul.list li{width:31.33333%; margin:0 1% 20px 1%}

		.msec-04 .msec-tit{padding:40px 0 40px 0; height:auto;text-align:center;}
		.msec-04 .msec-tit:after{width:1000px; background-position:center center; margin-left:-500px ;background-size:100% auto;}
		.msec-04 .msec-tit h3{font-size:18px; width:auto; height:40px; line-height:40px; position:relative;; left:auto; top:auto; right:auto; bottom:auto; margin-left:0;}
		.msec-04 .msec-tit h3:after{top:-40px; }

		.msec-04 .msec-con ul.tab{padding:100px 7% 15px 7%}
		.msec-04 .msec-con ul.tab:after{top:50px;}
		.msec-04 .msec-con ul.tab li{margin:0; width:25%;}
		.msec-04 .msec-con ul.tab li a{font-size:18px;}

		.msec-04 .msec-con ul.list .txt{padding:20px;}
		.msec-04 .msec-con ul.list .btxt{font-size:16px}
		.msec-04 .msec-con ul.list .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-04 .msec-con ul.list .ctxt{ font-size:14px;}

	}
	@media only screen and (max-width:780px) {
		.msec-04 .msec-con ul.list li{width:48%; margin:0 1% 20px 1%}
		.msec-04 .msec-con ul.list .btxt{font-size:16px}
		.msec-04 .msec-con ul.list .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-04 .msec-con ul.list .ctxt{ font-size:14px;}
		.msec-04 .c.mg70t{margin-top:20px;}
	}
	@media only screen and (max-width:580px) {
		.msec-04 .msec-con ul.tab{padding:100px 0 25px 0}
		.msec-04 .msec-con ul.tab li a{font-size:15px; line-height:120%; display:block; padding:0 8px;}
		.msec-04 .msec-con ul.tab li a i{display:block;}
		.msec-04 .msec-con ul.list li{width:98%;}
		.msec-04 .msec-con ul.list .ctxt i{margin-left:26px}
		.msec-04 .msec-con ul.list .ctxt i:after{left:-17px}

		.msec-04 .msec-tit h3{background-size:240px;}
	}


.msec-04 .msec-con a:hover .txt {background:#ff5a00}
.msec-04 .msec-con a:hover .btxt{color:#fff;}
.msec-04 .msec-con a:hover .stxt{color:#fff;}
.msec-04 .msec-con a:hover .ctxt{color:#fff;opacity:0.7}
.msec-04 .msec-con a:hover .ctxt i:after{background:#fff; opacity:0.7}



/* msec-05 */
.msec-05{position:relative; padding-bottom:40px;}
.msec-05:after{background:#f8f2e6; position:absolute; left:50%;margin-left:-1000px; width:2000px; top:0; height:100%; z-index:-1; display:block; content:""}
.msec-05 .msec-tit{ height:92px; text-align:center; padding:80px 0 0 0}
.msec-05 .msec-tit h3{color:#47120e; font-weight:300; font-size:20px; letter-spacing:-0.03em; line-height:150%;position:relative; height:26px;}
.msec-05 .msec-tit h3:after{width:30px; height:30px; position:absolute; left:50%;margin-left:-15px; top:-39px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}
.msec-05 .msec-tit p{color:#47120e; font-weight:800; font-size:26px; letter-spacing:-0.03em; line-height:130%;}

.msec-05 .msec-con ul{font-size:0;padding:0 16%; overflow:hidden}
.msec-05 .msec-con li{float:left; width:47%; margin:0 1.5% 1.5% 1.5%}
.msec-05 .msec-con li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-05 .msec-con li a:hover .txt{background:#ff5a00}
.msec-05 .msec-con li a:hover .btxt{ color:#fff}
.msec-05 .msec-con li a:hover .stxt{ color:#fff}
.msec-05 .msec-con li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.msec-05 .msec-con .img{display:block;overflow:hidden}
.msec-05 .msec-con .img img{width:100%;}
.msec-05 .msec-con .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.msec-05 .msec-con a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}

.msec-05 .msec-con .txt{display:block; background:#fff; padding:20px 30px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-05 .msec-con .btxt{display:block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  line-height:140%;  font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-05 .msec-con .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:26px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-05 .msec-con .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;}
.msec-05 .msec-con .ctxt i{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.msec-05 .msec-con .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

.msec-05 .msec-con a:hover .txt {background:#ff5a00}
.msec-05 .msec-con a:hover .btxt{color:#fff;}
.msec-05 .msec-con a:hover .stxt{color:#fff;}
.msec-05 .msec-con a:hover .ctxt{color:#fff;opacity:0.7}
.msec-05 .msec-con a:hover .ctxt i:after{background:#fff; opacity:0.7}



	@media only screen and (max-width:1000px) {
		.msec-05{padding:0 10px 50px 10px; height:auto;}
		.msec-05 .msec-con .more{width:240px; height:40px; line-height:40px; font-size:16px}
		.msec-05 .msec-con li{width:48%; margin:0 1% 20px 1%}

		.msec-05 .msec-tit{padding:40px 0 40px 0; height:auto;}
		.msec-05 .msec-tit h3{margin-top:40px; font-size:18px; height:auto}
		.msec-05 .msec-tit h3:after{top:-40px; }
		.msec-05 .msec-tit p{font-size:24px; line-height:130%;}

		.msec-05 .msec-con .txt{padding:20px;}
		.msec-05 .msec-con .btxt{font-size:16px}
		.msec-05 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-05 .msec-con .ctxt{ font-size:14px;}

		.msec-05 .msec-con ul{padding:0}

	}
	@media only screen and (max-width:780px) {
		.msec-05 .msec-con li{width:48%; margin:0 1% 20px 1%}
		.msec-05 .msec-con .btxt{font-size:16px}
		.msec-05 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-05 .msec-con .ctxt{ font-size:14px;}
		.msec-05 .c.mg40t{margin-top:20px;}


	}
	@media only screen and (max-width:580px) {
		.msec-05 .msec-con li{width:98%;}
		.msec-05 .msec-con .ctxt i{margin-left:26px}
		.msec-05 .msec-con .ctxt i:after{left:-17px}
	}




/* msec-06 */
.msec-06{ position:relative; padding-bottom:40px}
.msec-06 .msec-tit{ height:92px; text-align:center; padding:80px 0 0 0}
.msec-06 .msec-tit h3{color:#47120e; font-weight:300; font-size:20px;letter-spacing:-0.03em; line-height:150%;position:relative; height:26px;}
.msec-06 .msec-tit h3:after{width:30px; height:30px; position:absolute; left:50%;margin-left:-15px; top:-39px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto; display:block; content:""}
.msec-06 .msec-tit p{color:#47120e; font-weight:800; font-size:26px; letter-spacing:-0.03em; line-height:130%;}

.msec-06 .msec-con ul{font-size:0;overflow:hidden;text-align:left;}
.msec-06 .msec-con li{float:left; width:23%; margin:0 1% 2% 1%}
.msec-06 .msec-con li a{display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con li a:hover{box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;}

.msec-06 .msec-con .img{display:block;overflow:hidden}
.msec-06 .msec-con .img img{width:100%;transition:all 1.0s;-webkit-transition:all 1.0s;-moz-transition:all 1.0s;}
.msec-06 .msec-con a:hover img{transform:scale(1.1, 1.1);-webkit-transform:scale(1.1, 1.1);-moz-transform:scale(1.1, 1.1);-ms-transform:scale(1.1, 1.1);}
.msec-06 .msec-con .txt{display:block; background:#f8f2e6; padding:20px 20px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .btxt{display:block; line-height:140%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:15px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .stxt{display:block; padding:1px 0 5px 0; font-weight:600; line-height:140%; font-size:24px; color:#ff5a00;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .ctxt{display:block; line-height:140%; font-size:14px; color:#47120e;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .ctxt i{display:inline-block; vertical-align:top; margin-left:26px; position:relative;}
.msec-06 .msec-con .ctxt i:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-15px; top:50%;margin-top:-6px; display:block; content:"";-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .more{ width:220px; height:44px;background:#ff5a00; border-radius:44px; text-align:center; line-height:44px; color:#fff;font-weight:300; font-size:17px;display:inline-block; vertical-align:top;box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)  ;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-06 .msec-con .more:hover{box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ; -moz-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.3)  ;  }

.msec-06 .msec-con a:hover .txt {background:#ff5a00}
.msec-06 .msec-con a:hover .btxt{color:#fff;}
.msec-06 .msec-con a:hover .stxt{color:#fff;}
.msec-06 .msec-con a:hover .ctxt{color:#fff;opacity:0.7}
.msec-06 .msec-con a:hover .ctxt i:after{background:#fff; opacity:0.7}

	@media only screen and (min-width:1201px) {

	}
	@media only screen and (min-width:1001px) and (max-width:1200px) {

	}
	@media only screen and (max-width:1000px) {
		.msec-06{padding:0 10px 50px 10px}
		.msec-06 .msec-con .more{width:180px; height:40px; line-height:40px; font-size:16px}
		.msec-06 .msec-con li{width:31.333333%; margin-bottom:20px}

		.msec-06 .msec-tit{padding:40px 0 40px 0; height:auto;}
		.msec-06 .msec-tit h3{margin-top:40px; font-size:18px; height:auto}
		.msec-06 .msec-tit h3:after{top:-40px; }
		.msec-06 .msec-tit p{font-size:24px; line-height:130%;}

		.msec-06 .msec-con .btxt{font-size:16px}
		.msec-06 .msec-con .stxt{ font-size:20px; padding:2px 0 5px 0;}
		.msec-06 .msec-con .ctxt{ font-size:14px;}

	}
	@media only screen and (max-width:780px) {
		.msec-06 .msec-con li{width:48%;}
		.msec-06 .c.mg40t{margin-top:20px;}
	}
	@media only screen and (max-width:480px) {
		.msec-06 .msec-con li{width:98%;}
		.msec-06 .msec-con .ctxt i{margin-left:26px}
		.msec-06 .msec-con .ctxt i:after{left:-17px}
	}
