/* 팝업 */
.layer-pop.hide{display:none;}
.layer-pop{max-width:620px; margin:0 auto; padding:10px 5px; position:relative; margin:0 auto;}
.layer-pop .is-top {position:relative; height:34px;margin-bottom:20px;}
.layer-pop .is-top .close{background:#fff;border-radius:100%;width:36px; height:36px; position:Absolute; right:0; top:2px;background:url(../img/Pop/close-pop.png) no-repeat center center;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.layer-pop .is-top .close:hover{background:url(../img/Pop/close-popo.png) no-repeat center center;}
.layer-pop h4{background:#f8f2e6;margin-bottom:20px; font-size:17px; font-weight:600; text-align:center; color:#47120e; padding:13px 0;}

.btn-wrap.order{padding:10px 15px}
.btn-wrap.order li{margin-top:15px}
.btn-wrap.order li:first-child{margin-top:0;}
.btn-wrap.order li a:hover{color:#fff !important}
.btn-wrap.order li a span{line-height:48px}

.layer-pop .tit{background:#f8f2e6;margin-bottom:25px; font-size:16px; font-weight:300; text-align:center; color:#47120e; padding:22px 0;}

.write-wrap.order{padding:10px 15px}
.write-wrap.order li{margin-top:10px}
.write-wrap.order li:first-child{margin-top:0;}
.write-wrap.order textarea{box-sizing:border-box; border:none; min-height:150px; width:100%; padding:15px;font-size:14px; font-weight:400; color:#47120e;border:1px solid #e0d7c5;}
.write-wrap.order input[type="text"]{ height:40px; box-sizing:border-box; border:none; padding-left:10px; font-size:14px; font-weight:400; color:#47120e;border:1px solid #e0d7c5;}

.deliy-btn.mr2p{margin-right:2%}
.deliy-btn{display:inline-block; vertical-align:top; width:49%;height:40px;text-align:Center; box-sizing:border-box; border:none; padding-left:0; font-size:15px; font-weight:400; color:#e0d7c5;border:1px solid #e0d7c5;}
.deliy-btn span{line-height:38px;}
.deliy-btn:hover{color:#fff; background:#ff5a00;border:1px solid #ff5a00;}


.layer-pop .buy-order-write{ border-bottom:1px solid #e0d7c5 ; padding:0 0 20px 0;}
.layer-pop .buy-order-write li{ font-size:0;padding:0 8px 0 120px; position:relative;  margin-top:10px;}
.layer-pop .buy-order-write li:first-child{margin-top:0;}
.layer-pop .buy-order-write li input[type="text"]{ height:40px; box-sizing:border-box; border:none; padding-left:10px; font-size:14px; font-weight:400; border:1px solid #e0d7c5;color:#47120e;}
.layer-pop .buy-order-write li input[type="text"].w49p.c{padding-left:0; text-align:center;}
.layer-pop .buy-order-write li input[type="text"].addr{border:1px solid #e0d7c5;}

.layer-pop .buy-order-write .ex{color:#bfb39b; margin-top:10px; font-size:15px; line-height:130%;}
.layer-pop .buy-order-write .btxt{font-size:15px; font-weight:600; color:#47120e;  line-height:40px; position:absolute; left:0; top:0; }
.layer-pop .buy-order-write .btxt.nec{background:url(../img/Sub/nec-ico.png) no-repeat right center ; padding-right:15px;}
.layer-pop .buy-order-write .stxt{font-size:15px; font-weight:600; color:#47120e;  line-height:40px;}

.layer-pop .buy-order-write textarea{ box-sizing:border-box; border:none; min-height:150px; width:100%; padding:15px;font-size:14px; font-weight:400; color:#47120e;border:1px solid #e0d7c5;}
.layer-pop .buy-order-write .check-box{margin-right:15px;}
.layer-pop .buy-order-write .check-box.block{margin-right:0; display:block;}
.layer-pop .buy-order-write .check-box input[type="checkbox"]{ display:none;}
.layer-pop .buy-order-write .check-box input[type="radio"]{ display:none;}
.layer-pop .buy-order-write .check-box input + label{display:block; font-size:15px; font-weight:400; color:#47120e; padding-left:30px; position:relative;  line-height:20px;}
.layer-pop .buy-order-write .check-box input + label:after{width:20px; height:20px; position:absolute; left:0; top:0;display:block;content:""; }
.layer-pop .buy-order-write .check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}
.layer-pop .buy-order-write .check-box input[type="radio"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center;}

.layer-pop .buy-order-write .cr-btn.post-btn{min-width:110px; height:40px; font-size:14px; margin-left:10px;}
.layer-pop .buy-order-write .cr-btn.post-btn span{line-height:40px;}
.layer-pop .buy-order-write .sr-btn.w30p{min-width:30%; height:40px; margin-left:1% }
.layer-pop .buy-order-write .sr-btn.w30p span{line-height:40px;}

.layer-pop .buy-order-write .post-btn2{display:block;min-width:140px; height:44px;text-align:center; margin:10px 0;  font-size:15px;background:#f8f2e6; width:100%; color:#47120e; font-weight:600; font-size:16px;}
.layer-pop .buy-order-write .post-btn2 span{line-height:44px;}


	@media only screen and (max-width:480px) {
		.layer-pop .buy-order-write input[type="text"].w40p{width:100%}
		.layer-pop .buy-order-write .cr-btn.post-btn{min-width:100%; margin-top:5px; margin-left:0;}
		.layer-pop .buy-order-write li{padding-left:90px;}
		.layer-pop .buy-order-write .btxt{font-size:15px;}

		.layer-pop .buy-order-write li input[type="text"]{font-size:14px;}
	}


.layer-pop.calendar{}
.layer-pop.calendar .calendar-top{display:block; text-align:center; padding-bottom:25px; text-align:center;}
.layer-pop.calendar .calendar-top .prev{width:30px; height:30px; background:url(../img/Pop/calendar-prev.png) no-repeat center center ; display:inline-block; vertical-align:top;}
.layer-pop.calendar .calendar-top .prev:hover{background:url(../img/Pop/calendar-prevo.png) no-repeat center center ;}
.layer-pop.calendar .calendar-top .next{width:30px; height:30px; background:url(../img/Pop/calendar-next.png) no-repeat center center ; display:inline-block; vertical-align:top;}
.layer-pop.calendar .calendar-top .next:hover{background:url(../img/Pop/calendar-nexto.png) no-repeat center center ;}

.layer-pop.calendar .calendar-top .month{color:#47120e;font-weight:600; font-size:19px; letter-spacing:-0.03em; line-height:30px; display:inline-block; vertical-align:top; width:180px;}
.layer-pop.calendar .list{border-top:1px solid #e0d7c5; padding:25px 0;margin-top:30px;}
.layer-pop.calendar .list li:first-child{margin-top:0}
.layer-pop.calendar .list li{margin-top:15px;}
.layer-pop.calendar .list li{position:relative; padding-left:90px; padding-right:15px;text-align:right; color:#47120e; font-size:15px;}
.layer-pop.calendar .list li .btxt{position:absolute; left:15px; top:0;}
.layer-pop.calendar .list li .stxt{display:block;}

.layer-pop.calendar .calendar-ex{position:relative;background:#f8f2e6; padding:30px 20px 30px 69px;}
.layer-pop.calendar .calendar-ex:after{background:url(../img/Pop/order-info.png) no-repeat center center;width:36px; height:36px; ;background-size:36px auto; position:absolute; left:22px; top:34px; display:block; content:""}
.layer-pop.calendar .calendar-ex span{display:block; color:#a3967b; font-size:15px; letter-spacing:-0.03em;}


.layer-pop.calendar .calendar-table { margin:0 auto; width:480px;}
.layer-pop.calendar .calendar-table th{color:#47120e; width:14.2857%; font-size:16px; font-weight:600; padding:11px 0; text-align:center;}
.layer-pop.calendar .calendar-table td {text-align:center;padding:3px 0}
.layer-pop.calendar .calendar-table td a{display:inline-block; width:34px;color:#47120e; border-radius:100%; height:34px; line-height:34px;vertical-align:top;font-size:15px; font-weight:400;}
.layer-pop.calendar .calendar-table td a:hover{background:#f2f2f2}
.layer-pop.calendar .calendar-table td.off a{color:#e0d7c5;}

.layer-pop.calendar .calendar-table td.sel a{color:#fff;background:#ff5a00; font-weight:600}



.layer-pop.coupon h4{display:block; text-align:left; font-size:16px; padding:12px 15px; position:relative;}
.layer-pop.coupon h4 a{position:Absolute; right:0; top:0; display:block; width:100%; height:100%;}
.layer-pop.coupon h4 a:after{width:40px; height:40px;position:absolute; right:5px; top:50%; margin-top:-20px; display:block; content:""}
.layer-pop.coupon h4 a.down-arrow:after{ background:url(../img/Pop/down-arrow.png) no-repeat center center; }
.layer-pop.coupon h4 a.up-arrow:after{background:url(../img/Pop/up-arrow.png) no-repeat center center; }
.layer-pop.coupon .is-top .cr-btn{line-height:36px; letter-spacing:-0.03em;}
.layer-pop.coupon .is-top .cr-btn span{line-height:36px;}
.layer-pop.coupon .list {padding-bottom:25px;}
.layer-pop.coupon .list li.line{border-bottom:1px solid #e0d7c5;}
.layer-pop.coupon .list li{position:relative; min-height:30px;color:#47120e;padding:5px 10px; text-align:right ; line-height:30px; }
.layer-pop.coupon .list li:last-child{padding:10px}
.layer-pop.coupon .list .btxt{ position:absolute; left:10px;; top:10px; font-size:15px; color:#47120e ; line-height:30px;}
.layer-pop.coupon .list .stxt{display:block; text-align:left; color:#ff5a00; font-size:14px; font-weight:600;}
.layer-pop.coupon .list .ctxt{display:block; text-align:left; color:#e0d7c5; font-size:14px; padding-bottom:25px; line-height:120%;}
.layer-pop.coupon .list .rtxt{display:block;font-size:16px}

.layer-pop.coupon .result{ overflow:hidden;background:#f8f2e6; padding:15px 20px}
.layer-pop.coupon .result li{float:left; width:33.3333333%; position:relative;display:block;}
.layer-pop.coupon .result li:nth-child(2):before{display:block; content:"-"; position:absolute; left:0px; top:50%;margin-top:-10px; height:20px; text-align:center; width:20px;color:#47120e; font-weight:600; font-size:18px;}
.layer-pop.coupon .result li:nth-child(3):before{display:block; content:"="; position:absolute; left:-10px; top:50%;margin-top:-10px; height:20px; text-align:center; width:20px;color:#47120e; font-weight:600; font-size:18px;}
.layer-pop.coupon .result .btxt{display:block; text-align:center;color:#47120e; font-size:15px;}
.layer-pop.coupon .result .stxt{display:block; text-align:center;color:#47120e; line-height:140%; font-weight:600; font-size:14px;}
	@media only screen and (max-width:540px) {
		.layer-pop.coupon .list li{text-align:left; line-height:120%}
		.layer-pop.coupon .list .btxt{position:Relative; display:block; left:auto ;top:auto; font-size:16px; line-height:130%;}
		.layer-pop.coupon .list .stxt{font-size:15px;padding-top:3px;}
		.layer-pop.coupon .list .rtxt{font-size:15px;}
	}

.layer-pop.coupon .result li:last-child .btxt{text-align:right; padding-right:15px;}
.layer-pop.coupon .result li:last-child .stxt{text-align:right; padding-right:15px; color:#ff5a00;}

.layer-pop.coupon .code{padding:15px 160px 15px 110px; position:relative; border-top:1px solid #e0d7c5;border-bottom:1px solid #e0d7c5;}
.layer-pop.coupon .code.write{padding:15px 20px 15px 110px;}
.layer-pop.coupon .code .btxt{font-size:16px; font-weight:600; color:#47120e;  line-height:40px; position:absolute; left:10px; top:15px;; }
.layer-pop.coupon .code .btxt.nec{background:url(../img/Sub/nec-ico.png) no-repeat right center ; padding-right:15px;}
.layer-pop.coupon .code input[type="text"]{ height:40px; box-sizing:border-box; border:none; padding-left:15px; font-size:16px; font-weight:400; color:#47120e; border:1px solid #e0d7c5;}
.layer-pop.coupon .code .cr-btn{ height:40px; position:absolute; right:55px; min-width:90px;}
.layer-pop.coupon .code .cr-btn span{line-height:40px;}
.layer-pop.coupon .code .del-btn{background:#fff;border-radius:100%;width:36px; height:36px; position:Absolute; right:0; top:50%;margin-top:-18px;;background:url(../img/Pop/close-pop.png) no-repeat center center;}



	@media only screen and (max-width:480px) {
		.layer-pop.coupon .result{padding: 10px}
		.layer-pop.coupon .result .btxt{font-size:14px ;letter-spacing:-0.03em;}
		.layer-pop.coupon .result .stxt{font-size:15px;}

		.layer-pop.coupon .result li:last-child .btxt{padding-right:5px;}
		.layer-pop.coupon .result li:last-child .stxt{padding-right:5px;}

		.layer-pop.coupon .code .btxt{font-size:15px;}
	}
	@media only screen and (max-width:34px) {
				.layer-pop.coupon .result .btxt{font-size:13px ;}
	}
