@charset "utf-8";
i{font-style:normal}

.break{display:block;}
.plump{}
.block{display:block}
	@media all and (max-width:480px) {
		.plump{display:block}
		.block{display:block}
	}
	@media all and (max-width:1024px) {
		.m-none{display:none}
		.break{display:inline}
	}

#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}


.hide{display:none}
/* title */
.u-tit01{ text-align:center; padding:40px 0 25px 0}
.u-tit01 span{color:#47120e; font-weight:300; font-size:24px; font-weight:600; letter-spacing:-0.03em; line-height:150%;position:relative; height:34px;}
.u-tit01 span:after{width:50px; height:48px; position:absolute; left:50%;margin-left:-25px; top:-50px; background:url(../img/Main/food-ico.png) no-repeat center center;background-size:30px auto;display:block; content:""}

.u-tit03{ font-size:18px;font-weight:600; color:#47120e; margin-bottom:20px; letter-spacing:-0.03em;}
.u-tit03 span{font-size:15px;}
	@media all and (max-width:1024px) {
		.u-tit03{font-size:21px; margin-bottom:15px;}
	}
	@media all and (max-width:780px) {
		.u-tit03{font-size:18px; margin-bottom:15px;}
		.u-tit03 span{font-size:15px;}

		.u-tit01{padding:40px 0 20px 0}
		.u-tit01 span{font-size:20px;}
		.u-tit01 span:after{background-size:30px auto; top:-50px;}
	}





/* 검정라인 */
.bw-btn, .bb-btn, .br-btn{display:inline-block; vertical-align:top;  font-size:16px; font-weight:600;text-align:center; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.sw-btn, .sb-btn, .sr-btn{display:inline-block; vertical-align:top;  font-size:15px; font-weight:600;text-align:center; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.cw-btn, .cb-btn, .cr-btn{display:inline-block; vertical-align:top;  font-size:14px; font-weight:600;text-align:center; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

/* 회색라인 */
.bw-btn{color:#47120e;background:#fff; min-width:220px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.bw-btn span{display:inline-block; vertical-align:top; line-height:50px;}
.sw-btn{color:#47120e;background:#fff; min-width:160px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.sw-btn span{display:inline-block; vertical-align:top; line-height:40px;}
.cw-btn{color:#47120e;background:#fff; min-width:120px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.cw-btn span{display:inline-block; vertical-align:top; line-height:30px;}




.bw-btn:hover, .sw-btn:hover, .cw-btn:hover{background:#ff5a00; color:#fff;box-shadow: 3px 3px 5px rgba(2, 2, 0, 0.25); cursor: pointer  ; -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)}


/* 검정배경 버튼*/
.bb-btn{color:#fff;background:#4d4d4d; min-width:220px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.bb-btn span{display:inline-block; vertical-align:top; line-height:50px;}
.sb-btn{color:#fff;background:#4d4d4d; min-width:160px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.sb-btn span{display:inline-block; vertical-align:top; line-height:40px;}
.cb-btn{color:#fff;background:#4d4d4d; min-width:120px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  }
.cb-btn span{display:inline-block; vertical-align:top; line-height:30px;}


.sw-btn.w200{min-width:200px}
.sr-btn.w200{min-width:200px}
.sb-btn.w200{min-width:200px}

.cw-btn.w100{min-width:100px}
.cr-btn.w100{min-width:100px}
.cb-btn.w100{min-width:100px}

.cw-btn.w70{min-width:70px}
.cr-btn.w70{min-width:70px}
.cb-btn.w70{min-width:70px}

/* 주황배경 버튼*/
.br-btn{ color:#fff;background:#ff5a00; min-width:220px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.br-btn span{display:inline-block; vertical-align:top; line-height:50px;}
.sr-btn{ color:#fff;background:#ff5a00; min-width:160px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.sr-btn span{display:inline-block; vertical-align:top; line-height:40px;}
.cr-btn{ color:#fff;background:#ff5a00; min-width:120px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) }
.cr-btn span{display:inline-block; vertical-align:top; line-height:30px;}


/* 마우스오버시 변경 */
.br-btn:hover{background:#666; color:#fff; box-shadow: 3px 3px 5px rgba(2, 2, 0, 0.25)  ; -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)}
.br-btn:hover span{line-height:50px;}
.sr-btn:hover{ background:#666; color:#fff;box-shadow: 3px 3px 5px rgba(2, 2, 0, 0.25)  ; -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) }
.sr-btn:hover span{line-height:40px;}
.cr-btn:hover{ background:#666;color:#fff;box-shadow: 3px 3px 5px rgba(2, 2, 0, 0.25)  ; -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.25)  ; -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) }
.cr-btn:hover span{line-height:30px;}


	@media all and (max-width:1024px) {
		.bw-btn, .bb-btn, .br-btn{min-width:200px;}
		.bw-btn span, .bb-btn span, .br-btn span{line-height:52px;}
	}

	@media all and (max-width:680px) {
		.bw-btn, .bb-btn, .br-btn{font-size:16px}
		.bw-btn span, .bb-btn span, .br-btn span{line-height:48px;}
		.sw-btn, .sb-btn, .sr-btn{font-size:15px; min-width:140px}
		.sw-btn span, .sb-btn span, .sr-btn span{line-height:40px;}
		.cw-btn, .cb-btn, .cr-btn{font-size:14px;}
		.cw-btn span, .cb-btn span, .cr-btn span{line-height:30px;}
	}



.tbl-type01 {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:1px solid #e0d7c5;}
.tbl-type01 th, .tbl-type01 td {font-size:14px;color:#47120e;border:1px solid #e0d7c5;border-right:none; line-height:120%; border-left:none;padding:11px 5px;word-wrap:break-word;}
.tbl-type01 th:first-child, .tbl-type01 td:first-child{border-left:none}
.tbl-type01 th {color:#222;}
.tbl-type01 td {background:#fff;}
.tbl-type01 th:first-child, .tbl-type01 td:first-child {border-left:0;}
.tbl-type01 thead th {padding:12px 5px; color:#47120e; font-size:16px; font-weight:600;}
.tbl-type01 thead th.vline {border-bottom:1px solid #e0d7c5;} /* th가 2줄일 경우  */
.tbl-type01 th.line, .tbl-type01 td.line {border-right:1px solid #d5d5d5;} /* 셀병합시 우측 라인 안나올 경우 */
.tbl-type01 th.l, .tbl-type01 td.l, .tbl-type01 td.left {padding-left:10px;}
.tbl-type01 th.r, .tbl-type01 td.r, .tbl-type01 td.right {padding-right:10px;}
.tbl-type01 tr.bg th, .tbl-type01 tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */

.tbl-type01 .time{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.tbl-type01 .time:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

	@media only screen and (max-width:1000px) {


	}

	@media only screen and (max-width:780px) {
		.tbl-type01 .time{display:block; margin-left:0;}
		.tbl-type01 .time:after{display:none}
	}
	@media only screen and (max-width:680px) {
		.tbl-type01 thead th{font-size:15px; padding:16px 5px;}
		.tbl-type01 th, .tbl-type01 td{font-size:14px; padding:14px 5px}
	}

.tbl-type02 {border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:1px solid #e0d7c5;}
.tbl-type02 th, .tbl-type02 td {font-size:14px;color:#47120e;border:1px solid #e0d7c5;border-right:none; line-height:130%; border-left:none;padding:13px 5px;word-wrap:break-word;}
.tbl-type02 th:first-child, .tbl-type02 td:first-child{border-left:none}
.tbl-type02 tbody th{text-align:left;}
.tbl-type02 th:first-child, .tbl-type02 td:first-child {border-left:0;}
.tbl-type02 th.line, .tbl-type02 td.line {border-right:1px solid #e0d7c5;} /* 셀병합시 우측 라인 안나올 경우 */
.tbl-type02 th.l, .tbl-type02 td.l, .tbl-type02 td.left {padding-left:10px;}
.tbl-type02 th.r, .tbl-type02 td.r, .tbl-type02 td.right {padding-right:10px;}
.tbl-type02 tr.bg th, .tbl-type02 tr.bg td  {background:#f0f0f0;font-weight:bold;} /* 강조 */

.tbl-type02 .time{display:inline-block; vertical-align:top; margin-left:36px; position:relative;}
.tbl-type02 .time:after{ width:1px; height:12px; background:#47120e; position:absolute; left:-22px; top:50%;margin-top:-6px; display:block; content:""}

	@media only screen and (max-width:1000px) {


	}

	@media only screen and (max-width:780px) {
		.tbl-type02 .time{display:block; margin-left:0;}
		.tbl-type02 .time:after{display:none}
	}
	@media only screen and (max-width:680px) {
		.tbl-type02 thead th{font-size:16px; padding:16px 5px;}
		.tbl-type02 th, .tbl-type02 td{font-size:15px; padding:14px 5px}
	}




.check-box{display:inline-block; vertical-align:top}
.check-box input[type="checkbox"]{ display:none;}
.check-box input + label{display:block; font-size:16px; font-weight:400; color:#47120e; padding-left:34px; position:relative;  line-height:20px;}
.check-box input + label:after{width:20px; height:20px; position:absolute; background:#fff; left:0; top:0;display:block;content:"";border:1px solid #e0d7c5;/* box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) */ }
.check-box input[type="checkbox"]:checked + label:after{ background:url(../img/Sub/check-on.png) no-repeat center center #fff }




/* u-tab01 */
@media only screen and  (min-width:1001px) {
	.u-tab01 {position:relative;line-height:130%;text-align:left;}
	.u-tab01:after {clear:both;content:"";display:block;}
	.u-tab01 li {position:relative;vertical-align:top; display:inline-block; vertical-align:top}
	.u-tab01 li a { display:block;position:relative;z-index:1;font-weight:400;font-size:16px;letter-spacing:-0.05em; color:#47120e;padding:0px 14px 25px 14px;}
	.u-tab01 li.active a, .u-tab01 li a:hover{border-bottom:none;border-left:none; border-right:none;font-weight:600; color:#ff5a00;}

	.u-tab01 li:first-child a{padding-left:0}
}
@media only screen and  (max-width:1000px) {
	.u-tab01{display:block; position:relative;z-index:3 ;padding-bottom:10px }
	.u-tab01 {position:relative;line-height:130%;text-align:left; font-size:0}
	.u-tab01:after {clear:both;content:"";display:block;}
	.u-tab01 li {position:relative;vertical-align:top; display:inline-block; vertical-align:top}
	.u-tab01 li a{ display:block;position:relative;z-index:1;font-weight:400;font-size:16px;letter-spacing:-0.05em; color:#47120e;padding:20px 25px 25px 25px;}
	.u-tab01 li.active a {border-bottom:none;border-left:none; border-right:none;font-weight:600; color:#ff5a00;}

	.u-tab01 li:first-child a{padding-left:0}
}
@media only screen and  (max-width:680px) {
	.u-tab01 li a {padding:15px 12px 20px 12px; font-size:17px;}
}
@media only screen and  (max-width:480px) {
	.u-tab01 li{ width:20%; margin:0}
	.u-tab01 li:nth-child(2), .u-tab01 li:nth-child(4){width:18%}
	.u-tab01 li:nth-child(3){ width:24%}
	.u-tab01 li a {padding:10px 7px 15px 7px; font-size:15px;  line-height:120% ;display:table;width:100%;}
	.u-tab01 li a span{display:table-cell; vertical-align:middle;text-align:left; height:36px;}
	.u-tab01 li a span i{display:block;}
}

/* 페이징 */
.paging-wrap{font-size:0px; text-align:center; position:relative;}
.paging-wrap .round{display:inline-block;border-radius:40px;vertical-align:top; font-size:0;overflow:hidden; box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)  ; -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)}
.paging-wrap ul{display:inline-block; vertical-align:top; height:40px; padding:0 6px;background:#fff;  }
.paging-wrap li{display:inline-block; vertical-align:top;}
.paging-wrap li a{display:block; width:34px;text-align:center; height:40px; font-size:15px; line-height:40px;color:#47120e; text-decoration:none; color:#888; font-weight:600;}
.paging-wrap li.active a, .paging-wrap li a:hover{color:#ff5a00;}
.paging-wrap a.prev{box-sizing:border-box;border-top-left-radius:40px;border-bottom-left-radius:40px;;background:url(../img/Sub/page-ctrl.png) no-repeat 7px center; background-size:90px auto;border-right:1px solid #e1e1e1}
.paging-wrap a.prev:hover{background:url(../img/Sub/page-ctrlo.png) no-repeat 7px center #ff5a00;background-size:90px auto; }
.paging-wrap a.next{box-sizing:border-box;border-top-right-radius:40px;border-bottom-right-radius:40px;background:url(../img/Sub/page-ctrl.png) no-repeat -57px center;  background-size:90px auto;border-left:1px solid #e1e1e1}
.paging-wrap a.next:hover{background:url(../img/Sub/page-ctrlo.png) no-repeat -58px center #ff5a00;background-size:90px auto;}
.paging-wrap a.first, .paging-wrap a.prev, .paging-wrap a.next, .paging-wrap a.last{margin:0 0;display:inline-block; vertical-align:top; width:40px; height:40px; }

	@media only screen and (max-width:780px) {
		.paging-wrap .round{border-radius:40px;}
		.paging-wrap ul{height:40px;}
		.paging-wrap li a{height:40px; line-height:40px; font-size:14px; width:30px;}
		.paging-wrap a.first, .paging-wrap a.prev, .paging-wrap a.next, .paging-wrap a.last{ height:40px; width:40px; }
		.paging-wrap a.prev{background-position:7px center}
		.paging-wrap a.next{background-position:-58px center}
	}

















