<template>
    <div class="contents">
        <template v-if="isMenu === 'cart'">
            <div class="top-vis">
                <div class="vis-txt vis-txt07"><span class="blind">CART</span></div>
                <div class="vis-img vis-bg07"><img src="../assets/img/Sub/svisual-07.jpg" alt=""/></div>
            </div>
        </template>
        <template v-if="isMenu === 'editinfo'">
            <div class="top-vis">
                <div class="vis-txt vis-txt04"><span class="blind">CART</span></div>
                <div class="vis-img vis-bg04"><img src="../assets/img/Sub/svisual-04.jpg" alt=""/></div>
            </div>
        </template>
        <template v-if="isMenu === 'orderhistory'">
            <div class="top-vis">
                <div class="vis-txt vis-txt08"><span class="blind">CART</span></div>
                <div class="vis-img vis-bg08"><img src="../assets/img/Sub/svisual-08.jpg" alt=""/></div>
            </div>
        </template>
        <template v-if="isMenu === 'points'">
            <div class="top-vis">
                <div class="vis-txt vis-txt05"><span class="blind">CART</span></div>
                <div class="vis-img vis-bg05"><img src="../assets/img/Sub/svisual-05.jpg" alt=""/></div>
            </div>
        </template>
        <template v-if="isMenu === 'coupon'">
            <div class="top-vis">
                <div class="vis-txt vis-txt06"><span class="blind">CART</span></div>
                <div class="vis-img vis-bg06"><img src="../assets/img/Sub/svisual-06.jpg" alt=""/></div>
            </div>
        </template>
        <div id="subNavi-wrap">
            <div id="subNavi">
                <div class="leftmenu" id="leftmenu">
                    <ul class="depth2">
                        <li id="lm01" class='lm_l2 over'><a class='lm_a2'><span class='isTxt'
                                                                                         @click="transPage">장바구니</span></a>
                        </li>
                        <li id="lm02" class='lm_l2'><a class='lm_a2'><span class='isTxt'
                                                                                    @click="transPage">주문내역</span></a>
                        </li>
                        <li id="lm03" class='lm_l2'><a class='lm_a2'><span class='isTxt'
                                                                                    @click="transPage">정보수정</span></a>
                        </li>
                        <li id="lm04" class='lm_l2'><a class='lm_a2'><span class='isTxt'
                                                                                    @click="transPage">포인트</span></a>
                        </li>
                        <li id="lm05" class='lm_l2'><a class='lm_a2'><span class='isTxt'
                                                                                    @click="transPage">쿠폰</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <router-view></router-view>

    </div>
</template>

<script>
    import '../js/jquery/owl.carousel'
    import '../js/jquery/table.rspnsv'

    import 'script-loader!../js/topmenu.js'
    import 'script-loader!../js/layoutSub.js'
    import 'script-loader!../js/sub.js'

    export default {
        name: 'cartPage',
        data: function () {
            return {
                isMenu: 'lm01'
            }
        },
        methods: {
            remarkOverClass: function (ev) {
                if ($('.depth2>.over').length !== 0) {
                    $('.depth2>.over').removeClass('over');
                }
                $(ev.target).parent().parent().addClass('over');
            },
            transPage: function (ev) {
                var _this = this
                this.isMenu = ev.path[2].id
                this.remarkOverClass(ev)

                if (this.isMenu === 'lm01') {
                    _this.$router.push('/cart/cart/')
                } else if (this.isMenu === 'lm02') {
                    _this.$router.push('/cart/orderHis/')
                } else if (this.isMenu === 'lm03') {
                    _this.$router.push('/cart/editInfo/')
                } else if (this.isMenu === 'lm04') {
                    _this.$router.push('/cart/points/')
                } else if (this.isMenu === 'lm05') {
                    _this.$router.push('/cart/coupon/')
                }
            }
        }
    }
</script>

<style>@import '../js/jquery/owl.carousel.min.css';</style>
<style>@import '../assets/css/content.css';</style>
<style>@import '../assets/css/pop.css';</style>
