<template>
  <li @click="transDetailPage">
    <a href="#">
      <div class="img"><img :src="getImage" alt=""/></div>
      <div class="txt">
        <span class="btxt">{{itemInfo.title}}</span>
        <span class="stxt">{{decimalWithComma(parseInt(itemInfo.price.incl_tax))}}원</span>
        <span class="ctxt">구매 {{itemInfo.buyCount}}  <i>리뷰 {{itemInfo.reviewCount}}</i></span>
      </div>
    </a>
  </li>
</template>
<script>
  export default {
      name : 'contentItem',
      props : ['itemInfo'],
      computed: {
          getImage: function () {
              var _this = this
              if (_this.itemInfo.images.length !== 0) {
                  return _this.itemInfo.images['0'].original
              } else {
                  return require('../assets/img/Content/replaceImage.png')
              }
          }
      },
      methods : {
        transDetailPage : function(ev) {
            var _this = this
            var productURL = this.itemInfo.url
            window.$http.get(productURL)
                    .then(function (productDetail) {
                        window.eventBus.$emit('productDetail', productDetail.data)
                        _this.$router.push({path: '/detail/'})
                    })

            // 세부페이지로 이동합니다 item 정보를 query문과 함께 넘겨야 할 수도 있습니다
        },
          decimalWithComma: function (decimal) {
              return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          }
      }
  }
</script>
