<template>
    <div class="contents">
        <!-- s: page-start -->
        <div id="contents">
            <div class="detail-info">
                <div class="fl">
                    <div class="detail-photo">
                        <template v-for="item in productDetail.images">
                            <div class="item"><img :src="item.original" alt=""/></div>
                        </template>
                    </div>
                    <div class="thumnail-ov">
                        <div class="detail-thumnail">
                            <template v-for="item in productDetail.images">
                                <div class="item"><a href="#n"><img :src="item.original"
                                                                    alt=""/></a></div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="fr">
                    <h4>{{productDetail.title}}</h4>
                    <span class="star star-5"></span>
                    <h2></h2>
                    <div class="product-cost-div">
                        <p class="product-cost-nPrice">
                            <span>판매가</span><span>{{decimalWithComma(parseInt(productPrice.incl_tax))}}원</span>
                        </p>
                        <p class="product-cost-discountPrice">
                            <span>쿠폰 할인가</span><span>{{decimalWithComma(parseInt(productPrice.incl_tax))}}원</span>
                        </p>
                    </div>
                    <table class="list">
                        <colgroup>
                            <col width="30"/>
                            <col width="70"/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>브랜드</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>배송비</td>
                                <td>39,800원 미만 구매시: 3000원<br>39,800원 이상 구매시: <span class="corg" style="font-weight:bold">전상품 배송무료</span></td>
                            </tr>
                            <tr>
                                <td>택배사</td>
                                <td>우채국택배</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="delivery-discription"><span>지금 주문 시 <strong>{{getDeliveryTime}}</strong> 에 도착합니다.</span></div>

                    <div class="quantity">
                        <table class="list">
                            <colgroup>
                                <col width="30"/>
                                <col width="70"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>수량</td>
                                <td>
                                    <div class="num-ctrl">
                                        <button class="minus" count_range="m"><span class="blind">삭제</span></button>
                                        <input type="text" class="count" value="1"/>
                                        <button class="plus" count_range="p"><span class="blind">추가</span></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="product-option">
                            <p>추가 구성</p>
                            <select>
                                <option value="testValue">test1</option>
                                <option value="testValue">test2</option>
                                <option value="testValue">test3</option>
                                <option value="testValue">test4</option>
                            </select>
                        </div>
                    </div>

                    <div class="won">
                        <span class="btxt">총 상품금액</span>
                        <span class="stxt">{{decimalWithComma(parseInt(productPrice.incl_tax))}}</span>
                        <span class="corange">원</span>
                    </div>

                    <div class="btn-wrap">
                        <a href="#" class="cart-btn" @click="addToCart"><span>Add To Cart</span></a>
                        <a href="#" class="buy-btn" @click="transOrderPage"><span>Buy Now</span></a>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="detail-sns">
                <dl>
                    <dt>지인이 구매하면 추천인, 구매자 모두에게 <span class="corange">5,000원씩 적립</span></dt>
                    <dd><a href="#" class="sns-01"><span>카카오스토리</span></a></dd>
                    <dd><a href="#" class="sns-02"><span>페이스북</span></a></dd>
                    <dd><a href="#" class="sns-03"><span>밴드</span></a></dd>
                    <dd><a href="#" class="sns-04"><span>링크 공유</span></a></dd>
                </dl>
                <dl>
                    <dd><a href="#" class="sns-01"><span>카카오스토리</span></a></dd>
                    <dd><a href="#" class="sns-02"><span>페이스북</span></a></dd>
                    <dd><a href="#" class="sns-03"><span>밴드</span></a></dd>
                    <dd><a href="#" class="sns-04"><span>링크 공유</span></a></dd>
                </dl>
                <div class="ssgap"></div>
                <a href="#" class="sw-btn"><span>MORE</span></a>
            </div>
            <div class="gap"></div>
            <div class="detail-tab">
                <ul>
                    <li><a href="#pro-tab01"><span>상품설명</span></a></li>
                    <li class="active"><a href="#pro-tab02"><span>구매후기</span></a></li>
                    <li><a href="#pro-tab03"><span>상품고시</span></a></li>
                </ul>
            </div>
            <div class="movie_wrap">
                <span @click="movie_close" id="movie_close">x</span>

                <div id="detail-movie"></div>
                <div v-if="isMini">
                    <iframe id="mini-movie"></iframe>
                </div>
            </div>
            <div class="gap"></div>
            <div class="story-wrap">
                <h3 class="u-tit01"><span>요리이야기</span></h3>

                <div class="is-con">
                    <div class="img"><img src="../assets/img/Content/detail-img02.jpg" alt=""/></div>
                    <dl>
                        <dt>요리이야기</dt>
                        <dd>텍스트1</dd>
                        <dd>텍스트2</dd>
                        <dd>텍스트3</dd>
                        <dd>텍스트4</dd>
                        <dd>텍스트5</dd>
                        <dd>텍스트6</dd>
                        <dd>텍스트7</dd>
                        <dd>텍스트8</dd>
                    </dl>
                </div>
            </div>
            <div class="material-wrap">
                <h3 class="u-tit01"><span>보내드리는 재료</span></h3>

                <div class="is-con">
                    <div class="img"><img src="../assets/img/Content/detail-img03.jpg" alt=""/></div>
                    <ul>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-01" autocomplete="off" checked/>
                                <label for="sel-01">
                                    <span class="btxt">닭봉</span>
                                    <span class="stxt">350g </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-02" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-02">
                                    <span class="btxt">중새우</span>
                                    <span class="stxt">30g </span>
                                    <span class="ctxt">태국산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-03" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-03">
                                    <span class="btxt">치자</span>
                                    <span class="stxt">4개 </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-04" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-04">
                                    <span class="btxt">양파</span>
                                    <span class="stxt">1개 </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-05" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-05">
                                    <span class="btxt">파프리카 </span>
                                    <span class="stxt">1개 </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-06" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-06">
                                    <span class="btxt">치킨파우더</span>
                                    <span class="stxt">1개 </span>
                                    <span class="ctxt">말레이시아산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-07" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-07">
                                    <span class="btxt">완두콩</span>
                                    <span class="stxt">30g </span>
                                    <span class="ctxt">미국산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-08" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-08">
                                    <span class="btxt">레몬</span>
                                    <span class="stxt">1/2개   </span>
                                    <span class="ctxt">미국산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-09" autocomplete="off" checked onclick="return false;"/>
                                <label for="sel-09">
                                    <span class="btxt">토마토쿨리</span>
                                    <span class="stxt">150g </span>
                                    <span class="ctxt">스페인산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-10" checked onclick="return false;"/>
                                <label for="sel-10">
                                    <span class="btxt">파슬리</span>
                                    <span class="stxt">2줄기  </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-11" checked onclick="return false;"/>
                                <label for="sel-11">
                                    <span class="btxt">다진마늘</span>
                                    <span class="stxt"> 1큰술 </span>
                                    <span class="ctxt">국내산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-12" checked onclick="return false;"/>
                                <label for="sel-12">
                                    <span class="btxt">파에야시즈닝 </span>
                                    <span class="stxt">32g </span>
                                    <span class="ctxt">수입산</span>
                                </label>
                            </p>
                        </li>
                        <li>
                            <p class="check-box">
                                <input type="checkbox" id="sel-13" checked onclick="return false;"/>
                                <label for="sel-13">
                                    <span class="btxt">초리조살라미</span>
                                    <span class="stxt">25g </span>
                                    <span class="ctxt">스페인산</span>
                                </label>
                            </p>
                        </li>
                    </ul>


                </div>
                <ul class="matters">
                    <li>
                        <span class="btxt">주의사항</span>
                        <ul>
                            <li><p class="check-box"><input type="checkbox" id="sel-14" checked/><label for="sel-14"
                                                                                                        onclick="return false;">초리조살라미</label>
                            </p></li>
                        </ul>

                    </li>
                    <li>
                        <span class="btxt">준비하셔야 할 도구</span>
                        <ul>
                            <li><p class="check-box"><input type="checkbox" id="sel-15" checked/><label for="sel-15"
                                                                                                        onclick="return false;">파라이팬</label>
                            </p></li>
                            <li><p class="check-box"><input type="checkbox" id="sel-16" checked/><label for="sel-16"
                                                                                                        onclick="return false;">전기밥솥</label>
                            </p></li>
                        </ul>
                    </li>
                    <li>
                        <span class="btxt">준비하셔야 할 재료</span>
                        <ul>
                            <li><p class="check-box"><input type="checkbox" id="sel-17" checked/><label for="sel-17"
                                                                                                        onclick="return false;">쌀
                                1.5컵(300g)</label></p></li>
                            <li><p class="check-box"><input type="checkbox" id="sel-18" checked/><label for="sel-18"
                                                                                                        onclick="return false;">후추약간</label>
                            </p></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="recipe-wrap">
                <h3 class="u-tit01"><span>레시피</span></h3>
                <ul>
                    <li>
                        <span class="img"><img src="../assets/img/Content/detail-img04.jpg" alt=""/></span>

                        <div class="ov">
                            <span class="num">01</span>
                            <span class="btxt">파스타삶기</span>
                            <span class="stxt">1.4L(7컵)의 끓는물에 소금 1큰술을 넣고 스파게티니를 7분간 삶은 후 건져 식용유, 소금, 후츠를 넣어 섞는다.</span>
                        </div>
                    </li>
                    <li>
                        <span class="img"><img src="../assets/img/Content/detail-img04.jpg" alt=""/></span>

                        <div class="ov">
                            <span class="num">02</span>
                            <span class="btxt">재료 준비하기</span>
              <span class="stxt">
						돼지고기는 키친타월로 핏물을 제거하고 소금, 후추로 밑간한다.
						바지락은 소금물에 15분정도 해감하고 새우는 물기를 제거하고
						후추로 밑간한다. 양파는 두께 0.5cm로 슬라이스하고 대파
						송송썬다. 봉골레 육수 : 물 2컵(400ml) + 봉골레파우더 2작은술을 섞어 만든가.
					 </span>
                        </div>
                    </li>
                    <li>
                        <span class="img"><img src="../assets/img/Content/detail-img04.jpg" alt=""/></span>

                        <div class="ov">
                            <span class="num">03</span>
                            <span class="btxt">고기볶기</span>
                            <span class="stxt">1.4L(7컵)의 끓는물에 소금 1큰술을 넣고 스파게티니를 7분간 삶은 후 건져 식용유, 소금, 후츠를 넣어 섞는다.</span>
                        </div>
                    </li>
                    <li>
                        <span class="img"><img src="../assets/img/Content/detail-img04.jpg" alt=""/></span>

                        <div class="ov">
                            <span class="num">04</span>
                            <span class="btxt">해산물 넣기</span>
              <span class="stxt">
						돼지고기는 키친타월로 핏물을 제거하고 소금, 후추로 밑간한다.
						바지락은 소금물에 15분정도 해감하고 새우는 물기를 제거하고
						후추로 밑간한다. 양파는 두께 0.5cm로 슬라이스하고 대파
						송송썬다. 봉골레 육수 : 물 2컵(400ml) + 봉골레파우더 2작은술을 섞어 만든가.
					 </span>
                        </div>
                    </li>
                    <li>

                        <span class="img"><img src="../assets/img/Content/detail-img04.jpg" alt=""/></span>

                        <div class="ov">
                            <span class="num">05</span>
                            <span class="btxt">순두부 넣기</span>
              <span class="stxt">
					소스가 끓어오르면 순두부를 큼직하게 부숴넣고 위에 계란을 올린다. 중물로 줄이고 뚜껑을 덮은 후 계란 흰자가 살짝 불투명해
					질 때까지 끓여 순두부 해물 파스타를 완성한다
					</span>
                        </div>
                    </li>
                </ul>


            </div>
            <div class="gap"></div>
            <div class="detail-reply">
                <div class="img" id="pro-tab02"><img src="../assets/img/Content/detail-img05.jpg" alt=""/></div>
                <div class="gap"></div>
                <h3 class="detail-tit">구매후기</h3>

                <div class="is-top">
                    <p class="btit">후기 620개</p>

                    <p class="star star-4"><span class="point">(92%)</span></p>
                    <a href="#" class="reply-btn"><span>후기작성</span></a>
                </div>
                <div class="sgap"></div>
                <ul class="list">
                    <li>
                        <div class="fl">
                            <p class="name">임햇* <span>연령 20대</span></p>

                            <p class="email">sunshin****@naver.com</p>
                            <img src="../assets/img/Content/detail-img06.jpg" alt=""/>
                        </div>
                        <div class="fr">
                            <p class="star star-5"></p>

                            <div class="stxt">
                                sns에서 너무 핫해서 팔로우하고 사진만보다가 무료배송 이벤트 글을보고 바로 앱설치해서
                                구매했어요! 배송은 빨랐구~ 안전하게 도착했어요.
                                오자마자 바로 구워먹었는데 팥 싫어하는 동생도 더줘더줘하고 떡싫어하는 가족들도 더 구워
                                오라고해서 몇번을 구워먹었는지 모르겠어요~
                                40알 샀는데 진짜 맛있어서 하루에 다먹을거 같아요.
                                말랑말랑 쫀득쫀득해서 진짜 중독성 장난아니에요
                            </div>
                            <p class="date">2017 . 12 . 09(목)</p>
                        </div>
                    </li>
                    <li>
                        <div class="fl">
                            <p class="name">임햇* <span>연령 20대</span></p>

                            <p class="email">sunshin****@naver.com</p>
                        </div>
                        <div class="fr">
                            <p class="star star-3"></p>

                            <div class="stxt">
                                약불에 구워먹으니 맛있습니다. 만족합니다.
                            </div>
                            <p class="date">2017 . 12 . 09(목)</p>
                        </div>
                    </li>
                    <li>
                        <div class="fl">
                            <p class="name">임햇* <span>연령 20대</span></p>

                            <p class="email">sunshin****@naver.com</p>
                        </div>
                        <div class="fr">
                            <p class="star star-3"></p>

                            <div class="stxt">
                                약불에 구워먹으니 맛있습니다. 만족합니다.
                            </div>
                            <p class="date">2017 . 12 . 09(목)</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sgap" id="pro-tab03"></div>
            <div class="paging-wrap">
                <div class="round">
                    <a href="#" class="prev ctrl"><span class="blind">이전 페이지로</span></a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a href="#" class="next ctrl"><span class="blind">다음페이지로</span></a>
                </div>
            </div>
            <div class="gap"></div>
            <h3 class="detail-tit">상품고시</h3>
            <table class="detail-table">
                <thead>
                <tr>
                    <th colspan="2">판매자 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>상호명</td>
                    <td>(주)포라</td>
                </tr>
                <tr>
                    <td>대표</td>
                    <td>유준재</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>support@yoribogo.co.kr</td>
                </tr>
                <tr>
                    <td>사업자등록번호</td>
                    <td>000 - 00 - 00000</td>
                </tr>

                <tr>
                    <td>통신판매업신고</td>
                    <td>제 2014 - 서울동대문 - 0000호</td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>(02593) 서울시 동대문구 서울시립대로 14 (답십리동, 청계한신휴플러스) 108 - 1504</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>요리보고 고객센터 : 00 - 000 - 0000</td>
                </tr>
                <tr>
                    <td>택배사</td>
                    <td>CJ 대한통운</td>
                </tr>
                </tbody>
            </table>
            <div class="sgap"></div>
            <table class="detail-table">
                <thead>
                <tr>
                    <th colspan="2">판매자 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>상호명</td>
                    <td>(주)포라</td>
                </tr>
                <tr>
                    <td>대표</td>
                    <td>유준재</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>support@yoribogo.co.kr</td>
                </tr>
                <tr>
                    <td>사업자등록번호</td>
                    <td>000 - 00 - 00000</td>
                </tr>

                <tr>
                    <td>통신판매업신고</td>
                    <td>제 2014 - 서울동대문 - 0000호</td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>(02593) 서울시 동대문구 서울시립대로 14 (답십리동, 청계한신휴플러스) 108 - 1504</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>요리보고 고객센터 : 00 - 000 - 0000</td>
                </tr>
                <tr>
                    <td>택배사</td>
                    <td>CJ 대한통운</td>
                </tr>
                </tbody>
            </table>
            <div class="sgap"></div>
            <table class="detail-table">
                <thead>
                <tr>
                    <th colspan="2">판매자 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>상호명</td>
                    <td>(주)포라</td>
                </tr>
                <tr>
                    <td>대표</td>
                    <td>유준재</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>support@yoribogo.co.kr</td>
                </tr>
                <tr>
                    <td>사업자등록번호</td>
                    <td>000 - 00 - 00000</td>
                </tr>

                <tr>
                    <td>통신판매업신고</td>
                    <td>제 2014 - 서울동대문 - 0000호</td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>(02593) 서울시 동대문구 서울시립대로 14 (답십리동, 청계한신휴플러스) 108 - 1504</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>요리보고 고객센터 : 00 - 000 - 0000</td>
                </tr>
                <tr>
                    <td>택배사</td>
                    <td>CJ 대한통운</td>
                </tr>
                </tbody>
            </table>

            <div class="gap"></div>
            <div class="other-product detail">
                <ul>
                    <li>
                        <a href="#">
                            <div class="img"><img src="../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                            <div class="txt">
                                <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                                <span class="stxt">10,000원</span>
                                <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img"><img src="../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                            <div class="txt">
                                <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                                <span class="stxt">10,000원</span>
                                <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="img"><img src="../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                            <div class="txt">
                                <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                                <span class="stxt">10,000원</span>
                                <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- e: page-end -->
    </div>
</template>

<script>
    import '../js/jquery/jquery-1.11.3.min'
    import '../js/jquery/slick.js'
    import '../js/jquery/owl.carousel'
    import '../js/jquery/jquery.mousewheel'
    import Player from '@vimeo/player'

    import 'script-loader!../js/common.js'
    import 'script-loader!../js/topmenu.js'
    import 'script-loader!../js/defalut.js'
    import 'script-loader!../js/layoutSub.js'
    import 'script-loader!../js/sub.js'

    export default {
        name: 'detailPage',
        data: function () {
            return {
                isToggled: false,
                isMini: false,
                productDetail: [],
                productPrice: []
            }
        },
        computed: {
            getDeliveryTime: function () {
                var date = new Date()
                var month = date.getMonth() + 1
                var day = date.getDate() + 1
                var yoil = date.getDay() + 1
                var yoilString = ''
                switch (yoil) {
                    case 1 : yoilString = '월'; break;
                    case 2 : yoilString = '화'; break;
                    case 3 : yoilString = '수'; break;
                    case 4 : yoilString = '목'; break;
                    case 5 : yoilString = '금'; break;
                    case 6 : yoilString = '토'; break;
                    case 7 : yoilString = '일'; break;
                }
                return month + '/' + day + ' ' + yoilString
            }
        },
        methods: {
            movie_close: function () {
                var _this = this
                $('#detail-movie>iframe').removeClass('video-mini')
//            $('#detail-movie>iframe').css({
//              width: $('#contents').outerWidth(),
//              height: 400,
//              position: 'static'
//            })
                $('#detail-movie').css('background', 'none')
            },
            videoInit: function () {
                var _this = this
                var videoPosition = $('#detail-movie').offset().top
                var videoPosition_mini = videoPosition + 400
                var videoWidth = $('#contents').outerWidth()
                var videoPlayPoint = videoPosition - 400
                var options = {
                    width: videoWidth,
                    height: 400,
                    id: 52123602
                };
                var player = new Player('detail-movie', options)

                $(document).on('scroll', function (ev) {
                    var scrollTop = window.pageYOffset
                    if (scrollTop > videoPosition_mini && _this.isToggled === false) {
                        _this.isToggled = true
                        // 상단 배너형식으로 비디오 토글
//                $('.movie_wrap').addClass('video-mini')
//                $('#detail-movie>iframe').css({
//                  width: 200,
//                  height: 120,
//                  left: 0
//                })
//                $('#detail-movie').css({
//                  background: 'rgba(0,0,0,0.5)',
//                  height: 120
//                })
                        // 중간에 표시
                        $('#detail-movie>iframe').addClass('video-mini')
                    } else if (scrollTop < videoPosition_mini && _this.isToggled === true) {
                        _this.movie_close()
                        _this.isToggled = false
                    }
                    if (scrollTop > videoPlayPoint && _this.isToggled === false) {
                        player.play()
                    } else if (scrollTop < videoPosition) {
                        player.pause()
                    }
                })
            },
            transOrderPage: function () {
                if (getCookie('isSigned') !== 'true') {
                    alert('결제를 하기 위해서는 로그인이 필요합니다. 로그인 페이지로 이동합니다.')
                    this.$router.push('/login/')
                    return false
                }
                var _this = this,
                        basketInfo,
                        restItems = []; // 기존 아이템 저장
                var quantity = parseInt($('.num-ctrl input').val())

                window.$http.get('/basket/').then(function (result) {
                    var lines = result.data.lines
                    var basketurl = result.data.url
                    window.$http.get(lines).then(function (result_lines) {
                        if (result_lines.data.length === 0) {
                            window.$http.post('/basket/add-product/', {url: _this.productDetail.url, quantity: quantity})
                                    .then(function (result_add) {
                                        basketInfo = result_add.data
                                        _this.$router.push({path: '/order/' ,query: basketInfo})
                                    })
                        } else {
                            for (var i in result_lines.data) {
                                var item = {
                                    url: result_lines.data[i].product,
                                    quantity: result_lines.data[i].quantity
                                }
                                restItems.push(item)
                            }
                            window.$http.delete(basketurl)
                                    .then(function (result_basket) {
                                        window.$http.post('/basket/add-product/', {url: _this.productDetail.url, quantity: quantity})
                                                .then(function (result_add) {
                                                    basketInfo = result_add.data
                                                    _this.$router.push({path: '/order/' ,query: basketInfo}) // 오더 페이지 이동

                                                    window.eventBus.restItems = restItems
                                                })
                                    })
                        }
                    })
                })
            },
            addToCart: function (ev) {
                // detail-info에 있는 데이터 set을 cartPage로 넘김
                /*
                 [check point]
                 Cart에 item 추가하는 이벤트 핸들러
                 */
                var item = this.productDetail.url
                var quantity = parseInt($('.num-ctrl input').val())
                var sessionSto = JSON.parse(window.sessionStorage.getItem('cartItems'))
                for (var i in sessionSto) {
                    if (sessionSto[i].product === item) {
                        return false
                    }
                }

                // basket에 아이템을 추가합니다

                window.$http.post('/basket/add-product/', {url: item, quantity: quantity})
                    .then(function (result) {
                        window.$http.get(result.data.lines).then(function (items) { window.eventBus.cartItemNum = items.data.length })
                    })


            },
            meteriaToggleEvt: function () {
                let material = false;

                $('.material-wrap').find('label').click(function () {
                    if (material) {
                        $(this).parent().parent().parent().find('.ctxt').hide();
                        $(this).parent().parent().parent().find('.stxt').show();
                        material = false;
                    } else {

                        $(this).parent().parent().parent().find('.ctxt').show();
                        $(this).parent().parent().parent().find('.stxt').hide();
                        material = true;
                    }

                });
            },
            detailInfoNumCtlEvt: function () {
                $('.detail-info').find('.num-ctrl').each(function () {
                    $(this).find('button[count_range]').click(function (e) {
                        e.preventDefault();
                        var type = $(this).attr('count_range');
                        var $count = $(this).parent().children('input.count');
                        var count_val = $count.val(); // min 1
                        if (type == 'm') {
                            if (count_val < 1) {
                                return;
                            }
                            $count.val(parseInt(count_val) - 1);
                        } else if (type == 'p') {
                            $count.val(parseInt(count_val) + 1);
                        }
                    });
                });
            },

            detailInfoSlick: function () {

                $('.detail-photo').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    speed: 800,
                    autoplaySpeed: 4000,
                    arrows: false,
                    draggable: false,
                    fade: true,
                    dots: false,
                    asNavFor: '.detail-thumnail'
                });

                $('.detail-thumnail').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    speed: 800,
                    arrows: false,
                    autoplaySpeed: 4000,
                    asNavFor: '.detail-photo',
                    dots: false,
                    centerMode: false,
                    focusOnSelect: true,
                    slide: 'div',
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 3
                            }
                        }
                    ]
                });
            },
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        mounted: function () {
            var _this = this
            var detail = window.sessionStorage.getItem('productDetail')

            if (window.eventBus.productDetail.length !== 0) {
                _this.productDetail = window.eventBus.productDetail

                window.$http.get(_this.productDetail.price)
                        .then(function (result) {
                            _this.productPrice = result.data
                        })
                _this.$nextTick(function () {
                    _this.detailInfoSlick();
                })
            } else {
                if (detail) {
                    _this.productDetail = JSON.parse(detail)
                    window.$http.get(_this.productDetail.price)
                            .then(function (result) {
                                _this.productPrice = result.data
                            })
                    _this.$nextTick(function () {
                        _this.detailInfoSlick();
                    })
                }
            }

            $('#contents').addClass('no-pad');

            this.meteriaToggleEvt();
            this.detailInfoNumCtlEvt();
            this.videoInit();

        }
    }
</script>

<style>@import '../js/jquery/slick-theme.css';</style>
<style>@import '../js/jquery/slick.css';</style>
<style>@import '../assets/css/common.css';</style>
<style>@import '../assets/css/styleDefault.css';</style>
<style>@import '../assets/css/layout.css';</style>
<style>@import '../js/jquery/owl.carousel.min.css';</style>
<style>@import '../assets/css/content.css';</style>
<style>@import '../assets/css/pop.css';</style>
<style>
    .movie_wrap {
        height: 400px;
        width: 100%;
    }

    .video-mini {
        position: fixed;
        z-index: 1100;
        /*top: 67px;*/
        /*left: 0;*/
        animation: fadeInDown 2s;
        width: 500px;
        height: 400px;
        left: 66vw;
        top: 59vh;
    }

    #movie_close {
        cursor: pointer;
        font-size: 20px;
        color: white;
        position: absolute;
        right: 4px;
    }
</style>
