<template>
  <!-- s: footer-wrap //-->
  <footer id="footer-wrap" class="div-cont">
    <div id="f-center">
      <div class="f-customer">
        <p class="btxt">CUSTOMER CENTER</p>
        <p class="stxt">0000 . 0000</p>
      </div>
      <ul>
        <li>평일 오전 10시 - 오후 6시</li>
        <li>전화주문 가능</li>
      </ul>
    </div>
    <div id="footer">
      <div class="f-link">
        <ul>
          <li><a>입점하기</a></li>
          <li><a>인스타그램 </a></li>
          <li><a>블로그</a></li>
          <li><a>카카오톡</a></li>
          <li><a>전자금융거래약관 </a></li>
          <li><a>개인정보처리방침</a></li>
          <li><a>청소년보호정책</a></li>
        </ul>
      </div>
      <div class="f-logo"><img src="../assets/img/f-logo.png" alt=""></div>
      <div class="f-info">
        <p class="company">Company : (주)YORIBOGO <span class="line">Owner :</span></p>
        <p class="addr"><i>Address : </i>서울특별시청 04524 서울특별시 중구 세종대로 110</p>
        <p class="provision">개인정보관리책임자 : dkfjekhelp@yoribogo.co.kr</p>
        <p class="regist">
          사업자등록번호 : 123 - 45 - 6789
          <span class="line">통신판매업 신고번호 : 제2105 - 00000 - 0000호 <a class="rtxt">[사업자정보확인]</a></span>
        </p>
      </div>
      <div id="f-respons">
        <p class="copy">COPYRIGHTⓒ Busan Metropolitan City Seogu. All rights reserved.</p>
        <p class="text">
          주식회사 요리보고는 통신판매중개자로서 요리보고 중개상품의 거래당사자가 아니며, 입점판매자가 등록한
          상품정보 및 거래에 대해 주식회사 요리보고는 책임을 지지 않습니다.
        </p>
      </div>
    </div>
  </footer>
  <!-- e: footer-wrap //-->
</template>

<script>
  export default {
      name : 'footerInc'
  }
</script>
