<template>
    <header id="header-wrap" class="div-cont">
        <div id="header" class="header">

            <div id="logo"><a href="/"><span class="blind">요리보고</span></a></div>
            <div id="gnb-wrap">
                <ul class="top-quick">
                    <li class="best"><a @click="transPage"><span>BEST</span></a></li>
                    <li class="new"><a @click="transPage"><span>NEW</span></a></li>
                    <li class="event"><a @click="transPage"><span>EVENT</span></a></li>

                    <li @click="toggleSubPage('cart')"><a><span>CART</span><span id="cartItemNum_badge"
                                                                                 v-if="cartItemNum !== 0">{{cartItemNum}}</span></a>
                    </li>

                </ul>
                <ul class="top-member">
                    <li @click="toggleSubPage('login')" v-if="!isSigned"><a><span>LOGIN</span></a></li>
                    <li @click="toggleSubPage('join')" v-if="!isSigned"><a><span>JOIN</span></a></li>
                    <li @click="logout" v-else><a><span>logout</span></a></li>
                </ul>
            </div>
            <div class="top-search">
                <div class="is-search">
                    <input type="text" class="select-gray" value="찾으시는 정보를 입력하세요" onfocus="clearText(this)"
                           onblur="defaultText(this)">
                    <button class="search-btn"><span class="blind">검색</span></button>
                    <a class="search-close"><span class="blind">검색창닫기</span></a>
                </div>
                <a class="search-open"><span class="blind">검색창열기</span></a>
            </div>
            <a class="bt-mnall" id="mn-ctrs-btns"><span class="blind">우측메뉴</span></a>

            <div id="mainNavi-wrap">
                <h2 class="blind">요리보고 주메뉴</h2>

                <div id="mainNavi">
                    <div class="tmn-tit">
                        <h3 class="tmn-logo"><span class="blind">요리보고</span></h3>
                        <a class="bt-mnclose" id="mn-close-btn"><span class="blind">창닫기</span></a>
                    </div>
                    <ul class="tmn-member">
                        <li @click="toggleSubPage('login')" v-if="!isSigned"><a><span>LOGIN</span></a></li>
                        <li @click="toggleSubPage('join')" v-if="!isSigned"><a><span>JOIN</span></a></li>
                        <li @click="logout" v-else><a><span>logout</span></a></li>
                    </ul>
                    <ul class="topmenu"> </ul>
                </div>
            </div>
            <span class="mn-bar"></span>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'headerInc',
        data: function () {
            return {
                cartItemNum: 0, // a number of cart items
                isSigned : false, // be toggled along a value of whether online or not
                logout_d : false, // trigger a logout event by clicking a logout button directly
                categories: []
            }
        },
        watch: {
            isSigned: function () {
                var status = this.isSigned;
                var logout_d = this.logout_d;
                // an alert message is shown only when session is expired
                if (!status && !logout_d) {
                    window.$http.delete('/login/');
                    window.alert('로그인 세션이 만료되어 로그아웃 합니다. 다시 로그인 해주세요');
                    this.logout_d = false;
                }
            }
        },
        methods: {
            toggleSubPage: function (dest) {
                var _this = this;

                this.$emit('transSubPage');

                if (dest === 'cart') {
                    _this.$router.push('/cart/cart/')
                } else if (dest === 'join') {
                    _this.$router.push('/join/')
                } else if (dest === 'login') {
                    _this.$router.push('/login/')
                }

            },
            transPage: function (ev) {
                /*
                    transform a page to another category page.
                    parsing a 'this' element's ID to get a subCategory's ID (last 4 words of 'this element's ID is subCategory's ID)
                    and parsing a category's ID to get a category item from server
                */
                var _this = this;

                var targetId = $(ev.target).parentsUntil('ul')[1].id;

                var categoryId = $(ev.target).parentsUntil('ul')[1].value;
                var childID = targetId.length === 8? targetId.substring(4): '0001';

                this.$emit('transSubPage');

                _this.$router.push({path: '/submenuIn/', query: {childID: childID, categoryID: categoryId}});

                ev.stopPropagation();
            },
            transMypage: function () {

                this.$router.push('/cart/editinfo/')

            },
            logout: function () {
                var _this = this;

                var result = window.confirm('정말 로그아웃 하시겠습니까?');
                if (result) {
                    window.$http.delete('/login').then(function () {
                        window.csrftoken = '';

                        _this.logout_d = true;
                        _this.isSigned = false;

                        _this.$router.push('/');

                        window.location.reload()
                    })
                }
            }
        },
        created: function () {
            var _this = this

            // structuring a [Menu Navigation] by using Jquery append function
            window.$http.get('/categories/')
                    .then(function (result_categories) {
                        _this.categories = result_categories.data;

                        var i = 0;

                        while (i < _this.categories.length) {
                            if (_this.categories[i].name === 'BEST') {
                                $('.best').attr('id', _this.categories[i].path).attr('value', _this.categories[i].id);
                                i++;
                                continue;
                            } else if (_this.categories[i].name === 'NEW') {
                                $('.new').attr('id', _this.categories[i].path).attr('value', _this.categories[i].id);
                                i++;
                                continue;
                            } else if (_this.categories[i].name === 'EVENT') {
                                $('.event').attr('id', _this.categories[i].path).attr('value', _this.categories[i].id);
                                i++;
                                continue;
                            }

                            if (_this.categories[i].depth === 1 && _this.categories[i].numchild !== 0) {
                                var subs = [];

                                $('.topmenu').append('<li id="tm_'+ _this.categories[i].path +'" value="'+ _this.categories[i].id +'" class="mn_l1 mn_type">' +
                                                '<a class="mn_a1"><span class="mn_s1">'+ _this.categories[i].name +'</span></a>' +
                                                '<div class="depth2-wrap">' +
                                                '<ul class="depth2">' +
                                                '</ul></div></li>')
                                        .click(_this.transPage);

                                for (var child = 0; child < _this.categories[i].numchild; child++) {
                                    $('.topmenu #tm_' + _this.categories[i + child + 1].path.substring(0, 4) + ' .depth2')
                                            .append('<li id="'+ _this.categories[i + child + 1].path +'" value="'+ _this.categories[i + child + 1].id +'" class="mn_l2"><a class="mn_a2"><span class="txt">'+ _this.categories[i + child + 1].name +'</span></a></li>')
                                            .click(_this.transPage);
                                    subs.push(_this.categories[i + child + 1]);
                                }

                                i++

                            } else if (_this.categories[i].depth === 1 && _this.categories[i].numchild === 0) {
                                $('.topmenu').append('<li id=tm_"'+ _this.categories[i].path +'" value="'+ _this.categories[i].id + '" class="mn_l1 mn_type">' +
                                                '<a class="mn_a1"><span class="mn_s1">'+ _this.categories[i].name +'</span></a>' +
                                                '<div class="depth2-wrap">' +
                                                '<ul class="depth2">' +
                                                '</ul></div></li>')
                                        .click(_this.transPage);
                            }

                            i++;

                        }
                        $('.topmenu').append('<li id="tm06" class="mn_l1 mn_type "><a class="mn_a1"><span class="mn_s1">MY MENU</span></a><div class="depth2-wrap"><ul class="depth2"><li id="mypage" class="mn_l2"><a class="mn_a2" @click="transMypage"><span class="txt">MY PAGE</span></a></li></ul></div></li>');
                        $('#tm06').click(_this.transMypage);

                        initNavigation();
                    });

            // check if online or offline -> interval: 30s
            var intervalChkCookie = function () {

                window.$http.get('/login_health_check/').then(function (result) {
                    if (result.status === 204) {
                        _this.isSigned = false;
                    } else if (result.status === 200) {
                        _this.isSigned = true;
                    }
                });

                setTimeout(function () { intervalChkCookie() }, 30000);
            };

            intervalChkCookie();

            // change a number of cart items whenever cart item is added
            window.eventBus.$on('numCount', function () {
                _this.cartItemNum = window.eventBus.cartItemNum;
            })

            // delete item from CART
            window.eventBus.$on('delItem', function (data) {
                if (_this.cartItemNum > 0) _this.cartItemNum--;
            });

            // login indicator is toggled if login process is done successfully
            window.eventBus.$on('loginSuccess', function () {
                _this.isSigned = true;
            })
        }
    }
</script>

<style>
    #cartItemNum_badge {
        border: white 1px solid;
        border-radius: 50%;
        margin-left: 14px;
        padding: 0 4px;
        background-color: orange;
        box-shadow: 1px 1px 7px;
    }
</style>