<template>
  <div class="contents">
    <div class="top-vis">
      <div class="vis-txt vis-txt02"><span class="blind">join</span></div>
      <div class="vis-img vis-bg02"><img src="../assets/img/Sub/svisual-02.jpg" alt=""/></div>
    </div>
    <!-- s: page-start -->
    <div id="contents">
      <div class="join-wrap">
        <div class="fl">
          <ul>
            <li>
              <span class="btxt">이메일 주소</span>
              <input type="email" value="이메일을 입력해주세요." v-model="email" class="w100p cs-input" onfocus="clearText(this)"  onblur="defaultText(this)"/>
            </li>
            <li>
              <span class="btxt">비밀번호</span>
              <input type="password" value="최소 6자리를 입력해주세요." v-model="passwd" class="w100p cs-input" onfocus="clearText(this)"  onblur="defaultText(this)"/>
            </li>
            <li>
              <span class="btxt">비밀번호</span>
              <input type="password" value="비밀번호를 재입력 해주세요." v-model="passwordchk" class="w100p cs-input" onfocus="clearText(this)"  onblur="defaultText(this)"/>
            </li>
            <li>
              <span class="btxt">휴대폰번호</span>
              <input type="text" value="휴대폰 번호를 (’-’없이) 입력해주세요." v-model="phoneNum" class="w100p cs-input" onfocus="clearText(this)"  onblur="defaultText(this)"/>
            </li>
          </ul>
          <div class="mg30t"></div>
          <p class="join-agree"><input type="checkbox" id="sel-01" checked v-model="isEmailRecieve"/><label for="sel-01">이메일 수신 동의 (할인 정보)</label></p>
          <p class="join-agree"><input type="checkbox" id="sel-02" checked v-model="isSMSRecieve"/><label for="sel-02">SMS 수신 동의 (구매했던 상품 할인시 알림)</label></p>
        </div>
        <div class="fr">
          <p class="join-agree"><input type="checkbox" id="sel-03" checked v-model="isAgree"/><label for="sel-03">필수 약관 전체동의</label></p>
          <ul>
            <li>
              <span class="btxt">서비스 이용약관 <i>(필수)</i></span>
              <div>
                <a href="#" class="up"><span class="blind">위로</span></a>
                <a href="#" class="down"><span class="blind">아래로</span></a>
              </div>
            </li>
            <li>
              <span class="btxt">전자금융거래 이용약관 <i>(필수)</i></span>
              <div>
                <a href="#" class="up"><span class="blind">위로</span></a>
                <a href="#" class="down"><span class="blind">아래로</span></a>
              </div>
            </li>
            <li>
              <span class="btxt">개인정보 수집 / 이용약관 <i>(필수)</i></span>
              <div>
                <a href="#" class="up"><span class="blind">위로</span></a>
                <a href="#" class="down"><span class="blind">아래로</span></a>
              </div>
            </li>
          </ul>
          <a href="#" class="join-btn mg20t" @click="join"><span>가입하기</span></a>
        </div>
      </div>
    </div>
    <!-- e: page-end -->
  </div>
</template>

<script>
  import '../js/jquery/jquery-1.11.3.min'
  import 'script-loader!../js/layoutSub.js'
  import 'script-loader!../js/sub.js'
  import '../js/jquery/owl.carousel'

  export default {
    name : 'joinPage',
    data : function() {
        return {
            email : '',
            passwd : '',
            passwordchk : '',
            phoneNum : '',
            isEmailRecieve: true,
            isSMSRecieve : true,
            isAgree : true,
        }
    },
    methods : {
      join : function(ev) {
          let __this = this;

          let password_ori = __this.passwd;
          let password_chk = __this.passwordchk;

          let phoneRegExp = /^\d{10,11}$/;
          let pswdRegExp = /^[a-zA-Z0-9_]{6,20}$/;

          if (password_ori !== password_chk) {
            alert('패스워드를 다시 확인해주세요')
          }else if (!__this.isAgree) {
            alert('필수약관에 동의 해주세요')
          }else if(!phoneRegExp.test(__this.phoneNum)) {
            alert('핸드폰번호의 양식이 틀립니다. 다시 확인해주세요')
          }else if (pswdRegExp.test(password_ori)) {
            alert('패스워드는 최소6자리 이상 입력 해주세요')
          }else {

              // send a form to server and response handling

          }

      }
    }
  }
</script>

<style>@import '../js/jquery/owl.carousel.min.css';</style>
<style>@import '../assets/css/content.css';</style>
<style>@import '../assets/css/pop.css';</style>
