<template>
    <div class="contents">
        <div class="top-vis">
            <div class="vis-txt vis-txt01"><span class="blind">Login</span></div>
            <div class="vis-img vis-bg01"><img src="../assets/img/Sub/svisual-01.jpg" alt=""/></div>
        </div>
        <!-- s: page-start -->
        <div id="contents">
            <div class="login-wrap">
                <ul>
                    <li>
                        <span class="btxt">이메일 주소</span>
                        <input type="email" value="이메일" v-model="email" class="w100p cs-input" onfocus="clearText(this)"
                               onblur="defaultText(this)"/>
                    </li>
                    <li>
                        <span class="btxt">비밀번호</span>
                        <input type="password" placeholder="비밀번호" v-model="passwd" class="w100p cs-input" @keyup.enter="loginRequest"
                               onfocus="clearText(this)" onblur="defaultText(this)"/>
                    </li>
                </ul>
                <p class="login-save"><input type="checkbox" id="sel-01" v-model="loginSave" checked/><label
                        for="sel-01">아이디 저장</label></p>

                <div class="ssgap"></div>
                <a class="login-btn" @click="loginRequest"><span>로그인</span></a>
                <a href="#" class="join-btn mg15t" @click="moveToJoinPage"><span>회원가입</span></a>
            </div>
            <div class="sns-wrap">
                <ul>
                    <li><a href="#" class="c-01"><span>페이스북 로그인</span></a></li>
                    <li><a href="#" class="c-02"><span>네이버 아이디 로그인</span></a></li>
                    <li><a href="#" class="c-03"><span>카카오 로그인</span></a></li>
                </ul>
            </div>
            <ul class="login-other">
                <li><a href="#" class="c-01"><span>아이디 찾기</span></a></li>
                <li><a href="#" class="c-02"><span>비밀번호 찾기</span></a></li>
            </ul>
        </div>
        <!-- e: page-end -->
    </div>

</template>

<script>
    import '../js/jquery/jquery-1.11.3.min'
    import 'script-loader!../js/layoutSub.js'
    import 'script-loader!../js/sub.js'
    import '../js/jquery/owl.carousel'

    export default {
        name: 'loginPage',
        data: function () {
            return {
                email: '',
                passwd: '',
                loginSave: false
            }
        },
        methods: {
            loginRequest: function (ev) {
                var _this = this
                var email = this.email
                var passwd = this.passwd
                var emailPatten = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
                var passwordPatten = /((?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*_-]).{6,20})/

                // validation
                if (!emailPatten.test(email)) {
                    window.alert('유효하지 않은 E-Mail 주소 입니다. 다시 입력 해 주세요')
                    return false
                } else if (!passwordPatten.test(passwd)) {
                    window.alert('6자리 이상의 영숫자 및 특수문자(!@#$%^&*_-)를 반드시 포함해야 합니다.')
                    return false
                }

                window.$http.post('/login/', {
                    username: email,
                    password: passwd
                }, {withCredentials: true}).then(function (result) {
                    // login token은 서버에서 처리
                    window.eventBus.$emit('loginSuccess')
                    window.alert('환영합니다. ' + email + '님.')
                    var d = new Date();

                    if (_this.loginSave) {
                        d.setTime(d.getTime() + (30*24*60*60*1000));
                        var expires = "expires="+ d.toUTCString();
                        document.cookie = "email=" + email + ";" + expires + ";path=/"
                    } else {
                        setCookie('email',email,0)
                    }

                    window.eventBus.$emit('mainPageTrigger')
                    _this.$router.push('/')

                }).catch(function (err) {
                    if (err.request) {
                        if (err.request.status === 401) {
                            window.alert('잘못된 아이디 혹은 비밀번호 입니다. 다시 입력 해 주세요.')
                            $('.cs-input').eq(1).val('').focus()
                        }
                    } else {
                        window.alert(err.message)
                    }
                })
            },
            moveToJoinPage: function () {
                this.$router.push('/join')
            }
        },
        mounted: function () {
            if (getCookie('email')) {
                this.email = document.cookie.split('=')[1]
                this.loginSave = true
            }
        }
    }
</script>

<style>@import '../js/jquery/owl.carousel.min.css';</style>
<style>@import '../assets/css/content.css';</style>
<style>@import '../assets/css/pop.css';</style>

