<template>
  <!-- s: page-start -->
  <div id="contents">
    <div class="msec-visual">
      <div class="mvisual-slide">
        <div class="item c-01"><img src="../assets/img/Main/m-visual01.jpg" alt=""/></div>
        <div class="item c-02"><img src="../assets/img/Main/m-visual02.jpg" alt=""/></div>
      </div>
      <div class="visual-ctrl">
        <a class="prev"><span class="blind">이전</span></a>
        <a class="next"><span class="blind">다음</span></a>
      </div>
    </div>
    <div class="msec-con div-cont">
      <!-- msec-01 -->
      <div class="msec-01">
        <div class="msec-tit">
          <h3>SERVICES INTRODUCE</h3>
          <p>TV에서만 보던 요리를 집에서 손쉽게 만들어보세요! <span class="break">냉부해, 백선생 등 TV에 나오는 모든 요리 재료를 보내드립니다.</span>지금 바로 구매하세요!</p>
        </div>
        <div class="msec-con">
          <a>
            <div class="event">
              <p class="btxt">EVENT</p>
              <p class="stxt">겨울에 먹고싶은 그 음식! <br/> 내 손으로 직접 만들어 먹을 수 있다!</p>
              <p class="ctxt">50%<span>OFF</span></p>
              <p class="more"><span>SHOP NOW</span></p>
            </div>
          </a>
        </div>
      </div>
      <!-- msec-01 -->
      <!-- msec-02 -->
      <div class="msec-02">
        <div class="msec-tit">
          <h3>TODAY PRODUCT</h3>
          <p>오늘의 상품</p>
        </div>
        <div class="msec-con">
          <ul>
            <template v-for="item in todayProduct">
              <content-item :item-info="item"></content-item>
            </template>
          </ul>
        </div>
      </div>
      <!-- msec-02 -->
      <!-- msec-03 -->
      <div class="msec-03">
        <div class="msec-tit">
          <h3>BEST PRODUCT</h3>
          <p>베스트 상품</p>
        </div>
        <div class="msec-con">
          <ul>
            <template v-for="item in bestProduct">
              <content-item :item-info="item"></content-item>
            </template>
          </ul>
          <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
        </div>
      </div>
      <!-- msec-03 -->

      <!-- msec-04 -->
      <div class="msec-04">
        <div class="msec-tit">
          <h3>TV PROGRAM PRODUCT</h3>
        </div>
        <div class="msec-con">
          <ul class="tab">
            <li class="active" id="v-tab1"><a onClick="view_tab(1,4); return false;"><span>냉부해 <i>15분 요리</i></span></a></li>
            <li id="v-tab2"><a onClick="view_tab(2,4); return false;"><span>백선생 <i>요리</i></span></a></li>
            <li id="v-tab3"><a onClick="view_tab(3,4); return false;"><span>기타 TV <i>요리</i></span></a></li>
            <li id="v-tab4"><a onClick="view_tab(4,4); return false;"><span>나라별 <i>요리</i></span></a></li>
          </ul>
          <div id="v-con1">
            <ul class="list">
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>

              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
            </ul>
            <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
          </div>
          <div id="v-con2" class="hide">
            <ul class="list">

              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
            </ul>
            <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
          </div>
          <div id="v-con3" class="hide">
            <ul class="list">
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>

            </ul>
            <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
          </div>
          <div id="v-con4" class="hide">
            <ul class="list">

              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img02.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img03.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <div class="img"><img src="../assets/img/Main/msec03-img01.jpg" alt=""/></div>
                  <div class="txt">
                    <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                    <span class="stxt">10,000원</span>
                    <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                  </div>
                </a>
              </li>
            </ul>
            <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
          </div>
        </div>
      </div>
      <!-- msec-04 -->

      <!-- msec-05 -->
      <div class="msec-05">
        <div class="msec-tit">
          <h3>IMPORTANT PRODUCT</h3>
          <p>꼭 사야하는 상품</p>
        </div>
        <div class="msec-con">
          <ul>
            <li>
              <a>
                <div class="img"><img src="../assets/img/Main/msec02-img01.jpg" alt=""/></div>
                <div class="txt">
                  <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                  <span class="stxt">10,000원</span>
                  <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                </div>
              </a>
            </li>
            <li>
              <a>
                <div class="img"><img src="../assets/img/Main/msec02-img02.jpg" alt=""/></div>
                <div class="txt">
                  <span class="btxt">[ 냉부해 - 이연복 ]. 골풍기</span>
                  <span class="stxt">10,000원</span>
                  <span class="ctxt">구매 52  <i>리뷰 12</i></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- msec-05 -->
      <!-- msec-06 -->
      <div class="msec-06">
        <div class="msec-tit">
          <h3>NEW PRODUCT</h3>
          <p>새로운 상품</p>
        </div>
        <div class="msec-con">
          <ul>
            <template v-for="item in newProduct">
              <content-item :item-info="item"></content-item>
            </template>
          </ul>
          <div class="c mg20t"><a class="more"><span>MORE</span></a></div>
        </div>
      </div>
      <!-- msec-06 -->
    </div>
    <!-- e: page-end -->
  </div>
</template>

<script>
  import contentItem from './contentItem.vue'

  export default {
      name : 'mainContents',
      data : function() {
          return {
              todayProduct : [],
              bestProduct : [],
              newProduct : [],
              eventProduct : []
          }
      },
      components : {
        contentItem
      },

      created : function() {
          /*
            [check point]
            todayProduct, bestProduct, newProduct, eventProduct 상품 정보 땡겨와야 함
          */
          this.todayProduct = [{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },
              {
                  "url": "/products/2/",
                  "id": 2,
                  "title": "테스트상품1",
                  "images": [
                      {
                          "id": 2,
                          "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                          "caption": "",
                          "display_order": 0,
                          "date_created": "2018-05-14T11:35:42.566175+09:00",
                          "product": 2
                      }
                  ],
                  "price": {
                      "currency": "KRW",
                      "excl_tax": "9000.00",
                      "incl_tax": "9000.00",
                      "tax": "0.00"
                  }
              }];
          this.bestProduct = [{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },
              {
                  "url": "/products/2/",
                  "id": 2,
                  "title": "테스트상품1",
                  "images": [
                      {
                          "id": 2,
                          "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                          "caption": "",
                          "display_order": 0,
                          "date_created": "2018-05-14T11:35:42.566175+09:00",
                          "product": 2
                      }
                  ],
                  "price": {
                      "currency": "KRW",
                      "excl_tax": "9000.00",
                      "incl_tax": "9000.00",
                      "tax": "0.00"
                  }
              },
              {
                  "url": "/products/2/",
                  "id": 2,
                  "title": "테스트상품1",
                  "images": [
                      {
                          "id": 2,
                          "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                          "caption": "",
                          "display_order": 0,
                          "date_created": "2018-05-14T11:35:42.566175+09:00",
                          "product": 2
                      }
                  ],
                  "price": {
                      "currency": "KRW",
                      "excl_tax": "9000.00",
                      "incl_tax": "9000.00",
                      "tax": "0.00"
                  }
              }];
          this.newProduct  = [{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },{
              "url": "/products/2/",
              "id": 2,
              "title": "테스트상품1",
              "images": [
                  {
                      "id": 2,
                      "original": "http://106.255.134.194:8000/media/images/products/2018/05/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2018-05-14_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_12.33.59.png",
                      "caption": "",
                      "display_order": 0,
                      "date_created": "2018-05-14T11:35:42.566175+09:00",
                      "product": 2
                  }
              ],
              "price": {
                  "currency": "KRW",
                  "excl_tax": "9000.00",
                  "incl_tax": "9000.00",
                  "tax": "0.00"
              }
          },];
          this.eventProduct = [];
      }
  }
</script>
