<template>
    <div class="contents">
        <div class="top-vis">
            <div class="vis-txt vis-txt09"><span class="blind">ORDER</span></div>
            <div class="vis-img vis-bg09"><img src="../assets/img/Sub/svisual-09.jpg" alt=""/></div>
        </div>
        <!-- s: page-start -->
        <div id="contents">
            <div class="product-list-wrap">
                <table class="product-list-table rspvn-table">
                    <colgroup>
                        <col width=""/>
                        <col width="12%"/>
                        <col width="14%"/>
                        <col width="14%"/>
                        <col width="14%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>가격</th>
                        <th>수령예상일</th>
                        <th>선택</th>
                    </tr>
                    </thead>
                    <tbody v-for="(item, index) in cartItems" :key="item.index">
                        <cartcontentitem :cart-product="item" :id="index" :is-cart="false" ref="cartitems"></cartcontentitem>
                    </tbody>
                </table>
            </div>
            <div class="gap"></div>
            <div class="prodcut-ov">
                <div class="fl">
                    <h3>배송지 정보</h3>
                    <ul class="info-list">
                        <li>
                            <span class="btxt">배송지 선택</span>
                            <a class="deliy-btn mr2p" @click="clearForm"><span>신규 배송지</span></a>
                            <a class="deliy-btn" @click="mngDelivery"><span>배송지 관리</span></a>

                            <!-- delivary address list popup -->
                            <vodal :show="show" animation="rotate" :width="600" :height="300" :closeOnEsc="true" @hide="show = false">
                                <div class="deliveryList">
                                    <p class="deliveryList_title">배송지 리스트</p>
                                    <table class="product-list-table rspvn-table">
                                        <colgroup>
                                            <col width="10%"/>
                                            <col width="20%"/>
                                            <col width=""/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <td>선택</td>
                                                <td>배송지 이름</td>
                                                <td>주소</td>
                                            </tr>
                                        </thead>
                                        <tbody v-for="(item, index) in deliveryLists" :key="index">
                                            <tr>
                                                <td>
                                                    <input type="radio" name="deliveryAddr" :value="index" class="radio_btn">
                                                </td>
                                                <td>
                                                    {{item.last_name + item.first_name}}
                                                </td>
                                                <td>
                                                    {{item.line1 + " " + item.line2 + " " + item.line3 + " " + item.line4}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-group">
                                        <a @click="show = false">취소</a>
                                        <a @click="selectAddr">확인</a>
                                    </div>
                                </div>
                            </vodal>
                            <!-- popup end -->
                        </li>
                        <li>
                            <span class="btxt nec">이름</span>

                            <p class="mg10t"><input type="text" :value="currentAddr.first_name" class="w40p cs-input" id="name"
                                                    onfocus="clearText(this)" onblur="defaultText(this)"/></p>
                        </li>
                        <li>
                            <span class="btxt nec">주소</span>
                            <input type="text" :value="currentAddr.postcode" class="cs-input w40p" id="postNum_D"
                                   onfocus="clearText(this)" onblur="defaultText(this)"/>
                            <a href="#n" class="cr-btn post-btn"
                               @click="postNumSearch_D"><span>우편번호 <i>찾기</i></span></a>
                            <div class="sgap"></div>
                            <input type="text" :value="currentAddr.line1" id="address_D" class="w100p cs-input"
                                   onfocus="clearText(this)" onblur="defaultText(this)"/>
                            <input type="text" :value="currentAddr.line2" class="w100p mg10t cs-input" id="jibun_D"
                                   onfocus="clearText(this)" onblur="defaultText(this)"/>
                        </li>
                        <li>
                            <span class="btxt nec">연락처</span>
                            <input type="text" :value="currentAddr.phone_number" id="phoneNum" class="w100p cs-input" onfocus="clearText(this)"
                                   onblur="defaultText(this)"/>

                            <p class="check-box mg10t"><input type="checkbox" id="sel-03" v-model="saveDeliveryInfo"/><label for="sel-03">배송지 정보를
                                입력한 내용으로 저장</label></p>
                        </li>
                        <li>
                            <span class="btxt">이메일</span>
                            <input type="text" value="minicode@naver.com" class="w100p cs-input" id="useremail"
                                   onfocus="clearText(this)" onblur="defaultText(this)"/>
                        </li>
                        <li>
                            <span class="btxt">배송메시지</span>
                            <textarea onfocus="clearText(this)" class="cs-input" onblur="defaultText(this)">배송메시지, 현관 비밀번호</textarea>
                        </li>
                        <li>
                            <span class="btxt">추천인</span>
                            <input type="text" value="추천인 이메일 입력" class="w60p cs-input" onfocus="clearText(this)"
                                   onblur="defaultText(this)"/>
                            <a href="#n" class="sr-btn w30p"><span>적용</span></a>
                        </li>
                    </ul>
                </div>
                <div class="fr">
                    <h3>결제 정보</h3>
                    <ul class="info-list">
                        <li>
                            <span class="btxt">상품금액</span>
                            <span class="stxt">{{decimalWithComma(parseInt(basketinfo.total_incl_tax_excl_discounts))}} 원</span>
                        </li>
                        <li>
                            <span class="btxt">배송비</span>
                            <span class="stxt">3,000 원</span>
                        </li>
                        <li>
                            <span class="btxt">할인액</span>
                            <span class="stxt corange" style="display: block">{{decimalWithComma(parseInt(basketinfo.total_incl_tax - basketinfo.total_incl_tax_excl_discounts))}} 원</span>

                            <p class="break">
                                <a href="#n" class="cr-btn"
                                   onclick="javascript_:window.open('../Pop/pop03.php','pop', 'menubar=no,status=no,scrollbars=yes,resizable=no ,width=600,height=660,top=150,left=350');"><span>쿠폰조회 및 변경</span></a>
                                <a href="#n" class="cw-btn mg10" @click="registerCoupon"><span>쿠폰 등록</span></a>
                            </p>
                        </li>
                        <li class="sel">
                            <span class="btxt">포인트 사용</span>

                            <div class="point">
                                사용 가능 포인트 : <input type="text" value="500원" class="corange"/>
                            </div>
                        </li>
                    </ul>
                    <div class="info-buy">
                        <p class="btxt">결제금액</p>

                        <p class="stxt">{{decimalWithComma(parseInt(basketinfo.total_incl_tax) + 3000)}} 원</p>
                    </div>
                    <div class="info-due">
                        <div>
                            <span class="btxt">적립 예정액</span>
                            <span class="stxt">1,000원 - 2,000원(약 7%)</span>
                            <span class="ctxt">(배송 완료 후 후기 작성시)</span>
                        </div>
                    </div>
                    <div class="sgap"></div>
                    <h3>결제 방법</h3>
                    <ul class="btn-wrap" id="order_method">
                        <li><a class="sw-btn is-active" @click.self="sel_orderMethod" value="kpay"><span>카드 간편결제</span></a></li>
                        <li><a class="sw-btn" @click.self="sel_orderMethod" value="card"><span>일반 신용카드</span></a></li>
                        <li><a class="sw-btn" @click.self="sel_orderMethod" value="vbank"><span>무통장입금</span></a></li>
                        <li><a class="sw-btn" @click.self="sel_orderMethod" value="trans"><span>실시간계좌이체</span></a></li>
                    </ul>
                    <div class="u-line"></div>
                    <a href="#n" class="ex">결제가 안되시나요?</a>
                    <div class="order-btn" @click="order">결제하기</div>

                    <div class="buy-no-wrap">
                        <div class="is-top">
                            <a href="#n" class="close"><span class="blind">닫기</span></a>
                        </div>
                        <h4>결제방법</h4>
                        <ul class="btn-wrap order">
                            <li><button type="button" class="sw-btn w100p"><span>카드 간편결제</span></button></li>
                            <li><button type="button" class="sw-btn w100p"><span>일반 신용카드</span></button></li>
                            <li><button type="button" class="sw-btn w100p"><span>무통장입금</span></button></li>
                            <li><button type="button" class="sw-btn w100p"><span>실시간계좌이체</span></button></li>
                        </ul>
                        <p class="tit">PC 크롬 / Safari / 기본 인터넷 앱을 이용해주세요.</p>
                        <ul class="write-wrap order">
                            <li>
                                <input type="text" value="기종과 브라우저" class="w100p cs-input" onfocus="clearText(this)"
                                       onblur="defaultText(this)"/>
                            </li>
                            <li>
                                <input type="text" value="연락처" class="w100p cs-input" onfocus="clearText(this)"
                                       onblur="defaultText(this)"/>
                            </li>
                            <li>
                                <textarea class="w100p cs-input" onfocus="clearText(this)" onblur="defaultText(this)">장애 내용을 적어주세요. 최대한 빨리 연락 드리겠습니다.</textarea>
                            </li>
                        </ul>
                        <div class="sgap"></div>
                        <div class="c">
                            <a href="#" class="sw-btn"><span>취소</span></a>
                            <a href="#" class="sr-btn"><span>장애접수</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- e: page-end -->
    </div>
</template>

<script>
    import 'script-loader!../js/jquery/table.rspnsv'
    import cartcontentitem from './cartPage_sub/cartContent_Item.vue'

    export default {
        name: 'orderPage',
        data: function () {
            return {
                basketinfo: {},
                cartItems: [],
                show: false,
                deliveryLists: [],
                selectedItem: '',
                currentAddr: {},
                saveDeliveryInfo: false
            }
        },
        components: {
            cartcontentitem
        },
        methods: {
            order: function () {
                var _this = this
                var orderMethod = $('.sw-btn.active').attr('value')
                var email = $('#useremail').text()

                window.$http.get('/login_health_check/')
                        .then(function (result_login) {
                            if (result_login.status === 204) {
                                _this.currentAddr['country'] = 'http://prod.pj7wmuh3xm.ap-northeast-2.elasticbeanstalk.com/api/countries/KO/'
                                _this.currentAddr['first_name'] = $('#name').val()
                                _this.currentAddr['line1'] = $('#address_D').val()
                                _this.currentAddr['line2'] = $('#jibun_D').val()
                                _this.currentAddr['phone_number'] = $('#phoneNum').val()
                                _this.currentAddr['postcode'] = $('#postNum_D').val()

                                if (_this.saveDeliveryInfo) {
                                    alert('주소록을 사용하기 위해서는 로그인이 필요합니다')
                                    return false
                                }
                            } else if ( result_login.status === 200) {
                                _this.currentAddr['country'] = 'http://prod.pj7wmuh3xm.ap-northeast-2.elasticbeanstalk.com/api/countries/KO/'
                                _this.currentAddr.first_name = $('#name').val()
                                _this.currentAddr.line1 = $('#address_D').val()
                                _this.currentAddr.line2 = $('#jibun_D').val()
                                _this.currentAddr.phone_number = $('#phoneNum').val()
                                _this.currentAddr.postcode = $('#postNum_D').val()

                                if (_this.saveDeliveryInfo) {
                                    if (_this.currentAddr.id) {
                                        window.$http.patch('/useraddresses/' + patchID + '/', _this.currentAddr)
                                    } else {
                                        window.$http.post('/useraddresses/', _this.currentAddr)
                                    }
                                }
                            }

                            // require content check
                            if (_this.currentAddr.first_name.trim() === '' || _this.currentAddr.line1.trim() === ''
                                    || _this.currentAddr.line2.trim() === ''|| _this.currentAddr.phone_number.trim() === ''
                                    || _this.currentAddr.postcode.trim() === '') {
                                alert('필수항목을 입력해주세요')
                                return false
                            }

                            window.$http.post('/checkout/', {
                                basket: _this.basketinfo.url,
                                shipping_address: _this.currentAddr,
                                total: _this.basketinfo.total_incl_tax,
                                guest_email: 'test@yoribogo.co.kr'
                            }).then(function (result_chkout) {
                                var orderID = result_chkout.data.number
                                var totalCost = result_chkout.data.total_incl_tax
                                var itemName = _this.$refs.cartitems[0].iteminfo.product.title

                                IMP.request_pay({
                                    pg: 'inicis',
                                    pay_method: orderMethod,
                                    merchant_uid: orderID,
                                    amount: parseInt(totalCost),
                                    buyer_tel: result_chkout.data.shipping_address.first_name,
                                    buyer_addr: result_chkout.data.shipping_address.line1 + ' ' + result_chkout.data.shipping_address.line2,
                                    buyer_postcode: result_chkout.data.postcode,
                                    buyer_email: email,
                                    name: itemName
                                }, function (rsp) {
                                    if (rsp.success) {
                                        console.log('결제가 완료되었습니다.')
                                    } else {
                                        console.log(rsp.error_msg)
                                        window.$http.post('/checkout_cancel/', {number: result_chkout.data.number, basket: result_chkout.data.basket})
                                                .then(function (result_cancel) {
                                                    // 바스켓을 복구 합니다
                                                    var restItems = window.eventBus.restItems
                                                    for (var i in restItems) {
                                                        window.$http.post('/basket/add-product/', restItems[i])
                                                    }
                                                })
                                    }
                                })
                            })
                        })
            },
            sel_orderMethod: function (ev) {
                if ($('.is-active').length !== 0) {
                    $('.is-active').removeClass('is-active')
                }
                $(ev.target).addClass('is-active')
            },
            clearForm: function (ev) {
                $('.cs-input').val('')
                this.currentAddr = {}
            },
            mngDelivery: function (ev) {
                var _this = this

                window.$http.get('/useraddresses').then(function (result) {
                    _this.deliveryLists = result.data
                    _this.show = true
                }).catch(function (err) {
                    if (err.response.status === 403) {
                        alert('Login이 필요한 서비스 입니다. 로그인 후 다시 이용해 주세요.')
                        return false
                    }
                })
            },
            selectAddr: function (ev) {
                var selectedItem = $('.radio_btn:checked').val()
                var addr = this.deliveryLists[parseInt(selectedItem)]
                this.currentAddr = addr
                var phone = addr.phone_number.replace('+82','0')

                $('#name').val(addr.last_name + addr.first_name)
                $('#postNum_D').val(addr.postcode)
                $('#phoneNum').val(phone)
                $('#address_D').val(addr.line1)
                $('#jibun_D').val(addr.line2)

                this.show = false
            },
            postNumSearch_D: function () {

                this.postNumSearch('postNum_D', 'address_D', 'jibun_D')

            },
            postNumSearch: function (postId, addressId, jibunId) {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
                        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                        if (fullRoadAddr !== '') {
                            fullRoadAddr += extraRoadAddr;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById(postId).value = data.zonecode; //5자리 새우편번호 사용
                        document.getElementById(addressId).value = fullRoadAddr;
//                document.getElementById(jibunId).value = data.jibunAddress;

                    },
                }).open({
                    popupName: 'postNumSearch_window',
                    autoClose: true
                });
            },
            decimalWithComma: function (decimal) {
                return decimal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            registerCoupon: function () {
                window.eventBus.$emit('openModal', 'coupon')
            }
        },
        created: function () {
            var _this = this
            this.basketinfo = this.$route.query
            var basketLine = this.$route.query.lines
            window.$http.get(basketLine).then(function (result) {
                for (var i in result.data) {
                    var lineinfo, product, quantity;

                    lineinfo = result.data[i].url
                    product = result.data[i].product
                    quantity = result.data[i].quantity

                    var item = {
                        lineinfo: lineinfo,
                        product: product,
                        quantity: quantity
                    }

                    _this.cartItems.push(item)
                }
            })
            window.$http.get('/useraddresses/')
                    .then(function (result) {
                        for (var i in result.data) {
                            if (result.data[i].is_default_for_shipping) {
                                _this.currentAddr = result.data[i]
                            }
                        }
                    })
                    .catch(function (err) {
                        _this.currentAddr = {}
                    })

        },
        destroyed: function () {
            // 바스켓을 복구 합니다
            var restItems = window.eventBus.restItems
            for (var i in restItems) {
                window.$http.post('/basket/add-product/', restItems[i])
            }
        }
    }
</script>

<style>
    @import '../assets/css/content.css';
    @import "vodal/common.css";
    @import "vodal/rotate.css";
    @import "vodal/slide-up.css";

    .deliveryList_title {
        font-size: 2rem;
        font-weight: bold;
        height: 5vh;
        padding: 10px 5px 0;
    }
    .btn-group {
        width: 35%;
        position: absolute;
        left: 60%;
        top: 80%;
    }
    .btn-group a:first-child {
        color:#e0d7c5;border:1px solid #e0d7c5;background-color:transparent;margin-right: 5px;
    }
    .btn-group a:first-child:hover {
        background-color: #ff5a00;
        box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
    }
    .btn-group a {
        display:inline-block; width:48%;height:29px;text-align:Center; box-sizing:border-box; border:none; padding-left:0; font-size:15px; font-weight:400; color:#e0d7c5;border:1px solid #ff5a00;background-color: #ff5a00;
        padding-top: 5px;
        cursor: pointer;
    }
    .btn-group a:hover {
        background-color: #444;
        border: none;
        box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
    }
    .order-btn {
        font-size: 1rem;
        display: block;
        background-color: #ff5a00;
        border: none;
        text-align: center;
        color: white;
        line-height: 42px;
        margin: 15px 0;
        cursor: pointer;
    }
    .order-btn:hover {
        background-color: #444;
        box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.2);
    }
    .is-active {
        background-color: #444;
        color: white;
    }
</style>