<template>
    <div class="contents">
        <div class="top-cate">
            <div class="vis-txt"><span class="ico"></span><span class="txt">{{targetParent}}</span></div>
            <div class="vis-img"><img src="../assets/img/Sub/svisaul-cate.jpg" alt=""/></div>
        </div>
        <div id="subNavi-wrap">
            <div id="subNavi">
                <div class="catemenu" id="catemenu">
                    <ul class="depth2">
                        <template v-for="(list,index) in subCategories">
                            <li :id="list.path" :value="list.id" class='lm_l2'>
                                <a class='lm_a2'><span @click="movePage">{{list.name}}</span></a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
        <!-- s: page-start -->
        <contents :sub-title="subTitle" :contents-menu="contentsMenu"></contents>
        <!-- e: page-end -->
    </div>
</template>


<script>
    import contents from './subPage_Contents.vue'

    import 'script-loader!../js/layoutSub.js'
    import 'script-loader!../js/sub.js'
    import '../js/jquery/owl.carousel'

    export default {
        name: 'topmenuInner',
        data: function () {
            return {
                targetParent: '', // a name of parent category
                targetId: '',     // a id of child category to get a data from server
                childId: '',    // a delimiter of children
                contentsMenu: [],   //displayed contents of category, props to content-page
                subCategories: [],
                subTitle: ''
            }
        },
        components: {
            contents
        },
        watch: {
            $route: function (from, to) {
                var _this = this;

                this.initNavigation();

                window.$http.get('/categories/' + _this.targetId + '/')
                        .then( function (result) {
                            _this.contentsMenu = result.data
                        })
            },
            childId: function () {
                var _this = this;

                _this.$nextTick(function () {_this.targetPageOverClassMove()})
            }
        },
        methods: {
            targetPageOverClassMove: function () {
                // 'over' class is appended to a target subcategory when changing a subcategory in this page
                // @trigger point -> mounted HOOK, whenever childId's value is changed
                var _this = this;

                if ($('.over').length !== 0) {
                    $('.over').removeClass('over');
                }

                $('.lm_l2').eq(parseInt(_this.childId) - 1).addClass('over');

            },
            movePage: function (ev) {
                var _this = this;
                var targetSmenu = $(ev.target).parentsUntil('ul')[1];

                _this.childId = targetSmenu.id;
                _this.targetId = targetSmenu.value;

                // get a subCategory's name by using a childId
                for (var i in _this.subCategories) {
                    if (_this.subCategories[i].path === _this.childId) {
                        _this.subTitle = _this.subCategories[i].name
                    }
                }

                $('#contents').addClass('pageMoveAnime');
                setTimeout(function () {
                    $('#contents').removeClass('pageMoveAnime')
                }, 1000);

                window.$http.get('/categories/' + _this.targetId + '/')
                        .then( function (result) {
                            _this.contentsMenu = result.data
                        })
            },
            initNavigation: function () {
                var _this = this;

                // binding variables from a router query
                _this.targetId = _this.$route.query.categoryID;
                _this.childId = _this.$route.query.childID;

                // get a subtree related in target category
                window.$http.get('/category_data/?id=' + _this.targetId)
                        .then(function (result) {
                            _this.targetParent = result.data.parent.name;
                            if (result.data.children) {
                                _this.subCategories = result.data.children;
                                _this.subTitle = result.data.children[parseInt(_this.childId) - 1].name;
                            } else {
                                _this.subTitle = result.data.parent.name;
                            }
                            _this.$nextTick(function () {
                                _this.targetPageOverClassMove();
                            })
                        })
            }
        },
        mounted: function () {
            var _this = this;

            this.initNavigation();

            window.$http.get('/categories/' + _this.targetId + '/')
                    .then( function (result) {
                        _this.contentsMenu = result.data
                    })
        }
    }
</script>

<style>@import '../js/jquery/owl.carousel.min.css';</style>
<style>@import '../assets/css/content.css';</style>
<style>@import '../assets/css/pop.css';</style>
<style>@import '../js/jquery/slick-theme.css';</style>
<style>@import '../js/jquery/slick.css';</style>
<style>@import '../assets/css/common.css';</style>
<style>@import '../assets/css/styleDefault.css';</style>
<style>
    .pageMoveAnime {
        animation: fadeInRight 2s
    }
</style>