<template>
    <!-- s: page-start -->
    <div id="contents">
        <h3 class="u-tit01"><span>{{subTitle}}의 레시피</span></h3>
        <ul class="u-tab01">
            <li class="active" @click="totalPageSort('review')"><a><span>상품평 <i>많은순</i></span></a></li>
            <li><a @click="totalPageSort('buyCount')"><span>최근 <i>인기순</i></span></a></li>
            <li><a @click="totalPageSort('discount')"><span>할인율순</span></a></li>
            <li><a @click="totalPageSort('cost')"><span>낮은 <i>가격순</i></span></a></li>
            <li><a @click="totalPageSort('new')"><span>신상품순</span></a></li>
        </ul>
        <div class="cate-list-wrap">
            <ul class="list">
                <content-item :item-info="item" v-for="item in currentPage" :key="item.id"></content-item>
            </ul>
            <div class="sgap"></div>

            <div class="paging-wrap">
                <div class="round">
                    <a href="#subNavi-wrap" class="prev ctrl" @click="ctrlPage('prev')"><span
                            class="blind">이전 페이지로</span></a>
                    <ul>
                        <template v-for="(item, index) in pagination">
                            <li><a href="#subNavi-wrap" @click="tranPage">{{index + 1}}</a></li>
                        </template>
                        <li v-if="pagination.length > 5"><a href="#">...</a></li>
                    </ul>
                    <a href="#subNavi-wrap" class="next ctrl" @click="ctrlPage('next')"><span
                            class="blind">다음페이지로</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- e: page-end -->
</template>

<script>
    import contentItem from './contentItem.vue'
    import Pagination from '../js/pagenation'

    export default {
        name: 'contents',
        props: ['subTitle', 'contentsMenu'],
        components: {
            contentItem
        },
        data: function () {
            return {
                alineKey: '',
                totalItems: [],  // this.contentMenu
                pagination: [],
                currentPage: [],
                pageNum: 999
            }
        },
        watch: {
            contentsMenu : function () {
                this.totalItems = this.contentsMenu
            },
            totalItems: function () {
                this.mollocPage();
            },
            pageNum: function () {
                var _this = this
                if (_this.pageNum === 0) {
                    $('.paging-wrap .prev').addClass('block')
                }
                console.log(_this.pagination.length)
                if (_this.pageNum === _this.pagination.length - 1) {
                    $('.paging-wrap .next').addClass('block')
                }
            }
        },
        methods: {
            ctrlPage: function (direction) {
                var _this = this
                _this.pageNum = parseInt($('.active').text())
                $('.active').removeClass('active')
                if (direction === 'prev') {
                    if (_this.pageNum !== 1 && _this.pageNum > 0) {
                        this.currentPage = this.pagination[_this.pageNum - 2]
                        $('.paging-wrap li').eq(_this.pageNum - 2).addClass('active')
                    }
                } else if (direction === 'next') {
                    if (_this.pageNum < this.pagination.length) {
                        this.currentPage = this.pagination[_this.pageNum]
                        $('.paging-wrap li').eq(_this.pageNum).addClass('active')
                    }
                }
            },
            tranPage: function (ev) {
                var _this = this
                _this.pageNum = parseInt($(ev.target).text())
                _this.currentPage = _this.pagination[_this.pageNum - 1]
                $('.active').removeClass('active')
                $(ev.target).parent().addClass('active')
            },
            mollocPage: function () {
                var _this = this;

                _this.pagination = Pagination.pagination(_this.totalItems, 9)
                _this.currentPage = _this.pagination[0]
                _this.pageNum = 0

                _this.$nextTick(function () {
                    $('.paging-wrap').find('li:first').addClass('active');
                    if (_this.pageNum === _this.pagination.length - 1) {
                        $('.paging-wrap .next').addClass('block')
                    }
                })
            },
            // 정렬 기능
            totalPageSort: function (aline) {
                let _this = this;

                if (aline === 'cost') {
                    _this.totalItems.sort(function (a, b) {
                        return a.price.incl_tax - b.price.incl_tax
                    })
                } else if (aline === 'review') {
                    _this.totalItems.sort(function (a, b) {
                        return a.review_count - b.review_count
                    })
                } else if (aline === 'buyCount') {
                    _this.totalItems.sort(function (a, b) {
                        return b.sell_count - a.sell_count
                    })
                }
            }
        },
        mounted: function () {
            var _this = this;

            _this.mollocPage();

            _this.$nextTick(function () {
                _this.pageNum = 0;
            })
        }
    }
</script>

<style>
    .block {
        pointer-events: none;
        opacity: 0.3;
    }
</style>