<template>
    <div id="body-wrap">
        <div id="skipNavi">
            <h1 class="blind">요리보고 스킵네비게이션</h1>
            <ul>
                <li><a class="skipLink">본문바로가기</a></li>
                <li><a class="skipLink">주메뉴바로가기</a></li>
            </ul>
        </div>
        <!-- s: #doc //-->
        <div id="doc">
            <!-- s: .doc-pg //-->
            <div id="pg-code" class="doc-pg">
                <!-- top-popup -->
                <div class="top-popup">
                    <div class="top-slide">
                        <div class="item"><img src="./assets/img/Layout/top-banner01.jpg" alt="top-banner"></div>
                        <div class="item"><img src="./assets/img/Layout/top-banner01.jpg" alt="top-banner"></div>
                    </div>
                    <a class="close"><span class="blind">닫기</span></a>
                </div>
                <!-- top-poup -->

                <!-- s : header-wrap -->
                <header-inc @transSubPage="transSubPage">

                </header-inc>
                <!-- e : header-wrap -->

                <!-- s: #container-wrap //-->
                <div id="container-wrap" :class="[isMain ? 'mcontainer' : 'scontainer', !isMain ? 'div-cont' : '']">
                    <!-- switch pages along to router table -->

                    <router-view></router-view>

                </div>

                <!-- 배송지 정보 입력 Popup -->
                <vodal :show="openDelivery" animation="rotate" :width="700" :height="711" :closeOnEsc="true" @hide="openDelivery = false">
                    <div class="delivery-addr-wrap">
                        <div class="gap"></div>
                        <h3>배송 주소록</h3>
                        <ul>
                            <li>
                                <span class="btxt">배송지명</span>
                                <input type="text" class="cs-input" value="집, 회사, 친구네" v-model="delivaryName"
                                       onfocus="clearText(this)" onblur="defaultText(this)"/>
                            </li>
                            <li>
                                <span class="btxt nec">수령인</span>
                                <input type="text" class="cs-input" value="이름" v-model="recievedName" onfocus="clearText(this)"
                                       onblur="defaultText(this)"/>
                            </li>
                            <li>
                                <span class="btxt nec">우편번호 </span>

                                <p>
                                    <input type="text" value="우편번호" class="cs-input post-input" id="edit_postNum"
                                           onfocus="clearText(this)" onblur="defaultText(this)"/>
                                    <a class="cr-btn post-btn" @click="postNumSearch('edit_postNum','edit_address')"><span>우편번호 <i>찾기</i></span></a>
                                </p>

                                <p class="mg15t"><input type="text" value="주소" id="edit_address" class="cs-input w500"
                                                        onfocus="clearText(this)" onblur="defaultText(this)"/></p>

                                <p class="mg15t"><input type="text" value="상세 주소" class="cs-input w500" v-model="detailAddr"
                                                        onfocus="clearText(this)" onblur="defaultText(this)"/></p>
                            </li>
                            <li>
                                <span class="btxt nec">연락처</span>
                                <input type="text" value="연락처" class="cs-input" v-model="phoneNum" onfocus="clearText(this)"
                                       onblur="defaultText(this)"/>

                                <div><p class="check-box mg15t"><input type="checkbox" v-model="isDefaultAddr"
                                                                       id="sel-03"/><label for="sel-03">기본 배송지로 설정</label></p>
                                </div>
                            </li>
                        </ul>
                        <div class="gap"></div>
                        <div class="btn-wrap c">
                            <a class="sw-btn w200" @click="openDelivery = false"><span>취소</span></a>
                            <a class="sr-btn w200" @click="registerDelivary"><span>등록</span></a>
                        </div>
                    </div>
                </vodal>
                <!-- popup-end -->

                <!--s: 쿠폰등록_popup(쿠폰등록) -->
                <vodal :show="openCoupon" animation="rotate" :width="700" :height="300" :closeOnEsc="true" @hide="openCoupon = false">
                    <div class="layer-pop coupon">
                        <!-- <div class="is-top">
                                <a href="#" class="cr-btn"><span>쿠폰 등록하기</span></a>
                                <a href="#n" class="close"><span class="blind">닫기</span></a>
                            </div> -->
                        <h4 class="c">쿠폰등록</h4>
                        <div class="code write">
                            <span class="btxt nec">할인코드</span>
                            <input type="text" class="w100p cs-input" onfocus="clearText(this)"  onblur="defaultText(this)"/>
                        </div>

                        <div class="gap"></div>
                        <div class="c">
                            <a href="#" class="sw-btn" @click="openCoupon = false"><span>취소</span></a>
                            <a href="#" class="sr-btn"><span>등록</span></a>
                        </div>
                    </div>
                    <!--e: 쿠폰등록_popup(쿠폰등록) -->
                </vodal>

                <!-- e: #container-wrap //-->
                <footer-inc></footer-inc>
            </div>
        </div>
    </div>
</template>

<script>
    import headerInc from './components/headerInc'
    import footerInc from './components/footerInc'

    import './js/jquery/jquery-1.11.3.min.js'

    import 'script-loader!./js/jquery/jquery.easing.1.3.js'
    import './js/jquery/jquery.mousewheel.js'
    import './js/jquery/slick.js'
    import 'script-loader!./js/common.js'
    import 'script-loader!./js/defalut.js'
    import 'script-loader!./js/layoutMain.js'
    import 'script-loader!./js/main.js'

    export default {
        name: 'App',
        data: function () {
            return {
                isMain: false, // toggle if isMain page or not
                openDelivery: false, // toggle popup window
                openCoupon: false,
                // variables in the popup window
                recievedName: '',
                delivaryName: '',
                phoneNum: '',
                detailAddr: '',
                isDefaultAddr: false
            }
        },
        components: {
            headerInc,
            footerInc
        },
        methods: {
            // toggle a container-wrap's class along to where is current page
            transSubPage: function () {
                this.isMain = false;
            },
            registerDelivary: function () {
                var info = {
                    note: this.delivaryName,
                    first_name: this.recievedName,
                    postcode: $('#edit_postNum').val(),
                    line1: $('#edit_address').val(),
                    line2: this.detailAddr,
                    phone_number: this.phoneNum.replace('0', '+82'),
                    is_default_for_shipping: this.isDefaultAddr,
                    country: 'http://prod.pj7wmuh3xm.ap-northeast-2.elasticbeanstalk.com/api/countries/KO/'
                };

                // DOM update
                window.eventBus.$emit('updateDeliveryAddr', info);
                // send a result to server
                window.$http.post('/useraddresses/', info)
                        .catch(function (err) {
                            alert(err.message);
                        });

                this.openDelivery = false;
            },
            postNumSearch: function (postId, addressId) {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
                        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                        if (fullRoadAddr !== '') {
                            fullRoadAddr += extraRoadAddr;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById(postId).value = data.zonecode; //5자리 새우편번호 사용
                        $('#' + postId).trigger('change');
                        document.getElementById(addressId).value = fullRoadAddr;
                        $('#' + addressId).trigger('change');
                        //    document.getElementById(jibunId).value = data.jibunAddress;
                    }
                }).open({
                    popupName: 'postNumSearch_window',
                    autoClose: true
                });
            }
        },
        mounted: function () {
            var _this = this;

            // when window is reloaded, check if there is a mainPage or subPage
            _this.$route.path !== '/' ? _this.isMain = false : _this.isMain = true

            window.eventBus.$on('mainPageTrigger', function () {
                _this.isMain = true
            });
            window.eventBus.$on('openModal', function(modalName) {
                if (modalName === 'delivery') {
                    _this.openDelivery = true
                } else if (modalName === 'coupon') {
                    _this.openCoupon = true
                }
            });

            // topmanu.js function, init a navigation by menual
            initNavigation();
        }
    }
</script>

<style>@import './js/jquery/slick-theme.css';</style>
<style>@import './js/jquery/slick.css';</style>
<style>@import './assets/css/common.css';</style>
<style>@import './assets/css/styleDefault.css';</style>
<style>@import './assets/css/layout.css';</style>
<style>@import './assets/css/main.css';</style>
<style>@import './js/jquery/animate.css';</style>
<style>
    .vodal {
        z-index: 2010 !important;
    }
    .vodal-dialog {
        z-index: 2011 !important;
    }
</style>
